@* Footer  *@
<div class="VwOyDp Wh100p">
    <div class="DyFx CrBdTe70Lt91 Pg8 FxWpNo CrTeTtLt FtWt600">
        <div class="TtAnLt">Web Tool</div>
        <div class="FxGw1 TtAnRt">
            Celebrate Tech © 2008 - 2024
        </div>
    </div>
</div>