

<section class="NvSdSn BrTpRtRs10 CrBdWe">

    <div class="NvSd">

        @* Logo Container  *@
        <div class="NvSdLoSn BrTpRtRs10 Wh100p DyFx FxDnCn">

            <div class="NvSdLo">
                 <i class="Lg-CelebrateTech FtSe70 CrTe"></i>
            </div>
            <div class="NvSdBnLk DyFx FxJyCtFxEd">
                <i class="CT-SlideLeft CrurPr NvSdMin"></i>
                <i class="CT-DivClose CrurPr NvSdHide"></i>
            </div>

        </div>

        <div class="NvSdDnLtRt CrBdWe95">
            <div class="NvSdDnLtRtCt CrBdWe95"> <!-- content -->

                @* Nav Side Link Section  *@
                <div class="NvSdLkSn">

                @* Link Contiainer Start Here Section  *@
                <div class="NvSdLkCr">

                    @* Link  *@
                    <div class="NvSdLk DyFx FxAnIsSt Wh100p CrurPr" LkName="Start_Here">
                        <div class="DyFx Fx1">
                            <div><i class='CT-GlobeSolid FtSe15'></i></div>
                            <span class="Wh100p MnLt4">Start Here</span>
                        </div>
                        <div><i class='CT-ArrowDownCircleSolid FtSe15'></i></div>
                    </div>

                    @* Sub Link Section  *@
                    <div class="NvSdSbLkSn DyNe">

                        @* sub link container  *@
                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Introduction">
                                <div><i class='CT-AccountLine FtSe15'></i></div>
                                <a href="~/Welcome/Introduction" class="NvSdLkNe Wh100p">Introduction</a>
                            </div>
                        </div>

                        @* sub link container  *@
                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Download">
                                <div><i class='CT-AccountLine FtSe15'></i></div>
                                <a href="~/Welcome/Download" class="NvSdLkNe Wh100p">Download</a>
                            </div>
                        </div>

                        @* sub link container  *@
                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Syntax">
                                <div><i class='CT-AccountLine FtSe15'></i></div>
                                <a href="~/Welcome/Syntax" class="NvSdLkNe Wh100p">Syntax</a>
                            </div>
                        </div>

                    </div>

                </div>

                @* Css / Core Concepts*@
                <div class="NvSdLkCr">

                    @* link  *@
                    <div class="NvSdLk CrurPr" LkName="Core_concepts">
                        <div class="DyFx Fx1">
                            <div><i class='CT-GlobeSolid FtSe15'></i></div>
                            <span class="Wh100p MnLt4">Core Concepts</span>
                        </div>
                        <div><i class='CT-ArrowDownCircleSolid FtSe15'></i></div>
                    </div>

                    @* sub link section  *@
                    <div class="NvSdSbLkSn DyNe">

                        @* sub link container  *@
                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Aspect_Ratio">
                                <div class="DyFx">
                                    <div><i class='CT-AddStepLine FtSe15'></i></div>
                                    <a href="~/CSS/AspectRatio" class="MnLt4 Wh100p">Aspect Ratio</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Border_Radius">
                                <div class="DyFx">
                                    <div><i class='CT-AppsSolid FtSe15'></i></div>
                                    <a href="~/CSS/BorderRadius" class="MnLt4 Wh100p">Border Radius</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Border_Size">
                                <div class="DyFx">
                                    <div><i class='CT-CalenderLine FtSe15'></i></div>
                                    <a href="~/CSS/BorderSize" class="MnLt4 Wh100p">Border Size</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Border_style">
                                <div class="DyFx">
                                    <div><i class='CT-AdminBook FtSe15'></i></div>
                                    <a href="~/CSS/BorderStyle" class="MnLt4 Wh100p">Border Style</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Cursor">
                                <div class="DyFx">
                                    <div><i class='CT-AdminBook FtSe15'></i></div>
                                    <a href="~/CSS/Cursor" class="MnLt4 Wh100p">Cursor</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Display">
                                <div class="DyFx">
                                    <div><i class='CT-BillMultipleLine FtSe15'></i></div>
                                    <a href="~/CSS/Display" class="MnLt4 Wh100p">Display</a>
                                </div>
                            </div>
                        </div>
                        @* sub link container  *@
                        <div class="NvSdSbLkCr">

                            @* sub link  *@
                            <div class="NvSdSbLk CrurPr" SbLkName="Flex">
                                <div class="DyFx Fx1">
                                    <div><i class='CT-GlobeSolid FtSe15'></i></div>
                                    <span class="Wh100p MnLt4">Flex</span>
                                </div>
                                <div><i class='CT-ArrowDownCircleSolid FtSe15'></i></div>
                            </div>

                            @* sub sub link container *@
                            <div class="NvSdSbSbLkCr">

                                @* sub sub link  *@
                                <div class="NvSdSbSbLk" SbSbLkName="Flex_Alignment">
                                    <div class="DyFx">
                                        <div><i class='CT-AccountLine FtSe15'></i></div>
                                        <a href="~/CSS/FlexAlignment" class="Wh100p MnLt4">Flex Alignment</a>
                                    </div>
                                </div>
                                <div class="NvSdSbSbLk" SbSbLkName="Flex_Direction">
                                    <div class="DyFx">
                                        <div><i class='CT-AccountLine FtSe15'></i></div>
                                        <a href="~/CSS/FlexDirection" class="Wh100p MnLt4">Flex Direction</a>
                                    </div>
                                </div>
                                <div class="NvSdSbSbLk" SbSbLkName="Flex_Grow">
                                    <div class="DyFx">
                                        <div><i class='CT-AccountLine FtSe15'></i></div>
                                        <a href="~/CSS/FlexGrow" class="Wh100p MnLt4">Flex Grow</a>
                                    </div>
                                </div>
                                <div class="NvSdSbSbLk" SbSbLkName="Flex_Position">
                                    <div class="DyFx">
                                        <div><i class='CT-AccountLine FtSe15'></i></div>
                                        <a href="~/CSS/FlexPosition" class="Wh100p MnLt4">Flex Position</a>
                                    </div>
                                </div>
                                <div class="NvSdSbSbLk" SbSbLkName="Flex_Size">
                                    <div class="DyFx">
                                        <div><i class='CT-AccountLine FtSe15'></i></div>
                                        <a href="~/CSS/FlexSize" class="Wh100p MnLt4">Flex Size</a>
                                    </div>
                                </div>
                                <div class="NvSdSbSbLk" SbSbLkName="Flex_Width">
                                    <div class="DyFx">
                                        <div><i class='CT-AccountLine FtSe15'></i></div>
                                        <a href="~/CSS/FlexWidth" class="Wh100p MnLt4">Flex Width</a>
                                    </div>
                                </div>                               
                            </div>
                        </div>
                        @* sub link  *@
                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Font">
                                <div class="DyFx">
                                    <div><i class='CT-BillMultipleLine FtSe15'></i></div>
                                    <a href="~/CSS/Font" class="MnLt4 Wh100p">Font</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Gap">
                                <div class="DyFx">
                                    <div><i class='CT-BillMultipleLine FtSe15'></i></div>
                                    <a href="~/CSS/Gap" class="MnLt4 Wh100p">Gap</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Height">
                                <div class="DyFx">
                                    <div><i class='CT-BillMultipleLine FtSe15'></i></div>
                                    <a href="~/CSS/Height" class="MnLt4 Wh100p">Height</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Margin">
                                <div class="DyFx">
                                    <div><i class='CT-CalenderLine FtSe15'></i></div>
                                    <a href="~/CSS/Margin" class="MnLt4 Wh100p">Margin</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Padding">
                                <div class="DyFx">
                                    <div><i class='CT-CalenderLine FtSe15'></i></div>
                                    <a href="~/CSS/Padding" class="MnLt4 Wh100p">Padding</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Spacing">
                                <div class="DyFx">
                                    <div><i class='CT-CalenderLine FtSe15'></i></div>
                                    <a href="~/CSS/Spacing" class="MnLt4 Wh100p">Spacing</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Width">
                                <div class="DyFx">
                                    <div><i class='CT-AccountLine FtSe15'></i></div>
                                    <a href="~/CSS/Width" class="MnLt4 Wh100p">Width</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                @* Ui Effects Section  *@
                <div class="NvSdLkCr">

                    @* link  *@
                    <div class="NvSdLk CrurPr" LkName="UI_Effects">
                        <div class="DyFx Fx1">
                            <div><i class='CT-GlobeSolid FtSe15'></i></div>
                            <span class="Wh100p MnLt4">UI Effects</span>
                        </div>
                        <div><i class='CT-ArrowDownCircleSolid FtSe15'></i></div>
                    </div>

                    @* sub link section  *@
                    <div class="NvSdSbLkSn DyNe">

                        @* sub link container  *@
                        <div class="NvSdSbLkCr">
                            
                            @* sub link  *@
                            <div class="NvSdSbLk CrurPr" SbLkName="Animations">
                                <div class="DyFx Fx1">
                                    <div><i class='CT-GlobeSolid FtSe15'></i></div>
                                    <span class="Wh100p MnLt4">Animations</span>
                                </div>
                                <div><i class='CT-ArrowDownCircleSolid FtSe15'></i></div>
                            </div>

                            @* sub sub link container *@
                            <div class="NvSdSbSbLkCr">

                                @* sub sub link  *@
                                <div class="NvSdSbSbLk" SbSbLkName="Single_Box_Animations">
                                    <div class="DyFx">
                                        <div><i class='CT-AccountLine FtSe15'></i></div>
                                        <a href="~/UI/Single_Box_Animations" class="Wh100p MnLt4">Single Box</a>
                                    </div>
                                </div>
                                <div class="NvSdSbSbLk" SbSbLkName="Multi_Box_Animations">
                                    <div class="DyFx">
                                        <div><i class='CT-AccountLine FtSe15'></i></div>
                                        <a href="~/UI/Multi_Box_Animations" class="Wh100p MnLt4">Multi Box</a>
                                    </div>
                                </div>
                                <div class="NvSdSbSbLk" SbSbLkName="Box_3D_Animations">
                                    <div class="DyFx">
                                        <div><i class='CT-AccountLine FtSe15'></i></div>
                                        <a href="~/UI/Box_3D_Animations" class="Wh100p MnLt4">3D Box</a>
                                    </div>
                                </div>
                                <div class="NvSdSbSbLk" SbSbLkName="Other_Animations">
                                    <div class="DyFx">
                                        <div><i class='CT-AccountLine FtSe15'></i></div>
                                        <a href="~/UI/Other_Animations" class="Wh100p MnLt4">Other</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        @* sub link container  *@
                        <div class="NvSdSbLkCr">

                            <div class="NvSdSbLk CrurPr" SbLkName="Box_Shadows">
                                <div class="DyFx Fx1">
                                    <div><i class='CT-GlobeSolid FtSe15'></i></div>
                                    <span class="Wh100p MnLt4">Box Shadows</span>
                                </div>
                                <div><i class='CT-ArrowDownCircleSolid  FtSe15'></i></div>
                            </div>

                            @* sub sub link container  *@
                            <div class="NvSdSbSbLkCr">
                                <div class="NvSdSbSbLk" SbSbLkName="Box_Shadows_OutSet">
                                    <div class="DyFx">
                                        <div><i class='CT-AccountLine FtSe15'></i></div>
                                        <a href="~/UI/Box_Shadows_OutSet" class="Wh100p MnLt4">OutSet Shadow</a>
                                    </div>
                                </div>
                                <div class="NvSdSbSbLk" SbSbLkName="Box_Shadows_InSet">
                                    <div class="DyFx">
                                        <div><i class='CT-AccountLine FtSe15'></i></div>
                                        <a href="~/UI/Box_Shadows_InSet" class="Wh100p MnLt4">InSet Shadow</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        @* sub link container  *@
                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk CrurPr" SbLkName="Text_Shadows">
                                <div class="DyFx Fx1">
                                    <div><i class='CT-AccountLine FtSe15'></i></div>
                                    <span class="Wh100p MnLt4">Text Shadow</span>
                                </div>
                                <div><i class='CT-ArrowDownCircleSolid FtSe15'></i></div>
                            </div>

                            @* sub sub link container  *@
                            <div class="NvSdSbSbLkCr">
                                <div class="NvSdSbSbLk" SbSbLkName="Text_Shadows_OutSet">
                                    <div class="DyFx Fx1">
                                        <div><i class='CT-AccountLine FtSe15'></i></div>
                                        <a href="~/UI/Text_Shadow_OutSet" class="Wh100p MnLt4">OutSet Shadow</a>
                                    </div>
                                </div>
                                <div class="NvSdSbSbLk" SbSbLkName="Text_Shadows_InSet">
                                    <div class="DyFx Fx1">
                                        <div><i class='CT-AccountLine FtSe15'></i></div>
                                        <a href="~/UI/Text_Shadow_InSet" class="Wh100p MnLt4">InSet Shadow</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                @* Ui Widgets Section  *@
                <div class="NvSdLkCr">

                    @* link  *@
                    <div class="NvSdLk CrurPr" LkName="UI">
                        <div class="DyFx Fx1">
                            <div><i class='CT-GlobeSolid FtSe15'></i></div>
                            <span class="Wh100p MnLt4">UI Widgets</span>
                        </div>
                        <div><i class='CT-ArrowDownCircleSolid FtSe15'></i></div>
                    </div>

                    @* sub link section  *@
                    <div class="NvSdSbLkSn DyNe">

                        @* sub link container  *@
                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Accordion">
                                <div class="DyFx">
                                    <div><i class='CT-AddStepLine FtSe15'></i></div>
                                    <a href="~/UI/Accordion" class="MnLt4 Wh100p">Accordion</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Buttons">
                                <div class="DyFx">
                                    <div><i class='CT-AppsSolid FtSe15'></i></div>
                                    <a href="~/UI/Buttons" class="MnLt4 Wh100p">Buttons</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Calendar">
                                <div class="DyFx">
                                    <div><i class='CT-CalenderLine FtSe15'></i></div>
                                    <a href="~/UI/Calendar" class="MnLt4 Wh100p">Calendar</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Card">
                                <div class="DyFx">
                                    <div><i class='CT-AdminBook FtSe15'></i></div>
                                    <a href="~/UI/Card" class="MnLt4 Wh100p">Card</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Checks_And_Radio">
                                <div class="DyFx">
                                    <div><i class='CT-AdminBook FtSe15'></i></div>
                                    <a href="~/UI/Checks_And_Radio" class="MnLt4 Wh100p">Checks & Radio</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="DataTables">
                                <div class="DyFx">
                                    <div><i class='CT-BillMultipleLine FtSe15'></i></div>
                                    <a href="~/UI/DataTables" class="MnLt4 Wh100p">Data Tables</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="DragAndDrop">
                                <div class="DyFx">
                                    <div><i class='CT-BillMultipleLine FtSe15'></i></div>
                                    <a href="~/UI/DragAndDrop" class="MnLt4 Wh100p">Drag And Drop</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="DropDown">
                                <div class="DyFx">
                                    <div><i class='CT-BillMultipleLine FtSe15'></i></div>
                                    <a href="~/UI/DropDown" class="MnLt4 Wh100p">DropDown</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Multi_Select_DropDown">
                                <div class="DyFx">
                                    <div><i class='CT-BillMultipleLine FtSe15'></i></div>
                                    <a href="~/UI/Multi_Select_DropDown" class="MnLt4 Wh100p">DropDown Multi Select</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Gallery">
                                <div class="DyFx">
                                    <div><i class='CT-BillMultipleLine FtSe15'></i></div>
                                    <a href="~/UI/Gallery" class="MnLt4 Wh100p">Gallery</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Keypad">
                                <div class="DyFx">
                                    <div><i class='CT-BillMultipleLine FtSe15'></i></div>
                                    <a href="~/UI/Keypad" class="MnLt4 Wh100p">Keypad</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Pagination">
                                <div class="DyFx">
                                    <div><i class='CT-CalenderLine FtSe15'></i></div>
                                    <a href="~/UI/Pagination" class="MnLt4 Wh100p">Pagination</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="PopUp">
                                <div class="DyFx">
                                    <div><i class='CT-CalenderLine FtSe15'></i></div>
                                    <a href="~/UI/PopUp" class="MnLt4 Wh100p">Pop-Up</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Progress_Bar">
                                <div class="DyFx">
                                    <div><i class='CT-CalenderLine FtSe15'></i></div>
                                    <a href="~/UI/Progress_Bar" class="MnLt4 Wh100p">Progress Bar</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Qty_Selector">
                                <div class="DyFx">
                                    <div><i class='CT-CalenderLine FtSe15'></i></div>
                                    <a href="~/UI/QtySelector" class="MnLt4 Wh100p">Qty Selector</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Skeleton">
                                <div class="DyFx">
                                    <div><i class='CT-AccountLine FtSe15'></i></div>
                                    <a href="~/UI/Skeleton" class="MnLt4 Wh100p">Skeleton</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Spinners">
                                <div class="DyFx">
                                    <div><i class='CT-AccountLine FtSe15'></i></div>
                                    <a href="~/UI/Spinners" class="MnLt4 Wh100p">Spinners</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Suggestion">
                                <div class="DyFx">
                                    <div><i class='CT-AccountLine FtSe15'></i></div>
                                    <a href="~/UI/Suggestion" class="MnLt4 Wh100p">Suggestion</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Tabs">
                                <div class="DyFx">
                                    <div><i class='CT-AccountLine FtSe15'></i></div>
                                    <a href="~/UI/Tabs" class="MnLt4 Wh100p">Tabs</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Toasts">
                                <div class="DyFx">
                                    <div><i class='CT-AccountLine FtSe15'></i></div>
                                    <a href="~/UI/Toasts" class="MnLt4 Wh100p">Toasts</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Slider">
                                <div class="DyFx">
                                    <div><i class='CT-AccountLine FtSe15'></i></div>
                                    <a href="~/UI/Slider" class="MnLt4 Wh100p">Slider</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="TextBoxes">
                                <div class="DyFx">
                                    <div><i class='CT-AccountLine FtSe15'></i></div>
                                    <a href="~/UI/TextBoxes" class="MnLt4 Wh100p">Text Boxes</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="TextEditor">
                                <div class="DyFx">
                                    <div><i class='CT-AccountLine FtSe15'></i></div>
                                    <a href="~/UI/TextEditor" class="MnLt4 Wh100p">Text Editor</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="ToolTip">
                                <div class="DyFx">
                                    <div><i class='CT-CommentLine FtSe15'></i></div>
                                    <a href="~/UI/ToolTip" class="MnLt4 Wh100p">Tool Tip</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Icons">
                                <div class="DyFx">
                                    <div><i class='CT-CommentLine FtSe15'></i></div>
                                    <a href="~/UI/Icons" class="MnLt4 Wh100p">Icons</a>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>

                @* Theme Color Shades Section *@
                <div class="NvSdLkCr">

                    @* heading *@
                    <div class="NvSdLk" LkName="Theme_Color_Shade">
                        <div class="DyFx Fx1">
                            <div><i class='CT-GlobeSolid FtSe15'></i></div>
                            <a href="~/UI/Theme_Color_Shades" class="MnLt4 Wh100p">Theme Color Shade</a>
                        </div>
                    </div>

                </div>
                
                @* Color Shade Section *@
                <div class="NvSdLkCr ">

                    @* link  *@
                    <div class="NvSdLk CrurPr" LkName="Color_Shade">
                        <div class="DyFx Fx1">
                            <div><i class='CT-GlobeSolid FtSe15'></i></div>
                            <span class="Wh100p MnLt4">Color Shade</span>
                        </div>
                        <div><i class='CT-ArrowDownCircleSolid FtSe15'></i></div>
                    </div>

                    @* sub link section  *@
                    <div class="NvSdSbLkSn DyNe">

                        @* sub link container  *@
                        <div class="NvSdSbLkCr">

                            @* sub link  *@
                            <div class="NvSdSbLk" SbLkName="Text_Color">
                                <div class="DyFx">
                                    <div><i class='CT-AccountLine FtSe15'></i></div>
                                    <a href="~/UI/Text_Color" class="MnLt4 Wh100p">Text Color</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Background_Color">
                                <div class="DyFx">
                                    <div><i class='CT-AccountLine FtSe15'></i></div>
                                    <a href="~/UI/Background_Color" class="MnLt4 Wh100p">Background Color</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Border_Color">
                                <div class="DyFx">
                                    <div><i class='CT-AccountLine FtSe15'></i></div>
                                    <a href="~/UI/Border_Color" class="MnLt4 Wh100p">Border Color</a>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>

                @* Gradient Section  *@
                <div class="NvSdLkCr ">

                    @* link  *@
                    <div class="NvSdLk CrurPr" LkName="Color_Gradient">
                        <div class="DyFx Fx1">
                            <div><i class='CT-GlobeSolid FtSe15'></i></div>
                            <span class="Wh100p MnLt4">Gradient</span>
                        </div>
                        <div><i class='CT-ArrowDownCircleSolid FtSe15'></i></div>
                    </div>

                    @* sub link section *@
                    <div class="NvSdSbLkSn DyNe">

                        @* sub link container  *@
                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk CrurPr" SbLkName="Text_Gradient">
                                <div class="DyFx Fx1">
                                    <div><i class='CT-AccountLine FtSe15'></i></div>
                                    <span href="~/UI/Border_Color" class="MnLt4 Wh100p">Text Gradient</span>
                                </div>
                                <div><i class='CT-ArrowDownCircleSolid FtSe15'></i></div>
                            </div>

                            @* sub sub link container  *@
                            <div class="NvSdSbSbLkCr">

                                <div class="NvSdSbSbLk" SbSbLkName="Single_Color_Text_Gradient">
                                    <div class="DyFx">
                                        <div><i class='CT-AccountLine FtSe15'></i></div>
                                        <a href="~/UI/Single_Color_Text_Gradient" class="MnLt4 Wh100p">Single Color</a>
                                    </div>
                                </div>

                                <div class="NvSdSbSbLk" SbSbLkName="Double_Color_Text_Gradient">
                                    <div class="DyFx">
                                        <div><i class='CT-AccountLine FtSe15'></i></div>
                                        <a href="~/UI/Double_Color_Text_Gradient" class="MnLt4 Wh100p">Double Color</a>
                                    </div>
                                </div>

                                <div class="NvSdSbSbLk" SbSbLkName="Triple_Color_Text_Gradient">
                                    <div class="DyFx">
                                        <div><i class='CT-AccountLine FtSe15'></i></div>
                                        <a href="~/UI/Triple_Color_Text_Gradient" class="MnLt4 Wh100p">Triple Color</a>
                                    </div>
                                </div>

                            </div>
                        </div>

                        @* sub link container *@
                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk CrurPr" SbLkName="Background_Gradient">
                                <div class="DyFx Fx1">
                                    <div><i class='CT-AccountLine FtSe15'></i></div>
                                    <span class="MnLt4 Wh100p">Background Gradient</span>
                                </div>
                                <div><i class='CT-ArrowDownCircleSolid FtSe15'></i></div>
                            </div>

                            @* sub sub link container *@
                            <div class="NvSdSbSbLkCr">
                                <div class="NvSdSbSbLk" SbSbLkName="Single_Color_Background_Gradient">
                                    <div class="DyFx">
                                        <div><i class='CT-AccountLine FtSe15'></i></div>
                                        <a href="~/UI/Single_Color_Background_Gradient" class="MnLt4 Wh100p">Single Color</a>
                                    </div>
                                </div>

                                <div class="NvSdSbSbLk" SbSbLkName="Double_Color_Background_Gradient">
                                    <div class="DyFx">
                                        <div><i class='CT-AccountLine FtSe15'></i></div>
                                        <a href="~/UI/Double_Color_Background_Gradient" class="MnLt4 Wh100p">Double Color</a>
                                    </div>
                                </div>

                                <div class="NvSdSbSbLk" SbSbLkName="Triple_Color_Background_Gradient">
                                    <div class="DyFx">
                                        <div><i class='CT-AccountLine FtSe15'></i></div>
                                        <a href="~/UI/Triple_Color_Background_Gradient" class="MnLt4 Wh100p">Triple Color</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @* sub link container *@
                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk CrurPr" SbLkName="Border_Gradient">
                                <div class="DyFx Fx1">
                                    <div><i class='CT-AccountLine FtSe15'></i></div>
                                    <span class="MnLt4 Wh100p">Border Gradient</span>
                                </div>
                                <div><i class='CT-ArrowDownCircleSolid FtSe15'></i></div>
                            </div>

                            @* sub sub link container *@
                            <div class="NvSdSbSbLkCr">
                                <div class="NvSdSbSbLk" SbSbLkName="Single_Color_Border_Gradient">
                                    <div class="DyFx">
                                        <div><i class='CT-AccountLine FtSe15'></i></div>
                                        <a href="~/UI/Single_Color_Border_Gradient" class="MnLt4 Wh100p">Single Color</a>
                                    </div>
                                </div>

                                <div class="NvSdSbSbLk" SbSbLkName="Double_Color_Border_Gradient">
                                    <div class="DyFx">
                                        <div><i class='CT-AccountLine FtSe15'></i></div>
                                        <a href="~/UI/Double_Color_Border_Gradient" class="MnLt4 Wh100p">Double Color</a>
                                    </div>
                                </div>

                                <div class="NvSdSbSbLk" SbSbLkName="Triple_Color_Border_Gradient">
                                    <div class="DyFx">
                                        <div><i class='CT-AccountLine FtSe15'></i></div>
                                        <a href="~/UI/Triple_Color_Border_Gradient" class="MnLt4 Wh100p">Triple Color</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                @* Other Pages Section  *@
                <div class="NvSdLkCr ">

                    @* link  *@
                    <div class="NvSdLk CrurPr" LkName="Pages">
                        <div class="DyFx Fx1">
                            <div><i class='CT-GlobeSolid FtSe15'></i></div>
                            <span class="Wh100p MnLt4">Other Pages</span>
                        </div>
                        <div><i class='CT-ArrowDownCircleSolid FtSe15'></i></div>
                    </div>

                    @* sub link section  *@
                    <div class="NvSdSbLkSn DyNe">

                        @* sub link container  *@
                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk CrurPr" SbLkName="Landing">
                                <div class="DyFx Fx1">
                                    <div><i class='CT-GlobeSolid FtSe15'></i></div>
                                    <span class="Wh100p MnLt4">Components</span>
                                </div>
                                <div><i class='CT-ArrowDownCircleSolid FtSe15'></i></div>
                            </div>

                            @* sub sub link container  *@
                            <div class="NvSdSbSbLkCr">

                                <div class="NvSdSbSbLk" SbSbLkName="TopNav1">
                                    <div class="DyFx Fx1">
                                        <div><i class='CT-AccountLine FtSe15'></i></div>
                                        <a href="~/Pages/Landing1" target="_blank" class="MnLt4 Wh100p">Top Nav 1</a>
                                    </div>
                                </div>

                                <div class="NvSdSbSbLk" SbSbLkName="TopNav2">
                                    <div class="DyFx Fx1">
                                        <div><i class='CT-AccountLine FtSe15'></i></div>
                                        <a href="~/Pages/Landing2" target="_blank" class="MnLt4 Wh100p">Top Nav 2</a>
                                    </div>
                                </div>

                                <div class="NvSdSbSbLk" SbSbLkName="SideNav1">
                                    <div class="DyFx Fx1">
                                        <div><i class='CT-AccountLine FtSe15'></i></div>
                                        <a href="~/Pages/SideNav1" target="_blank" class="MnLt4 Wh100p">Side Nav 1</a>
                                    </div>
                                </div>

                                <div class="NvSdSbSbLk" SbSbLkName="SideNav2">
                                    <div class="DyFx Fx1">
                                        <div><i class='CT-AccountLine FtSe15'></i></div>
                                        <a href="~/Pages/SideNav2" target="_blank" class="MnLt4 Wh100p">Side Nav 2</a>
                                    </div>
                                </div>

                                <div class="NvSdSbSbLk" SbSbLkName="Login_v1">
                                    <div class="DyFx Fx1">
                                        <div><i class='CT-AccountLine FtSe15'></i></div>
                                        <a href="~/Pages/Login_v1" target="_blank" class="MnLt4 Wh100p">Login 1</a>
                                    </div>
                                </div>

                                <div class="NvSdSbSbLk" SbSbLkName="Forget_Password">
                                    <div class="DyFx Fx1">
                                        <div><i class='CT-AccountLine FtSe15'></i></div>
                                        <a href="~/Pages/Forget_Password" target="_blank" class="MnLt4 Wh100p">Forget Password</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="Apps">
                                <div class="DyFx Fx1">
                                    <div><i class='CT-AppsCubesSolid FtSe15'></i></div>
                                    <a href="~/Pages/Apps" class="MnLt4 Wh100p">Apps</a>
                                </div>
                            </div>
                        </div>

                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk" SbLkName="AddData">
                                <div class="DyFx Fx1">
                                    <div><i class='CT-AddData FtSe15'></i></div>
                                    <a href="~/Pages/AddData" class="MnLt4 Wh100p">Add Data</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                @* Nav First Level Section  *@
                <div class="NvSdLkCr">

                    @* Heading  *@
                    <div class="NvSdLk CrurPr">
                        <div class="DyFx Fx1">
                            <div><i class='CT-GlobeSolid FtSe15'></i></div>
                            <span class="Wh100p MnLt4">Nav First Level</span>
                        </div>
                        <div><i class='CT-ArrowDownCircleSolid FtSe15'></i></div>
                    </div>

                    <div class="NvSdSbLkSn DyNe">
                        <div class="NvSdSbLkCr">
                            <div class="NvSdSbLk CrurPr">
                                <div class="DyFx Fx1">
                                    <div><i class='CT-AppsSolid FtSe15'></i></div>
                                    <span class="Wh100p MnLt4">Nav Second Level</span>
                                </div>
                                <div><i class='CT-ArrowDownCircleSolid FtSe15'></i></div>
                            </div>
                            <div class="NvSdSbSbLkCr">
                                <div class="NvSdSbSbLk CrurPr">
                                    <div class="DyFx Fx1">
                                        <div><i class='CT-AddStepLine FtSe15'></i></div>
                                        <span class="Wh100p MnLt4">Nav Third Level</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            </div>
        </div>

    </div>

</section>

@* Side Nav Full Closed Button  *@
<div class="NvSdOpenDv NvSdOnBn VwOyDp">
    N<br>
    A<br>
    V<br>
</div>


<script>
    let logo = document.getElementsByClassName('Lg-CelebrateTech')[0];
    let partialOpenCloseButton = document.getElementsByClassName('NvSdMin')[0];

    // Add a CSS transition to the logo element
    logo.style.transition = "font-size 0.5s ease";

    partialOpenCloseButton.addEventListener('click', () => {
        const navSide = document.getElementsByClassName('NvSd')[0];

        if (navSide.clientWidth > 100){
            // make it small
            logo.style.fontSize = '30px';
        }else{
            // make it big
            logo.style.fontSize = '70px';
        }
    })
</script>