<nav class="Wh100p CrBdTe70Lt91 BrRs5 DyFx TtAnRt PgLtRt10 PgTpBm15 FtWt600 Gp8 FxJyCtFxEd PnSy PnTp0 ZIx10000">


    <div><i class="CT-CompanyBuilding"></i> Celebrate Tech</div>
    <div class="FxGw1 VwOyMeTb"></div>
    <div class="PnRe MnRt10 PgLtRt5">
        <i class="CT-ClippedLine "> </i>
        <span class="BrRs3 PnTpRtInOt Pg3 CrBdRd60Lt CrWe FtSe12 FtWt600"> 10</span>
    </div>
    <div class="PnRe MnRt10 PgLtRt5">
        <i class="CT-NotificationBellSolid "> </i>
        <span class="BrRs3 PnTpRtInOt Pg3 CrBdRd60Lt CrWe FtSe12 FtWt600"> 10</span>
    </div>
    <div class="VwOyDp">

        <div class="DpDn">

            <i class="CT-UserMaleFemale"></i> Welcome Amit

            <div class="DpDnHrSw DpDnBmRt FtSe17">
                <div class="DpDnLk"> <i class="CT-UserMSolid"></i> &nbsp; Logout</div>
                <div class="DpDnLk"><i class="CT-KeyRightSolid"></i> &nbsp; Change Password</div>
                <div class="DpDnLk"><i class="CT-Email"></i> &nbsp; Change Email</div>
            </div>
        </div>

    </div>

</nav>