


<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SideNav2 - Celebrate Tech</title>
    <link href="~/cticons-v1.0/style.css" rel="stylesheet" />
    <link href="~/css/shared.css" rel="stylesheet" />
    <link href="~/css/celebratestyle.css" rel="stylesheet" />
    <link href="~/lib/highlight/styles/atom-one-light.min.css" rel="stylesheet" />
    <link href="~/logo-v1.0/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>

    <section class="DyFx Gp5">

        @* Side Nav  *@
        <section class="NvSdSn BrTpRtRs10 CrBdWe">

            <div class="NvSd">

                @* Logo Container  *@
                <div class="NvSdLoSn BrTpRtRs10 Wh100p DyFx FxDnCn">

                    <div class="NvSdLo">
                        <i class="Lg-CelebrateTech FtSe70 CrTe"></i>
                    </div>
                    <div class="NvSdBnLk DyFx FxJyCtFxEd">
                        <i class="CT-SlideLeft CrurPr NvSdMin"></i>
                        <i class="CT-DivClose CrurPr NvSdHide"></i>
                    </div>

                </div>

                @* Links Container  *@
                <div class="NvSdDnLtRt CrBdWe95">

                    @* Nav Side Link Section  *@
                    <div class="NvSdLkSn">

                        @* Link Contiainer Start Here Section  *@
                        <div class="NvSdLkCr">

                            @* Link  *@
                            <div class="NvSdLk DyFx FxAnIsSt Wh100p" LkName="Start_Here">
                                <div class="DyFx Fx1">
                                    <div><i class='CT-GlobeSolid FtSe15'></i></div>
                                    <span class="Wh100p MnLt4">Start Here</span>
                                </div>
                                <div><i class='CT-ArrowDownCircleSolid FtSe15'></i></div>
                            </div>

                            @* Sub Link Section  *@
                            <div class="NvSdSbLkSn DyNe">

                                @* sub link container  *@
                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="Introduction">
                                        <div><i class='CT-AccountLine FtSe15'></i></div>
                                        <a href="#" class="NvSdLkNe Wh100p">Introduction</a>
                                    </div>
                                </div>

                                @* sub link container  *@
                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="Download">
                                        <div><i class='CT-AccountLine FtSe15'></i></div>
                                        <a href="#" class="NvSdLkNe Wh100p">Download</a>
                                    </div>
                                </div>

                                @* sub link container  *@
                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="Syntax">
                                        <div><i class='CT-AccountLine FtSe15'></i></div>
                                        <a href="#" class="NvSdLkNe Wh100p">Syntax</a>
                                    </div>
                                </div>

                            </div>

                        </div>

                        @* Css / Core Concepts*@
                        <div class="NvSdLkCr">

                            @* link  *@
                            <div class="NvSdLk" LkName="Core_concepts">
                                <div class="DyFx Fx1">
                                    <div><i class='CT-GlobeSolid FtSe15'></i></div>
                                    <span class="Wh100p MnLt4">Core Concepts</span>
                                </div>
                                <div><i class='CT-ArrowDownCircleSolid FtSe15'></i></div>
                            </div>

                            @* sub link section  *@
                            <div class="NvSdSbLkSn DyNe">

                                @* sub link container  *@
                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="Aspect_Ratio">
                                        <div class="DyFx">
                                            <div><i class='CT-AddStepLine FtSe15'></i></div>
                                            <a href="#" class="MnLt4 Wh100p">Aspect Ratio</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="Border_Radius">
                                        <div class="DyFx">
                                            <div><i class='CT-AppsSolid FtSe15'></i></div>
                                            <a href="#" class="MnLt4 Wh100p">Border Radius</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="Border_Size">
                                        <div class="DyFx">
                                            <div><i class='CT-CalenderLine FtSe15'></i></div>
                                            <a href="#" class="MnLt4 Wh100p">Border Size</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="Border_style">
                                        <div class="DyFx">
                                            <div><i class='CT-AdminBook FtSe15'></i></div>
                                            <a href="#" class="MnLt4 Wh100p">Border Style</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="Cursor">
                                        <div class="DyFx">
                                            <div><i class='CT-AdminBook FtSe15'></i></div>
                                            <a href="#" class="MnLt4 Wh100p">Cursor</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="Display">
                                        <div class="DyFx">
                                            <div><i class='CT-BillMultipleLine FtSe15'></i></div>
                                            <a href="#" class="MnLt4 Wh100p">Display</a>
                                        </div>
                                    </div>
                                </div>
                                @* sub link container  *@
                                <div class="NvSdSbLkCr">

                                    @* sub link  *@
                                    <div class="NvSdSbLk" SbLkName="Flex">
                                        <div class="DyFx Fx1">
                                            <div><i class='CT-GlobeSolid FtSe15'></i></div>
                                            <span class="Wh100p MnLt4">Flex</span>
                                        </div>
                                        <div><i class='CT-ArrowDownCircleSolid FtSe15'></i></div>
                                    </div>

                                    @* sub sub link container *@
                                    <div class="NvSdSbSbLkCr">

                                        @* sub sub link  *@
                                        <div class="NvSdSbSbLk" SbSbLkName="Flex_Alignment">
                                            <div class="DyFx">
                                                <div><i class='CT-AccountLine FtSe15'></i></div>
                                                <a href="#" class="Wh100p MnLt4">Flex Alignment</a>
                                            </div>
                                        </div>
                                        <div class="NvSdSbSbLk" SbSbLkName="Flex_Direction">
                                            <div class="DyFx">
                                                <div><i class='CT-AccountLine FtSe15'></i></div>
                                                <a href="#" class="Wh100p MnLt4">Flex Direction</a>
                                            </div>
                                        </div>
                                        <div class="NvSdSbSbLk" SbSbLkName="Flex_Grow">
                                            <div class="DyFx">
                                                <div><i class='CT-AccountLine FtSe15'></i></div>
                                                <a href="#" class="Wh100p MnLt4">Flex Grow</a>
                                            </div>
                                        </div>
                                        <div class="NvSdSbSbLk" SbSbLkName="Flex_Position">
                                            <div class="DyFx">
                                                <div><i class='CT-AccountLine FtSe15'></i></div>
                                                <a href="#" class="Wh100p MnLt4">Flex Position</a>
                                            </div>
                                        </div>
                                        <div class="NvSdSbSbLk" SbSbLkName="Flex_Size">
                                            <div class="DyFx">
                                                <div><i class='CT-AccountLine FtSe15'></i></div>
                                                <a href="#" class="Wh100p MnLt4">Flex Size</a>
                                            </div>
                                        </div>
                                        <div class="NvSdSbSbLk" SbSbLkName="Flex_Width">
                                            <div class="DyFx">
                                                <div><i class='CT-AccountLine FtSe15'></i></div>
                                                <a href="#" class="Wh100p MnLt4">Flex Width</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @* sub link  *@
                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="Font">
                                        <div class="DyFx">
                                            <div><i class='CT-BillMultipleLine FtSe15'></i></div>
                                            <a href="#" class="MnLt4 Wh100p">Font</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="Gap">
                                        <div class="DyFx">
                                            <div><i class='CT-BillMultipleLine FtSe15'></i></div>
                                            <a href="#" class="MnLt4 Wh100p">Gap</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="Height">
                                        <div class="DyFx">
                                            <div><i class='CT-BillMultipleLine FtSe15'></i></div>
                                            <a href="#" class="MnLt4 Wh100p">Height</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="Margin">
                                        <div class="DyFx">
                                            <div><i class='CT-CalenderLine FtSe15'></i></div>
                                            <a href="#" class="MnLt4 Wh100p">Margin</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="Padding">
                                        <div class="DyFx">
                                            <div><i class='CT-CalenderLine FtSe15'></i></div>
                                            <a href="#" class="MnLt4 Wh100p">Padding</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="Spacing">
                                        <div class="DyFx">
                                            <div><i class='CT-CalenderLine FtSe15'></i></div>
                                            <a href="#" class="MnLt4 Wh100p">Spacing</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="Width">
                                        <div class="DyFx">
                                            <div><i class='CT-AccountLine FtSe15'></i></div>
                                            <a href="#" class="MnLt4 Wh100p">Width</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        @* Ui Effects Section  *@
                        <div class="NvSdLkCr">

                            @* link  *@
                            <div class="NvSdLk" LkName="UI_Effects">
                                <div class="DyFx Fx1">
                                    <div><i class='CT-GlobeSolid FtSe15'></i></div>
                                    <span class="Wh100p MnLt4">UI Effects</span>
                                </div>
                                <div><i class='CT-ArrowDownCircleSolid FtSe15'></i></div>
                            </div>

                            @* sub link section  *@
                            <div class="NvSdSbLkSn DyNe">

                                @* sub link container  *@
                                <div class="NvSdSbLkCr">

                                    @* sub link  *@
                                    <div class="NvSdSbLk" SbLkName="Animations">
                                        <div class="DyFx Fx1">
                                            <div><i class='CT-GlobeSolid FtSe15'></i></div>
                                            <span class="Wh100p MnLt4">Animations</span>
                                        </div>
                                        <div><i class='CT-ArrowDownCircleSolid FtSe15'></i></div>
                                    </div>

                                    @* sub sub link container *@
                                    <div class="NvSdSbSbLkCr">

                                        @* sub sub link  *@
                                        <div class="NvSdSbSbLk" SbSbLkName="Single_Box_Animations">
                                            <div class="DyFx">
                                                <div><i class='CT-AccountLine FtSe15'></i></div>
                                                <a href="#" class="Wh100p MnLt4">Single Box</a>
                                            </div>
                                        </div>
                                        <div class="NvSdSbSbLk" SbSbLkName="Multi_Box_Animations">
                                            <div class="DyFx">
                                                <div><i class='CT-AccountLine FtSe15'></i></div>
                                                <a href="#" class="Wh100p MnLt4">Multi Box</a>
                                            </div>
                                        </div>
                                        <div class="NvSdSbSbLk" SbSbLkName="Box_3D_Animations">
                                            <div class="DyFx">
                                                <div><i class='CT-AccountLine FtSe15'></i></div>
                                                <a href="#" class="Wh100p MnLt4">3D Box</a>
                                            </div>
                                        </div>
                                        <div class="NvSdSbSbLk" SbSbLkName="Other_Animations">
                                            <div class="DyFx">
                                                <div><i class='CT-AccountLine FtSe15'></i></div>
                                                <a href="#" class="Wh100p MnLt4">Other</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                @* sub link container  *@
                                <div class="NvSdSbLkCr">

                                    <div class="NvSdSbLk" SbLkName="Box_Shadows">
                                        <div class="DyFx Fx1">
                                            <div><i class='CT-GlobeSolid FtSe15'></i></div>
                                            <span class="Wh100p MnLt4">Box Shadows</span>
                                        </div>
                                        <div><i class='CT-ArrowDownCircleSolid  FtSe15'></i></div>
                                    </div>

                                    @* sub sub link container  *@
                                    <div class="NvSdSbSbLkCr">
                                        <div class="NvSdSbSbLk" SbSbLkName="Box_Shadows_OutSet">
                                            <div class="DyFx">
                                                <div><i class='CT-AccountLine FtSe15'></i></div>
                                                <a href="#" class="Wh100p MnLt4">OutSet Shadow</a>
                                            </div>
                                        </div>
                                        <div class="NvSdSbSbLk" SbSbLkName="Box_Shadows_InSet">
                                            <div class="DyFx">
                                                <div><i class='CT-AccountLine FtSe15'></i></div>
                                                <a href="#" class="Wh100p MnLt4">InSet Shadow</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                @* sub link container  *@
                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="Text_Shadows">
                                        <div class="DyFx Fx1">
                                            <div><i class='CT-AccountLine FtSe15'></i></div>
                                            <span class="Wh100p MnLt4">Text Shadow</span>
                                        </div>
                                        <div><i class='CT-ArrowDownCircleSolid FtSe15'></i></div>
                                    </div>

                                    @* sub sub link container  *@
                                    <div class="NvSdSbSbLkCr">
                                        <div class="NvSdSbSbLk" SbSbLkName="Text_Shadows_OutSet">
                                            <div class="DyFx Fx1">
                                                <div><i class='CT-AccountLine FtSe15'></i></div>
                                                <a href="#" class="Wh100p MnLt4">OutSet Shadow</a>
                                            </div>
                                        </div>
                                        <div class="NvSdSbSbLk" SbSbLkName="Text_Shadows_InSet">
                                            <div class="DyFx Fx1">
                                                <div><i class='CT-AccountLine FtSe15'></i></div>
                                                <a href="#" class="Wh100p MnLt4">InSet Shadow</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                        @* Ui Widgets Section  *@
                        <div class="NvSdLkCr">

                            @* link  *@
                            <div class="NvSdLk" LkName="UI">
                                <div class="DyFx Fx1">
                                    <div><i class='CT-GlobeSolid FtSe15'></i></div>
                                    <span class="Wh100p MnLt4">UI Widgets</span>
                                </div>
                                <div><i class='CT-ArrowDownCircleSolid FtSe15'></i></div>
                            </div>

                            @* sub link section  *@
                            <div class="NvSdSbLkSn DyNe">

                                @* sub link container  *@
                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="Accordion">
                                        <div class="DyFx">
                                            <div><i class='CT-AddStepLine FtSe15'></i></div>
                                            <a href="#" class="MnLt4 Wh100p">Accordion</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="Buttons">
                                        <div class="DyFx">
                                            <div><i class='CT-AppsSolid FtSe15'></i></div>
                                            <a href="#" class="MnLt4 Wh100p">Buttons</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="Calendar">
                                        <div class="DyFx">
                                            <div><i class='CT-CalenderLine FtSe15'></i></div>
                                            <a href="#" class="MnLt4 Wh100p">Calendar</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="Card">
                                        <div class="DyFx">
                                            <div><i class='CT-AdminBook FtSe15'></i></div>
                                            <a href="#" class="MnLt4 Wh100p">Card</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="Checks_And_Radio">
                                        <div class="DyFx">
                                            <div><i class='CT-AdminBook FtSe15'></i></div>
                                            <a href="#" class="MnLt4 Wh100p">Checks & Radio</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="DataTables">
                                        <div class="DyFx">
                                            <div><i class='CT-BillMultipleLine FtSe15'></i></div>
                                            <a href="#" class="MnLt4 Wh100p">Data Tables</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="DragAndDrop">
                                        <div class="DyFx">
                                            <div><i class='CT-BillMultipleLine FtSe15'></i></div>
                                            <a href="#" class="MnLt4 Wh100p">Drag And Drop</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="DropDown">
                                        <div class="DyFx">
                                            <div><i class='CT-BillMultipleLine FtSe15'></i></div>
                                            <a href="#" class="MnLt4 Wh100p">DropDown</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="Multi_Select_DropDown">
                                        <div class="DyFx">
                                            <div><i class='CT-BillMultipleLine FtSe15'></i></div>
                                            <a href="#" class="MnLt4 Wh100p">DropDown Multi Select</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="Gallery">
                                        <div class="DyFx">
                                            <div><i class='CT-BillMultipleLine FtSe15'></i></div>
                                            <a href="#" class="MnLt4 Wh100p">Gallery</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="Keypad">
                                        <div class="DyFx">
                                            <div><i class='CT-BillMultipleLine FtSe15'></i></div>
                                            <a href="#" class="MnLt4 Wh100p">Keypad</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        @* Theme Color Shades Section *@
                        <div class="NvSdLkCr">

                            @* heading *@
                            <div class="NvSdLk" LkName="Theme_Color_Shade">
                                <div class="DyFx Fx1">
                                    <div><i class='CT-GlobeSolid FtSe15'></i></div>
                                    <a href="#" class="MnLt4 Wh100p">Theme Color Shade</a>
                                </div>
                            </div>

                        </div>

                        @* Color Shade Section *@
                        <div class="NvSdLkCr ">

                            @* link  *@
                            <div class="NvSdLk " LkName="Color_Shade">
                                <div class="DyFx Fx1">
                                    <div><i class='CT-GlobeSolid FtSe15'></i></div>
                                    <span class="Wh100p MnLt4">Color Shade</span>
                                </div>
                                <div><i class='CT-ArrowDownCircleSolid FtSe15'></i></div>
                            </div>

                            @* sub link section  *@
                            <div class="NvSdSbLkSn DyNe">

                                @* sub link container  *@
                                <div class="NvSdSbLkCr">

                                    @* sub link  *@
                                    <div class="NvSdSbLk" SbLkName="Text_Color">
                                        <div class="DyFx">
                                            <div><i class='CT-AccountLine FtSe15'></i></div>
                                            <a href="#" class="MnLt4 Wh100p">Text Color</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="Background_Color">
                                        <div class="DyFx">
                                            <div><i class='CT-AccountLine FtSe15'></i></div>
                                            <a href="#" class="MnLt4 Wh100p">Background Color</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="Border_Color">
                                        <div class="DyFx">
                                            <div><i class='CT-AccountLine FtSe15'></i></div>
                                            <a href="#" class="MnLt4 Wh100p">Border Color</a>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>

                        @* Gradient Section  *@
                        <div class="NvSdLkCr ">

                            @* link  *@
                            <div class="NvSdLk " LkName="Color_Gradient">
                                <div class="DyFx Fx1">
                                    <div><i class='CT-GlobeSolid FtSe15'></i></div>
                                    <span class="Wh100p MnLt4">Gradient</span>
                                </div>
                                <div><i class='CT-ArrowDownCircleSolid FtSe15'></i></div>
                            </div>

                            @* sub link section *@
                            <div class="NvSdSbLkSn DyNe">

                                @* sub link container  *@
                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="Text_Gradient">
                                        <div class="DyFx Fx1">
                                            <div><i class='CT-AccountLine FtSe15'></i></div>
                                            <span href="~/UI/Border_Color" class="MnLt4 Wh100p">Text Gradient</span>
                                        </div>
                                        <div><i class='CT-ArrowDownCircleSolid FtSe15'></i></div>
                                    </div>

                                    @* sub sub link container  *@
                                    <div class="NvSdSbSbLkCr">

                                        <div class="NvSdSbSbLk" SbSbLkName="Single_Color_Text_Gradient">
                                            <div class="DyFx">
                                                <div><i class='CT-AccountLine FtSe15'></i></div>
                                                <a href="#" class="MnLt4 Wh100p">Single Color</a>
                                            </div>
                                        </div>

                                        <div class="NvSdSbSbLk" SbSbLkName="Double_Color_Text_Gradient">
                                            <div class="DyFx">
                                                <div><i class='CT-AccountLine FtSe15'></i></div>
                                                <a href="#" class="MnLt4 Wh100p">Double Color</a>
                                            </div>
                                        </div>

                                        <div class="NvSdSbSbLk" SbSbLkName="Triple_Color_Text_Gradient">
                                            <div class="DyFx">
                                                <div><i class='CT-AccountLine FtSe15'></i></div>
                                                <a href="#" class="MnLt4 Wh100p">Triple Color</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                @* sub link container *@
                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="Background_Gradient">
                                        <div class="DyFx Fx1">
                                            <div><i class='CT-AccountLine FtSe15'></i></div>
                                            <span class="MnLt4 Wh100p">Background Gradient</span>
                                        </div>
                                        <div><i class='CT-ArrowDownCircleSolid FtSe15'></i></div>
                                    </div>

                                    @* sub sub link container *@
                                    <div class="NvSdSbSbLkCr">
                                        <div class="NvSdSbSbLk" SbSbLkName="Single_Color_Background_Gradient">
                                            <div class="DyFx">
                                                <div><i class='CT-AccountLine FtSe15'></i></div>
                                                <a href="#" class="MnLt4 Wh100p">Single Color</a>
                                            </div>
                                        </div>

                                        <div class="NvSdSbSbLk" SbSbLkName="Double_Color_Background_Gradient">
                                            <div class="DyFx">
                                                <div><i class='CT-AccountLine FtSe15'></i></div>
                                                <a href="#" class="MnLt4 Wh100p">Double Color</a>
                                            </div>
                                        </div>

                                        <div class="NvSdSbSbLk" SbSbLkName="Triple_Color_Background_Gradient">
                                            <div class="DyFx">
                                                <div><i class='CT-AccountLine FtSe15'></i></div>
                                                <a href="#" class="MnLt4 Wh100p">Triple Color</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @* sub link container *@
                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="Border_Gradient">
                                        <div class="DyFx Fx1">
                                            <div><i class='CT-AccountLine FtSe15'></i></div>
                                            <span class="MnLt4 Wh100p">Border Gradient</span>
                                        </div>
                                        <div><i class='CT-ArrowDownCircleSolid FtSe15'></i></div>
                                    </div>

                                    @* sub sub link container *@
                                    <div class="NvSdSbSbLkCr">
                                        <div class="NvSdSbSbLk" SbSbLkName="Single_Color_Border_Gradient">
                                            <div class="DyFx">
                                                <div><i class='CT-AccountLine FtSe15'></i></div>
                                                <a href="#" class="MnLt4 Wh100p">Single Color</a>
                                            </div>
                                        </div>

                                        <div class="NvSdSbSbLk" SbSbLkName="Double_Color_Border_Gradient">
                                            <div class="DyFx">
                                                <div><i class='CT-AccountLine FtSe15'></i></div>
                                                <a href="#" class="MnLt4 Wh100p">Double Color</a>
                                            </div>
                                        </div>

                                        <div class="NvSdSbSbLk" SbSbLkName="Triple_Color_Border_Gradient">
                                            <div class="DyFx">
                                                <div><i class='CT-AccountLine FtSe15'></i></div>
                                                <a href="#" class="MnLt4 Wh100p">Triple Color</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        @* Other Pages Section  *@
                        <div class="NvSdLkCr ">

                            @* link  *@
                            <div class="NvSdLk" LkName="Pages">
                                <div class="DyFx Fx1">
                                    <div><i class='CT-GlobeSolid FtSe15'></i></div>
                                    <span class="Wh100p MnLt4">Other Pages</span>
                                </div>
                                <div><i class='CT-ArrowDownCircleSolid FtSe15'></i></div>
                            </div>

                            @* sub link section  *@
                            <div class="NvSdSbLkSn DyNe">

                                @* sub link container  *@
                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="Landing">
                                        <div class="DyFx Fx1">
                                            <div><i class='CT-GlobeSolid FtSe15'></i></div>
                                            <span class="Wh100p MnLt4">Landing Pages</span>
                                        </div>
                                        <div><i class='CT-ArrowDownCircleSolid FtSe15'></i></div>
                                    </div>

                                    @* sub sub link container  *@
                                    <div class="NvSdSbSbLkCr">

                                        <div class="NvSdSbSbLk" SbSbLkName="TopNav1">
                                            <div class="DyFx Fx1">
                                                <div><i class='CT-AccountLine FtSe15'></i></div>
                                                <a href="#" target="_blank" class="MnLt4 Wh100p">Top Nav 1</a>
                                            </div>
                                        </div>

                                        <div class="NvSdSbSbLk" SbSbLkName="TopNav2">
                                            <div class="DyFx Fx1">
                                                <div><i class='CT-AccountLine FtSe15'></i></div>
                                                <a href="#" target="_blank" class="MnLt4 Wh100p">Top Nav 2</a>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="Apps">
                                        <div class="DyFx Fx1">
                                            <div><i class='CT-AppsCubesSolid FtSe15'></i></div>
                                            <a href="#" class="MnLt4 Wh100p">Apps</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk" SbLkName="AddData">
                                        <div class="DyFx Fx1">
                                            <div><i class='CT-AddData FtSe15'></i></div>
                                            <a href="#" class="MnLt4 Wh100p">Add Data</a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        @* Nav First Level Section  *@
                        <div class="NvSdLkCr">

                            @* Heading  *@
                            <div class="NvSdLk">
                                <div class="DyFx Fx1">
                                    <div><i class='CT-GlobeSolid FtSe15'></i></div>
                                    <span class="Wh100p MnLt4">Nav First Level</span>
                                </div>
                                <div><i class='CT-ArrowDownCircleSolid FtSe15'></i></div>
                            </div>

                            <div class="NvSdSbLkSn DyNe">
                                <div class="NvSdSbLkCr">
                                    <div class="NvSdSbLk">
                                        <div class="DyFx Fx1">
                                            <div><i class='CT-AppsSolid FtSe15'></i></div>
                                            <span class="Wh100p MnLt4">Nav Second Level</span>
                                        </div>
                                    </div>
                                    <div class="NvSdSbSbLkCr">
                                        <div class="NvSdSbSbLk">
                                            <div class="DyFx Fx1">
                                                <div><i class='CT-AddStepLine FtSe15'></i></div>
                                                <span class="Wh100p MnLt4">Nav Third Level</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section>

        @* Side Nav Full Closed Button  *@
        <div class="NvSdOpenDv NvSdOnBn VwOyDp">
            N<br>
            A<br>
            V<br>
        </div>
  

        <section class="FxGw1 WhMn82p HtMn100vh OwHn">

            @* Main Body  *@
            <div id="RenderBody" class="CrBdWe50 Pg20 BrRs20 OwXHn OwYAo HtMx96vh PnRe" style="scrollbar-width: none;">
            </div>

        </section>

    </section>

    @* Mobile Menu  *@
    <div class="VwOyMeTb PnFd PnBm0 Wh100p ZIx1000000000">
        <div class="DyFx Gp5 FxAnIsCr PgTpBm10 PgLtRt10 CrBdTe70Lt91 FtWt600">
            <div>
                <i class="CT-List-OLine FtSe20 NvSdOnBn CrurPr "></i>
            </div>
            <div class="FxGw1"></div>

            <div class="DyFx FxCr Gp3">

                <div class="DpDn FtSe20">

                    <div class="FxCr Gp2"> <i class="CT-UserMaleFemale"></i>Welcome Amit</div>

                    <div class="DpDnHrSw DpDnTpRt FtSe17">
                        <div class="DpDnLk"> <i class="CT-UserMSolid"></i> &nbsp; Logout</div>
                        <div class="DpDnLk"><i class="CT-KeyRightSolid"></i> &nbsp; Change Password</div>
                        <div class="DpDnLk"><i class="CT-Email"></i> &nbsp; Change Email</div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    @* Footer Menu  *@
    <div class="VwOyDp Wh100p ZIx1000000000">
        <div class="DyFx CrBdTe70Lt91 Pg8 FxWpNo CrTeTtLt FtWt600">
            <div class="TtAnLt">Web Tool</div>
            <div class="FxGw1 TtAnRt">
                Celebrate Tech © 2008 - 2024
            </div>
        </div>
    </div>

    <script src="~/lib/highlight/highlight.min.js"></script>
    <script src="~/ctscriptfr/hotreloader.js"></script>
    <script src="~/ctscriptfr/codeswitcher_copy.js"></script>
    <script src="~/ctscriptfr/sidenav.js"></script>
    <script src="~/ctscriptfr/ctsript.js"></script>

    <script>
        let logo = document.getElementsByClassName('Lg-CelebrateTech')[0];
        let partialOpenCloseButton = document.getElementsByClassName('NvSdMin')[0];

        // Add a CSS transition to the logo element
        logo.style.transition = "font-size 0.5s ease";

        partialOpenCloseButton.addEventListener('click', () => {
            const navSide = document.getElementsByClassName('NvSd')[0];

            if (navSide.clientWidth > 100){
                // make it small
                logo.style.fontSize = '30px';
            }else{
                // make it big
                logo.style.fontSize = '70px';
            }
        })
    </script>

    <script>

        // We have defined it globally in HotReloader.js
        const hotReloader = new HotReloader({
            bodyId: 'RenderBody', // ID of the element where content changes dynamically
            pageLoaderHtmlId: 'pageLoader' // ID of the loader element shown during updates
        });

        // Initialize the SideNavBar class
        const sidenavbar = new SideNavBar({
            // hotReload: hotReloader,
            dropdownContainerMaxHeight: '200px',
            addScrollbar: false,
            scrollTopOnReaload: 100, // Active Link will be 100px down from the top of sidenavbar section - whenever page reloads
        });

        hljs.highlightAll();

        sidenavbar.highlightActiveLinks({
            activeLink: '@ViewBag.ActiveLink',
            activeSubLink: '@ViewBag.ActiveSubLink',
            activeSubSubLink: '@ViewBag.ActiveSubSubLink'
        });

    </script>

</body>
</html>



