@{
    ViewBag.ActiveLink = "Color_Shade";
    ViewBag.ActiveSubLink = "Background_Color";
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: #f0f0f0;
    }

    td code {
        font-size: 0.9em;
        color: #666;
    }
</style>

@* Hero Section *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="FxRw FxCr BxSw BrRs5 PgTpBm5 PnRe ZIx100">
        <h1 class="BrRs5"><i class="CT-BackgroundColor"></i> Background Color</h1>
    </div>

    <h2>Create Stunning Backgrounds with Perfect Shades</h2>

    <p>
        Our background color shades help enhance the visual appeal of your website by offering a variety of tones. Whether you need subtle pastels for a soft look or bold contrasts for striking designs, these shades ensure a captivating experience.
    </p>
    <h3>Key Features:</h3>
    <ul>
        <li class="PgTpBm5"><strong>Fully Customizable:</strong> Adjust background shades effortlessly to match your brand’s aesthetic.</li>
        <li class="PgTpBm5"><strong>Consistent Across Devices:</strong> Ensures uniform color rendering on all screen sizes and resolutions.</li>
        <li class="PgTpBm5"><strong>Predefined Color Schemes:</strong> Choose from expertly designed palettes or create your own.</li>
        <li class="PgTpBm5"><strong>Easy Integration:</strong> Apply dynamic background colors with minimal effort.</li>
        <li class="PgTpBm5"><strong>Cross-Browser Compatibility:</strong> Guarantees a seamless visual experience across all major browsers.</li>
    </ul>
</section>

@* Examples  *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="DyFx FxWp Gp20">

        <!--Background Color Red-->
        <div class="Wh100p CrBdWe60">
            <div class="FtWt600 Wh50p MnTpBm10">Background Color Red</div>
            <div class="DyFx OwXAo">

                <div class='DyFx FxWp FxDnCn Wh100p'>

                    <table>

                        <thead>
                            <tr>
                                <th class="Wh15p">Class</th>
                                <th class="Wh20p">Color Shades</th>
                                <th class="Wh30p">Color Code</th>
                                <th class="Wh35p">Example</th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr>
                                <td rowspan="4">CrBdRd10Lt</td>
                                <td>CrBdRd10Lt91</td>
                                <td><code>hsla(var(--CrRdH) 100% 10% / 0.91)</code></td>
                                <td class="CrBdRd10Lt91"></td>
                            </tr>
                            <tr>
                                <td>CrBdRd10Lt94</td>
                                <td><code>hsla(var(--CrRdH) 100% 10% / 0.94)</code></td>
                                <td class="CrBdRd10Lt94"></td>
                            </tr>
                            <tr>
                                <td>CrBdRd10Lt97</td>
                                <td><code>hsla(var(--CrRdH) 100% 10% / 0.97)</code></td>
                                <td class="CrBdRd10Lt97"></td>
                            </tr>
                            <tr>
                                <td>CrBdRd10Lt</td>
                                <td><code>hsla(var(--CrRdH) 100% 10% / 1)</code></td>
                                <td class="CrBdRd10Lt"></td>
                            </tr>

                            <tr>
                                <td rowspan="4">CrBdRd20Lt</td>
                                <td>CrBdRd20Lt91</td>
                                <td><code>hsla(var(--CrRdH) 100% 20% / 0.91)</code></td>
                                <td class="CrBdRd20Lt91"></td>
                            </tr>
                            <tr>
                                <td>CrBdRd20Lt94</td>
                                <td><code>hsla(var(--CrRdH) 100% 20% / 0.94)</code></td>
                                <td class="CrBdRd20Lt94"></td>
                            </tr>
                            <tr>
                                <td>CrBdRd20Lt97</td>
                                <td><code>hsla(var(--CrRdH) 100% 20% / 0.97)</code></td>
                                <td class="CrBdRd10Lt97"></td>
                            </tr>
                            <tr>
                                <td>CrBdRd20Lt</td>
                                <td><code>hsla(var(--CrRdH) 100% 20% / 1)</code></td>
                                <td class="CrBdRd20Lt"></td>
                            </tr>

                            <tr>
                                <td rowspan="4">CrBdRd30Lt</td>
                                <td>CrBdRd30Lt91</td>
                                <td><code>hsla(var(--CrRdH) 100% 30% / 0.91)</code></td>
                                <td class="CrBdRd20Lt91"></td>
                            </tr>
                            <tr>
                                <td>CrBdRd30Lt94</td>
                                <td><code>hsla(var(--CrRdH) 100% 30% / 0.94)</code></td>
                                <td class="CrBdRd30Lt94"></td>
                            </tr>
                            <tr>
                                <td>CrBdRd30Lt97</td>
                                <td><code>hsla(var(--CrRdH) 100% 30% / 0.97)</code></td>
                                <td class="CrBdRd30Lt97"></td>
                            </tr>
                            <tr>
                                <td>CrBdRd30Lt</td>
                                <td><code>hsla(var(--CrRdH) 100% 30% / 1)</code></td>
                                <td class="CrBdRd30Lt"></td>
                            </tr>

                            <tr>
                                <td rowspan="4">CrBdRd40Lt</td>
                                <td>CrBdRd40Lt91</td>
                                <td><code>hsla(var(--CrRdH) 100% 40% / 0.91)</code></td>
                                <td class="CrBdRd40Lt91"></td>
                            </tr>
                            <tr>
                                <td>CrBdRd40Lt94</td>
                                <td><code>hsla(var(--CrRdH) 100% 40% / 0.94)</code></td>
                                <td class="CrBdRd40Lt94"></td>
                            </tr>
                            <tr>
                                <td>CrBdRd40Lt97</td>
                                <td><code>hsla(var(--CrRdH) 100% 40% / 0.97)</code></td>
                                <td class="CrBdRd40Lt97"></td>
                            </tr>
                            <tr>
                                <td>CrBdRd40Lt</td>
                                <td><code>hsla(var(--CrRdH) 100% 4% / 1)</code></td>
                                <td class="CrBdRd40Lt"></td>
                            </tr>

                            <tr>
                                <td rowspan="4">CrBdRd50Lt</td>
                                <td>CrBdRd50Lt91</td>
                                <td><code>hsla(var(--CrRdH) 100% 50% / 0.91)</code></td>
                                <td class="CrBdRd50Lt91"></td>
                            </tr>
                            <tr>
                                <td>CrBdRd50Lt94</td>
                                <td><code>hsla(var(--CrRdH) 100% 50% / 0.94)</code></td>
                                <td class="CrBdRd50Lt94"></td>
                            </tr>
                            <tr>
                                <td>CrBdRd50Lt97</td>
                                <td><code>hsla(var(--CrRdH) 100% 50% / 0.97)</code></td>
                                <td class="CrBdRd50Lt97"></td>
                            </tr>
                            <tr>
                                <td>CrBdRd50Lt</td>
                                <td><code>hsla(var(--CrRdH) 100% 50% / 1)</code></td>
                                <td class="CrBdRd50Lt"></td>
                            </tr>

                            <tr>
                                <td rowspan="4">CrBdRd60Lt</td>
                                <td>CrBdRd60Lt91</td>
                                <td><code>hsla(var(--CrRdH) 100% 60% / 0.91)</code></td>
                                <td class="CrBdRd60Lt91"></td>
                            </tr>
                            <tr>
                                <td>CrBdRd60Lt94</td>
                                <td><code>hsla(var(--CrRdH) 100% 60% / 0.94)</code></td>
                                <td class="CrBdRd60Lt94"></td>
                            </tr>
                            <tr>
                                <td>CrBdRd60Lt97</td>
                                <td><code>hsla(var(--CrRdH) 100% 60% / 0.97)</code></td>
                                <td class="CrBdRd60Lt97"></td>
                            </tr>
                            <tr>
                                <td>CrBdRd60Lt</td>
                                <td><code>hsla(var(--CrRdH) 100% 60% / 1)</code></td>
                                <td class="CrBdRd60Lt"></td>
                            </tr>

                            <tr>
                                <td rowspan="4">CrBdRd70Lt</td>
                                <td>CrBdRd70Lt91</td>
                                <td><code>hsla(var(--CrRdH) 100% 70% / 0.91)</code></td>
                                <td class="CrBdRd70Lt91"></td>
                            </tr>
                            <tr>
                                <td>CrBdRd70Lt94</td>
                                <td><code>hsla(var(--CrRdH) 100% 70% / 0.94)</code></td>
                                <td class="CrBdRd70Lt94"></td>
                            </tr>
                            <tr>
                                <td>CrBdRd70Lt97</td>
                                <td><code>hsla(var(--CrRdH) 100% 70% / 0.97)</code></td>
                                <td class="CrBdRd70Lt97"></td>
                            </tr>
                            <tr>
                                <td>CrBdRd70Lt</td>
                                <td><code>hsla(var(--CrRdH) 100% 70% / 1)</code></td>
                                <td class="CrBdRd70Lt"></td>
                            </tr>

                            <tr>
                                <td rowspan="4">CrBdRd80Lt</td>
                                <td>CrBdRd80Lt91</td>
                                <td><code>hsla(var(--CrRdH) 100% 80% / 0.91)</code></td>
                                <td class="CrBdRd80Lt91"></td>
                            </tr>
                            <tr>
                                <td>CrBdRd80Lt94</td>
                                <td><code>hsla(var(--CrRdH) 100% 80% / 0.94)</code></td>
                                <td class="CrBdRd80Lt94"></td>
                            </tr>
                            <tr>
                                <td>CrBdRd80Lt97</td>
                                <td><code>hsla(var(--CrRdH) 100% 80% / 0.97)</code></td>
                                <td class="CrBdRd80Lt97"></td>
                            </tr>
                            <tr>
                                <td>CrBdRd80Lt</td>
                                <td><code>hsla(var(--CrRdH) 100% 80% / 1)</code></td>
                                <td class="CrBdRd80Lt"></td>
                            </tr>

                        </tbody>

                    </table>

                </div>

            </div>
        </div>

        <!--Background Color Yellow-->
        <div class="Wh100p CrBdWe60">
            <div class="FtWt600 Wh50p MnTpBm10">Background Color Yellow</div>
            <div class="DyFx OwXAo">

                <div class='DyFx FxWp FxDnCn Wh100p'>

                    <table>

                    <thead>
                        <tr>
                            <th class="Wh15p">Class</th>
                            <th class="Wh20p">Color Shades</th>
                            <th class="Wh30p">Color Code</th>
                            <th class="Wh35p">Example</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td rowspan="4">CrBdYw10Lt</td>
                            <td>CrBdYw10Lt91</td>
                            <td><code>hsla(var(--CrYwH) 100% 10% / 0.91)</code></td>
                            <td class="CrBdYw10Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdYw10Lt94</td>
                            <td><code>hsla(var(--CrYwH) 100% 10% / 0.94)</code></td>
                            <td class="CrBdYw10Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdYw10Lt97</td>
                            <td><code>hsla(var(--CrYwH) 100% 10% / 0.97)</code></td>
                            <td class="CrBdYw10Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdYw10Lt</td>
                            <td><code>hsla(var(--CrYwH) 100% 10% / 1)</code></td>
                            <td class="CrBdYw10Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdYw20Lt</td>
                            <td>CrBdYw20Lt91</td>
                            <td><code>hsla(var(--CrYwH) 100% 20% / 0.91)</code></td>
                            <td class="CrBdYw20Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdYw20Lt94</td>
                            <td><code>hsla(var(--CrYwH) 100% 20% / 0.94)</code></td>
                            <td class="CrBdYw20Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdYw20Lt97</td>
                            <td><code>hsla(var(--CrYwH) 100% 20% / 0.97)</code></td>
                            <td class="CrBdYw10Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdYw20Lt</td>
                            <td><code>hsla(var(--CrYwH) 100% 20% / 1)</code></td>
                            <td class="CrBdYw20Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdYw30Lt</td>
                            <td>CrBdYw30Lt91</td>
                            <td><code>hsla(var(--CrYwH) 100% 30% / 0.91)</code></td>
                            <td class="CrBdYw20Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdYw30Lt94</td>
                            <td><code>hsla(var(--CrYwH) 100% 30% / 0.94)</code></td>
                            <td class="CrBdYw30Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdYw30Lt97</td>
                            <td><code>hsla(var(--CrYwH) 100% 30% / 0.97)</code></td>
                            <td class="CrBdYw30Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdYw30Lt</td>
                            <td><code>hsla(var(--CrYwH) 100% 30% / 1)</code></td>
                            <td class="CrBdYw30Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdYw40Lt</td>
                            <td>CrBdYw40Lt91</td>
                            <td><code>hsla(var(--CrYwH) 100% 40% / 0.91)</code></td>
                            <td class="CrBdYw40Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdYw40Lt94</td>
                            <td><code>hsla(var(--CrYwH) 100% 40% / 0.94)</code></td>
                            <td class="CrBdYw40Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdYw40Lt97</td>
                            <td><code>hsla(var(--CrYwH) 100% 40% / 0.97)</code></td>
                            <td class="CrBdYw40Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdYw40Lt</td>
                            <td><code>hsla(var(--CrYwH) 100% 4% / 1)</code></td>
                            <td class="CrBdYw40Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdYw50Lt</td>
                            <td>CrBdYw50Lt91</td>
                            <td><code>hsla(var(--CrYwH) 100% 50% / 0.91)</code></td>
                            <td class="CrBdYw50Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdYw50Lt94</td>
                            <td><code>hsla(var(--CrYwH) 100% 50% / 0.94)</code></td>
                            <td class="CrBdYw50Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdYw50Lt97</td>
                            <td><code>hsla(var(--CrYwH) 100% 50% / 0.97)</code></td>
                            <td class="CrBdYw50Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdYw50Lt</td>
                            <td><code>hsla(var(--CrYwH) 100% 50% / 1)</code></td>
                            <td class="CrBdYw50Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdYw60Lt</td>
                            <td>CrBdYw60Lt91</td>
                            <td><code>hsla(var(--CrYwH) 100% 60% / 0.91)</code></td>
                            <td class="CrBdYw60Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdYw60Lt94</td>
                            <td><code>hsla(var(--CrYwH) 100% 60% / 0.94)</code></td>
                            <td class="CrBdYw60Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdYw60Lt97</td>
                            <td><code>hsla(var(--CrYwH) 100% 60% / 0.97)</code></td>
                            <td class="CrBdYw60Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdYw60Lt</td>
                            <td><code>hsla(var(--CrYwH) 100% 60% / 1)</code></td>
                            <td class="CrBdYw60Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdYw70Lt</td>
                            <td>CrBdYw70Lt91</td>
                            <td><code>hsla(var(--CrYwH) 100% 70% / 0.91)</code></td>
                            <td class="CrBdYw70Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdYw70Lt94</td>
                            <td><code>hsla(var(--CrYwH) 100% 70% / 0.94)</code></td>
                            <td class="CrBdYw70Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdYw70Lt97</td>
                            <td><code>hsla(var(--CrYwH) 100% 70% / 0.97)</code></td>
                            <td class="CrBdYw70Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdYw70Lt</td>
                            <td><code>hsla(var(--CrYwH) 100% 70% / 1)</code></td>
                            <td class="CrBdYw70Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdYw80Lt</td>
                            <td>CrBdYw80Lt91</td>
                            <td><code>hsla(var(--CrYwH) 100% 80% / 0.91)</code></td>
                            <td class="CrBdYw80Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdYw80Lt94</td>
                            <td><code>hsla(var(--CrYwH) 100% 80% / 0.94)</code></td>
                            <td class="CrBdYw80Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdYw80Lt97</td>
                            <td><code>hsla(var(--CrYwH) 100% 80% / 0.97)</code></td>
                            <td class="CrBdYw80Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdYw80Lt</td>
                            <td><code>hsla(var(--CrYwH) 100% 80% / 1)</code></td>
                            <td class="CrBdYw80Lt"></td>
                        </tr>

                    </tbody>

                </table>

                </div>

            </div>
        </div>

        <!--Background Color Orange-->
        <div class="Wh100p CrBdWe60">
            <div class="FtWt600 Wh50p MnTpBm10">Background Color Orange</div>

            <div class="DyFx OwXAo">

                <div class='DyFx FxWp FxDnCn Wh100p'>

                <table>

                    <thead>
                        <tr>
                            <th class="Wh15p">Class</th>
                            <th class="Wh20p">Color Shades</th>
                            <th class="Wh30p">Color Code</th>
                            <th class="Wh35p">Example</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td rowspan="4">CrBdOe10Lt</td>
                            <td>CrBdOe10Lt91</td>
                            <td><code>hsla(var(--CrOeH) 100% 10% / 0.91)</code></td>
                            <td class="CrBdOe10Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdOe10Lt94</td>
                            <td><code>hsla(var(--CrOeH) 100% 10% / 0.94)</code></td>
                            <td class="CrBdOe10Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdOe10Lt97</td>
                            <td><code>hsla(var(--CrOeH) 100% 10% / 0.97)</code></td>
                            <td class="CrBdOe10Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdOe10Lt</td>
                            <td><code>hsla(var(--CrOeH) 100% 10% / 1)</code></td>
                            <td class="CrBdOe10Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdOe20Lt</td>
                            <td>CrBdOe20Lt91</td>
                            <td><code>hsla(var(--CrOeH) 100% 20% / 0.91)</code></td>
                            <td class="CrBdOe20Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdOe20Lt94</td>
                            <td><code>hsla(var(--CrOeH) 100% 20% / 0.94)</code></td>
                            <td class="CrBdOe20Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdOe20Lt97</td>
                            <td><code>hsla(var(--CrOeH) 100% 20% / 0.97)</code></td>
                            <td class="CrBdOe10Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdOe20Lt</td>
                            <td><code>hsla(var(--CrOeH) 100% 20% / 1)</code></td>
                            <td class="CrBdOe20Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdOe30Lt</td>
                            <td>CrBdOe30Lt91</td>
                            <td><code>hsla(var(--CrOeH) 100% 30% / 0.91)</code></td>
                            <td class="CrBdOe20Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdOe30Lt94</td>
                            <td><code>hsla(var(--CrOeH) 100% 30% / 0.94)</code></td>
                            <td class="CrBdOe30Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdOe30Lt97</td>
                            <td><code>hsla(var(--CrOeH) 100% 30% / 0.97)</code></td>
                            <td class="CrBdOe30Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdOe30Lt</td>
                            <td><code>hsla(var(--CrOeH) 100% 30% / 1)</code></td>
                            <td class="CrBdOe30Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdOe40Lt</td>
                            <td>CrBdOe40Lt91</td>
                            <td><code>hsla(var(--CrOeH) 100% 40% / 0.91)</code></td>
                            <td class="CrBdOe40Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdOe40Lt94</td>
                            <td><code>hsla(var(--CrOeH) 100% 40% / 0.94)</code></td>
                            <td class="CrBdOe40Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdOe40Lt97</td>
                            <td><code>hsla(var(--CrOeH) 100% 40% / 0.97)</code></td>
                            <td class="CrBdOe40Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdOe40Lt</td>
                            <td><code>hsla(var(--CrOeH) 100% 4% / 1)</code></td>
                            <td class="CrBdOe40Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdOe50Lt</td>
                            <td>CrBdOe50Lt91</td>
                            <td><code>hsla(var(--CrOeH) 100% 50% / 0.91)</code></td>
                            <td class="CrBdOe50Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdOe50Lt94</td>
                            <td><code>hsla(var(--CrOeH) 100% 50% / 0.94)</code></td>
                            <td class="CrBdOe50Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdOe50Lt97</td>
                            <td><code>hsla(var(--CrOeH) 100% 50% / 0.97)</code></td>
                            <td class="CrBdOe50Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdOe50Lt</td>
                            <td><code>hsla(var(--CrOeH) 100% 50% / 1)</code></td>
                            <td class="CrBdOe50Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdOe60Lt</td>
                            <td>CrBdOe60Lt91</td>
                            <td><code>hsla(var(--CrOeH) 100% 60% / 0.91)</code></td>
                            <td class="CrBdOe60Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdOe60Lt94</td>
                            <td><code>hsla(var(--CrOeH) 100% 60% / 0.94)</code></td>
                            <td class="CrBdOe60Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdOe60Lt97</td>
                            <td><code>hsla(var(--CrOeH) 100% 60% / 0.97)</code></td>
                            <td class="CrBdOe60Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdOe60Lt</td>
                            <td><code>hsla(var(--CrOeH) 100% 60% / 1)</code></td>
                            <td class="CrBdOe60Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdOe70Lt</td>
                            <td>CrBdOe70Lt91</td>
                            <td><code>hsla(var(--CrOeH) 100% 70% / 0.91)</code></td>
                            <td class="CrBdOe70Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdOe70Lt94</td>
                            <td><code>hsla(var(--CrOeH) 100% 70% / 0.94)</code></td>
                            <td class="CrBdOe70Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdOe70Lt97</td>
                            <td><code>hsla(var(--CrOeH) 100% 70% / 0.97)</code></td>
                            <td class="CrBdOe70Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdOe70Lt</td>
                            <td><code>hsla(var(--CrOeH) 100% 70% / 1)</code></td>
                            <td class="CrBdOe70Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdOe80Lt</td>
                            <td>CrBdOe80Lt91</td>
                            <td><code>hsla(var(--CrOeH) 100% 80% / 0.91)</code></td>
                            <td class="CrBdOe80Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdOe80Lt94</td>
                            <td><code>hsla(var(--CrOeH) 100% 80% / 0.94)</code></td>
                            <td class="CrBdOe80Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdOe80Lt97</td>
                            <td><code>hsla(var(--CrOeH) 100% 80% / 0.97)</code></td>
                            <td class="CrBdOe80Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdOe80Lt</td>
                            <td><code>hsla(var(--CrOeH) 100% 80% / 1)</code></td>
                            <td class="CrBdOe80Lt"></td>
                        </tr>

                    </tbody>

                </table>

                </div>

            </div>
        </div>

        <!--Background Color Blue-->
        <div class="Wh100p CrBdWe60">

            <div class="FtWt600 Wh50p MnTpBm10">Background Color Blue</div>

            <div class="DyFx OwXAo">

                <div class='DyFx FxWp FxDnCn Wh100p'>

                    <table>

                    <thead>
                        <tr>
                            <th class="Wh15p">Class</th>
                            <th class="Wh20p">Color Shades</th>
                            <th class="Wh30p">Color Code</th>
                            <th class="Wh35p">Example</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td rowspan="4">CrBdBe10Lt</td>
                            <td>CrBdBe10Lt91</td>
                            <td><code>hsla(var(--CrBeH) 100% 10% / 0.91)</code></td>
                            <td class="CrBdBe10Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdBe10Lt94</td>
                            <td><code>hsla(var(--CrBeH) 100% 10% / 0.94)</code></td>
                            <td class="CrBdBe10Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdBe10Lt97</td>
                            <td><code>hsla(var(--CrBeH) 100% 10% / 0.97)</code></td>
                            <td class="CrBdBe10Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdBe10Lt</td>
                            <td><code>hsla(var(--CrBeH) 100% 10% / 1)</code></td>
                            <td class="CrBdBe10Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdBe20Lt</td>
                            <td>CrBdBe20Lt91</td>
                            <td><code>hsla(var(--CrBeH) 100% 20% / 0.91)</code></td>
                            <td class="CrBdBe20Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdBe20Lt94</td>
                            <td><code>hsla(var(--CrBeH) 100% 20% / 0.94)</code></td>
                            <td class="CrBdBe20Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdBe20Lt97</td>
                            <td><code>hsla(var(--CrBeH) 100% 20% / 0.97)</code></td>
                            <td class="CrBdBe10Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdBe20Lt</td>
                            <td><code>hsla(var(--CrBeH) 100% 20% / 1)</code></td>
                            <td class="CrBdBe20Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdBe30Lt</td>
                            <td>CrBdBe30Lt91</td>
                            <td><code>hsla(var(--CrBeH) 100% 30% / 0.91)</code></td>
                            <td class="CrBdBe20Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdBe30Lt94</td>
                            <td><code>hsla(var(--CrBeH) 100% 30% / 0.94)</code></td>
                            <td class="CrBdBe30Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdBe30Lt97</td>
                            <td><code>hsla(var(--CrBeH) 100% 30% / 0.97)</code></td>
                            <td class="CrBdBe30Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdBe30Lt</td>
                            <td><code>hsla(var(--CrBeH) 100% 30% / 1)</code></td>
                            <td class="CrBdBe30Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdBe40Lt</td>
                            <td>CrBdBe40Lt91</td>
                            <td><code>hsla(var(--CrBeH) 100% 40% / 0.91)</code></td>
                            <td class="CrBdBe40Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdBe40Lt94</td>
                            <td><code>hsla(var(--CrBeH) 100% 40% / 0.94)</code></td>
                            <td class="CrBdBe40Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdBe40Lt97</td>
                            <td><code>hsla(var(--CrBeH) 100% 40% / 0.97)</code></td>
                            <td class="CrBdBe40Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdBe40Lt</td>
                            <td><code>hsla(var(--CrBeH) 100% 4% / 1)</code></td>
                            <td class="CrBdBe40Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdBe50Lt</td>
                            <td>CrBdBe50Lt91</td>
                            <td><code>hsla(var(--CrBeH) 100% 50% / 0.91)</code></td>
                            <td class="CrBdBe50Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdBe50Lt94</td>
                            <td><code>hsla(var(--CrBeH) 100% 50% / 0.94)</code></td>
                            <td class="CrBdBe50Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdBe50Lt97</td>
                            <td><code>hsla(var(--CrBeH) 100% 50% / 0.97)</code></td>
                            <td class="CrBdBe50Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdBe50Lt</td>
                            <td><code>hsla(var(--CrBeH) 100% 50% / 1)</code></td>
                            <td class="CrBdBe50Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdBe60Lt</td>
                            <td>CrBdBe60Lt91</td>
                            <td><code>hsla(var(--CrBeH) 100% 60% / 0.91)</code></td>
                            <td class="CrBdBe60Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdBe60Lt94</td>
                            <td><code>hsla(var(--CrBeH) 100% 60% / 0.94)</code></td>
                            <td class="CrBdBe60Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdBe60Lt97</td>
                            <td><code>hsla(var(--CrBeH) 100% 60% / 0.97)</code></td>
                            <td class="CrBdBe60Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdBe60Lt</td>
                            <td><code>hsla(var(--CrBeH) 100% 60% / 1)</code></td>
                            <td class="CrBdBe60Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdBe70Lt</td>
                            <td>CrBdBe70Lt91</td>
                            <td><code>hsla(var(--CrBeH) 100% 70% / 0.91)</code></td>
                            <td class="CrBdBe70Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdBe70Lt94</td>
                            <td><code>hsla(var(--CrBeH) 100% 70% / 0.94)</code></td>
                            <td class="CrBdBe70Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdBe70Lt97</td>
                            <td><code>hsla(var(--CrBeH) 100% 70% / 0.97)</code></td>
                            <td class="CrBdBe70Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdBe70Lt</td>
                            <td><code>hsla(var(--CrBeH) 100% 70% / 1)</code></td>
                            <td class="CrBdBe70Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdBe80Lt</td>
                            <td>CrBdBe80Lt91</td>
                            <td><code>hsla(var(--CrBeH) 100% 80% / 0.91)</code></td>
                            <td class="CrBdBe80Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdBe80Lt94</td>
                            <td><code>hsla(var(--CrBeH) 100% 80% / 0.94)</code></td>
                            <td class="CrBdBe80Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdBe80Lt97</td>
                            <td><code>hsla(var(--CrBeH) 100% 80% / 0.97)</code></td>
                            <td class="CrBdBe80Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdBe80Lt</td>
                            <td><code>hsla(var(--CrBeH) 100% 80% / 1)</code></td>
                            <td class="CrBdBe80Lt"></td>
                        </tr>

                    </tbody>

                </table>

                </div>

            </div>
        </div>

        <!--Background Color Green-->
        <div class="Wh100p CrBdWe60">
            <div class="FtWt600 Wh50p MnTpBm10">Background Color Green</div>
            <div class="DyFx OwXAo">

                <div class='DyFx FxWp FxDnCn Wh100p'>

                    <table>

                    <thead>
                        <tr>
                            <th class="Wh15p">Class</th>
                            <th class="Wh20p">Color Shades</th>
                            <th class="Wh30p">Color Code</th>
                            <th class="Wh35p">Example</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td rowspan="4">CrBdGn10Lt</td>
                            <td>CrBdGn10Lt91</td>
                            <td><code>hsla(var(--CrGnH) 100% 10% / 0.91)</code></td>
                            <td class="CrBdGn10Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdGn10Lt94</td>
                            <td><code>hsla(var(--CrGnH) 100% 10% / 0.94)</code></td>
                            <td class="CrBdGn10Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdGn10Lt97</td>
                            <td><code>hsla(var(--CrGnH) 100% 10% / 0.97)</code></td>
                            <td class="CrBdGn10Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdGn10Lt</td>
                            <td><code>hsla(var(--CrGnH) 100% 10% / 1)</code></td>
                            <td class="CrBdGn10Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdGn20Lt</td>
                            <td>CrBdGn20Lt91</td>
                            <td><code>hsla(var(--CrGnH) 100% 20% / 0.91)</code></td>
                            <td class="CrBdGn20Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdGn20Lt94</td>
                            <td><code>hsla(var(--CrGnH) 100% 20% / 0.94)</code></td>
                            <td class="CrBdGn20Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdGn20Lt97</td>
                            <td><code>hsla(var(--CrGnH) 100% 20% / 0.97)</code></td>
                            <td class="CrBdGn10Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdGn20Lt</td>
                            <td><code>hsla(var(--CrGnH) 100% 20% / 1)</code></td>
                            <td class="CrBdGn20Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdGn30Lt</td>
                            <td>CrBdGn30Lt91</td>
                            <td><code>hsla(var(--CrGnH) 100% 30% / 0.91)</code></td>
                            <td class="CrBdGn20Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdGn30Lt94</td>
                            <td><code>hsla(var(--CrGnH) 100% 30% / 0.94)</code></td>
                            <td class="CrBdGn30Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdGn30Lt97</td>
                            <td><code>hsla(var(--CrGnH) 100% 30% / 0.97)</code></td>
                            <td class="CrBdGn30Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdGn30Lt</td>
                            <td><code>hsla(var(--CrGnH) 100% 30% / 1)</code></td>
                            <td class="CrBdGn30Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdGn40Lt</td>
                            <td>CrBdGn40Lt91</td>
                            <td><code>hsla(var(--CrGnH) 100% 40% / 0.91)</code></td>
                            <td class="CrBdGn40Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdGn40Lt94</td>
                            <td><code>hsla(var(--CrGnH) 100% 40% / 0.94)</code></td>
                            <td class="CrBdGn40Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdGn40Lt97</td>
                            <td><code>hsla(var(--CrGnH) 100% 40% / 0.97)</code></td>
                            <td class="CrBdGn40Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdGn40Lt</td>
                            <td><code>hsla(var(--CrGnH) 100% 4% / 1)</code></td>
                            <td class="CrBdGn40Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdGn50Lt</td>
                            <td>CrBdGn50Lt91</td>
                            <td><code>hsla(var(--CrGnH) 100% 50% / 0.91)</code></td>
                            <td class="CrBdGn50Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdGn50Lt94</td>
                            <td><code>hsla(var(--CrGnH) 100% 50% / 0.94)</code></td>
                            <td class="CrBdGn50Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdGn50Lt97</td>
                            <td><code>hsla(var(--CrGnH) 100% 50% / 0.97)</code></td>
                            <td class="CrBdGn50Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdGn50Lt</td>
                            <td><code>hsla(var(--CrGnH) 100% 50% / 1)</code></td>
                            <td class="CrBdGn50Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdGn60Lt</td>
                            <td>CrBdGn60Lt91</td>
                            <td><code>hsla(var(--CrGnH) 100% 60% / 0.91)</code></td>
                            <td class="CrBdGn60Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdGn60Lt94</td>
                            <td><code>hsla(var(--CrGnH) 100% 60% / 0.94)</code></td>
                            <td class="CrBdGn60Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdGn60Lt97</td>
                            <td><code>hsla(var(--CrGnH) 100% 60% / 0.97)</code></td>
                            <td class="CrBdGn60Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdGn60Lt</td>
                            <td><code>hsla(var(--CrGnH) 100% 60% / 1)</code></td>
                            <td class="CrBdGn60Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdGn70Lt</td>
                            <td>CrBdGn70Lt91</td>
                            <td><code>hsla(var(--CrGnH) 100% 70% / 0.91)</code></td>
                            <td class="CrBdGn70Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdGn70Lt94</td>
                            <td><code>hsla(var(--CrGnH) 100% 70% / 0.94)</code></td>
                            <td class="CrBdGn70Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdGn70Lt97</td>
                            <td><code>hsla(var(--CrGnH) 100% 70% / 0.97)</code></td>
                            <td class="CrBdGn70Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdGn70Lt</td>
                            <td><code>hsla(var(--CrGnH) 100% 70% / 1)</code></td>
                            <td class="CrBdGn70Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdGn80Lt</td>
                            <td>CrBdGn80Lt91</td>
                            <td><code>hsla(var(--CrGnH) 100% 80% / 0.91)</code></td>
                            <td class="CrBdGn80Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdGn80Lt94</td>
                            <td><code>hsla(var(--CrGnH) 100% 80% / 0.94)</code></td>
                            <td class="CrBdGn80Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdGn80Lt97</td>
                            <td><code>hsla(var(--CrGnH) 100% 80% / 0.97)</code></td>
                            <td class="CrBdGn80Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdGn80Lt</td>
                            <td><code>hsla(var(--CrGnH) 100% 80% / 1)</code></td>
                            <td class="CrBdGn80Lt"></td>
                        </tr>

                    </tbody>

                </table>

                </div>

            </div>
        </div>

        <!--Background Color Pink-->
        <div class="Wh100p CrBdWe60">

            <div class="FtWt600 Wh50p MnTpBm10">Background Color Pink</div>

            <div class="DyFx OwXAo">

                <div class='DyFx FxWp FxDnCn Wh100p'>

                    <table>

                    <thead>
                        <tr>
                            <th class="Wh15p">Class</th>
                            <th class="Wh20p">Color Shades</th>
                            <th class="Wh30p">Color Code</th>
                            <th class="Wh35p">Example</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td rowspan="4">CrBdPk10Lt</td>
                            <td>CrBdPk10Lt91</td>
                            <td><code>hsla(var(--CrPkH) 100% 10% / 0.91)</code></td>
                            <td class="CrBdPk10Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdPk10Lt94</td>
                            <td><code>hsla(var(--CrPkH) 100% 10% / 0.94)</code></td>
                            <td class="CrBdPk10Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdPk10Lt97</td>
                            <td><code>hsla(var(--CrPkH) 100% 10% / 0.97)</code></td>
                            <td class="CrBdPk10Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdPk10Lt</td>
                            <td><code>hsla(var(--CrPkH) 100% 10% / 1)</code></td>
                            <td class="CrBdPk10Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdPk20Lt</td>
                            <td>CrBdPk20Lt91</td>
                            <td><code>hsla(var(--CrPkH) 100% 20% / 0.91)</code></td>
                            <td class="CrBdPk20Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdPk20Lt94</td>
                            <td><code>hsla(var(--CrPkH) 100% 20% / 0.94)</code></td>
                            <td class="CrBdPk20Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdPk20Lt97</td>
                            <td><code>hsla(var(--CrPkH) 100% 20% / 0.97)</code></td>
                            <td class="CrBdPk10Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdPk20Lt</td>
                            <td><code>hsla(var(--CrPkH) 100% 20% / 1)</code></td>
                            <td class="CrBdPk20Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdPk30Lt</td>
                            <td>CrBdPk30Lt91</td>
                            <td><code>hsla(var(--CrPkH) 100% 30% / 0.91)</code></td>
                            <td class="CrBdPk20Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdPk30Lt94</td>
                            <td><code>hsla(var(--CrPkH) 100% 30% / 0.94)</code></td>
                            <td class="CrBdPk30Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdPk30Lt97</td>
                            <td><code>hsla(var(--CrPkH) 100% 30% / 0.97)</code></td>
                            <td class="CrBdPk30Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdPk30Lt</td>
                            <td><code>hsla(var(--CrPkH) 100% 30% / 1)</code></td>
                            <td class="CrBdPk30Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdPk40Lt</td>
                            <td>CrBdPk40Lt91</td>
                            <td><code>hsla(var(--CrPkH) 100% 40% / 0.91)</code></td>
                            <td class="CrBdPk40Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdPk40Lt94</td>
                            <td><code>hsla(var(--CrPkH) 100% 40% / 0.94)</code></td>
                            <td class="CrBdPk40Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdPk40Lt97</td>
                            <td><code>hsla(var(--CrPkH) 100% 40% / 0.97)</code></td>
                            <td class="CrBdPk40Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdPk40Lt</td>
                            <td><code>hsla(var(--CrPkH) 100% 4% / 1)</code></td>
                            <td class="CrBdPk40Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdPk50Lt</td>
                            <td>CrBdPk50Lt91</td>
                            <td><code>hsla(var(--CrPkH) 100% 50% / 0.91)</code></td>
                            <td class="CrBdPk50Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdPk50Lt94</td>
                            <td><code>hsla(var(--CrPkH) 100% 50% / 0.94)</code></td>
                            <td class="CrBdPk50Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdPk50Lt97</td>
                            <td><code>hsla(var(--CrPkH) 100% 50% / 0.97)</code></td>
                            <td class="CrBdPk50Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdPk50Lt</td>
                            <td><code>hsla(var(--CrPkH) 100% 50% / 1)</code></td>
                            <td class="CrBdPk50Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdPk60Lt</td>
                            <td>CrBdPk60Lt91</td>
                            <td><code>hsla(var(--CrPkH) 100% 60% / 0.91)</code></td>
                            <td class="CrBdPk60Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdPk60Lt94</td>
                            <td><code>hsla(var(--CrPkH) 100% 60% / 0.94)</code></td>
                            <td class="CrBdPk60Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdPk60Lt97</td>
                            <td><code>hsla(var(--CrPkH) 100% 60% / 0.97)</code></td>
                            <td class="CrBdPk60Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdPk60Lt</td>
                            <td><code>hsla(var(--CrPkH) 100% 60% / 1)</code></td>
                            <td class="CrBdPk60Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdPk70Lt</td>
                            <td>CrBdPk70Lt91</td>
                            <td><code>hsla(var(--CrPkH) 100% 70% / 0.91)</code></td>
                            <td class="CrBdPk70Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdPk70Lt94</td>
                            <td><code>hsla(var(--CrPkH) 100% 70% / 0.94)</code></td>
                            <td class="CrBdPk70Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdPk70Lt97</td>
                            <td><code>hsla(var(--CrPkH) 100% 70% / 0.97)</code></td>
                            <td class="CrBdPk70Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdPk70Lt</td>
                            <td><code>hsla(var(--CrPkH) 100% 70% / 1)</code></td>
                            <td class="CrBdPk70Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdPk80Lt</td>
                            <td>CrBdPk80Lt91</td>
                            <td><code>hsla(var(--CrPkH) 100% 80% / 0.91)</code></td>
                            <td class="CrBdPk80Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdPk80Lt94</td>
                            <td><code>hsla(var(--CrPkH) 100% 80% / 0.94)</code></td>
                            <td class="CrBdPk80Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdPk80Lt97</td>
                            <td><code>hsla(var(--CrPkH) 100% 80% / 0.97)</code></td>
                            <td class="CrBdPk80Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdPk80Lt</td>
                            <td><code>hsla(var(--CrPkH) 100% 80% / 1)</code></td>
                            <td class="CrBdPk80Lt"></td>
                        </tr>

                    </tbody>

                </table>

                </div>

            </div>
        </div>

        <!--Background Color Purple-->
        <div class="Wh100p CrBdWe60">

            <div class="FtWt600 Wh50p MnTpBm10">Background Color Purple</div>

            <div class="DyFx OwXAo">

                <div class='DyFx FxWp FxDnCn Wh100p'>

                    <table>

                    <thead>
                        <tr>
                            <th class="Wh15p">Class</th>
                            <th class="Wh20p">Color Shades</th>
                            <th class="Wh30p">Color Code</th>
                            <th class="Wh35p">Example</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td rowspan="4">CrBdPe10Lt</td>
                            <td>CrBdPe10Lt91</td>
                            <td><code>hsla(var(--CrPeH) 100% 10% / 0.91)</code></td>
                            <td class="CrBdPe10Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdPe10Lt94</td>
                            <td><code>hsla(var(--CrPeH) 100% 10% / 0.94)</code></td>
                            <td class="CrBdPe10Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdPe10Lt97</td>
                            <td><code>hsla(var(--CrPeH) 100% 10% / 0.97)</code></td>
                            <td class="CrBdPe10Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdPe10Lt</td>
                            <td><code>hsla(var(--CrPeH) 100% 10% / 1)</code></td>
                            <td class="CrBdPe10Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdPe20Lt</td>
                            <td>CrBdPe20Lt91</td>
                            <td><code>hsla(var(--CrPeH) 100% 20% / 0.91)</code></td>
                            <td class="CrBdPe20Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdPe20Lt94</td>
                            <td><code>hsla(var(--CrPeH) 100% 20% / 0.94)</code></td>
                            <td class="CrBdPe20Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdPe20Lt97</td>
                            <td><code>hsla(var(--CrPeH) 100% 20% / 0.97)</code></td>
                            <td class="CrBdPe10Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdPe20Lt</td>
                            <td><code>hsla(var(--CrPeH) 100% 20% / 1)</code></td>
                            <td class="CrBdPe20Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdPe30Lt</td>
                            <td>CrBdPe30Lt91</td>
                            <td><code>hsla(var(--CrPeH) 100% 30% / 0.91)</code></td>
                            <td class="CrBdPe20Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdPe30Lt94</td>
                            <td><code>hsla(var(--CrPeH) 100% 30% / 0.94)</code></td>
                            <td class="CrBdPe30Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdPe30Lt97</td>
                            <td><code>hsla(var(--CrPeH) 100% 30% / 0.97)</code></td>
                            <td class="CrBdPe30Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdPe30Lt</td>
                            <td><code>hsla(var(--CrPeH) 100% 30% / 1)</code></td>
                            <td class="CrBdPe30Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdPe40Lt</td>
                            <td>CrBdPe40Lt91</td>
                            <td><code>hsla(var(--CrPeH) 100% 40% / 0.91)</code></td>
                            <td class="CrBdPe40Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdPe40Lt94</td>
                            <td><code>hsla(var(--CrPeH) 100% 40% / 0.94)</code></td>
                            <td class="CrBdPe40Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdPe40Lt97</td>
                            <td><code>hsla(var(--CrPeH) 100% 40% / 0.97)</code></td>
                            <td class="CrBdPe40Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdPe40Lt</td>
                            <td><code>hsla(var(--CrPeH) 100% 4% / 1)</code></td>
                            <td class="CrBdPe40Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdPe50Lt</td>
                            <td>CrBdPe50Lt91</td>
                            <td><code>hsla(var(--CrPeH) 100% 50% / 0.91)</code></td>
                            <td class="CrBdPe50Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdPe50Lt94</td>
                            <td><code>hsla(var(--CrPeH) 100% 50% / 0.94)</code></td>
                            <td class="CrBdPe50Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdPe50Lt97</td>
                            <td><code>hsla(var(--CrPeH) 100% 50% / 0.97)</code></td>
                            <td class="CrBdPe50Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdPe50Lt</td>
                            <td><code>hsla(var(--CrPeH) 100% 50% / 1)</code></td>
                            <td class="CrBdPe50Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdPe60Lt</td>
                            <td>CrBdPe60Lt91</td>
                            <td><code>hsla(var(--CrPeH) 100% 60% / 0.91)</code></td>
                            <td class="CrBdPe60Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdPe60Lt94</td>
                            <td><code>hsla(var(--CrPeH) 100% 60% / 0.94)</code></td>
                            <td class="CrBdPe60Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdPe60Lt97</td>
                            <td><code>hsla(var(--CrPeH) 100% 60% / 0.97)</code></td>
                            <td class="CrBdPe60Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdPe60Lt</td>
                            <td><code>hsla(var(--CrPeH) 100% 60% / 1)</code></td>
                            <td class="CrBdPe60Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdPe70Lt</td>
                            <td>CrBdPe70Lt91</td>
                            <td><code>hsla(var(--CrPeH) 100% 70% / 0.91)</code></td>
                            <td class="CrBdPe70Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdPe70Lt94</td>
                            <td><code>hsla(var(--CrPeH) 100% 70% / 0.94)</code></td>
                            <td class="CrBdPe70Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdPe70Lt97</td>
                            <td><code>hsla(var(--CrPeH) 100% 70% / 0.97)</code></td>
                            <td class="CrBdPe70Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdPe70Lt</td>
                            <td><code>hsla(var(--CrPeH) 100% 70% / 1)</code></td>
                            <td class="CrBdPe70Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdPe80Lt</td>
                            <td>CrBdPe80Lt91</td>
                            <td><code>hsla(var(--CrPeH) 100% 80% / 0.91)</code></td>
                            <td class="CrBdPe80Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdPe80Lt94</td>
                            <td><code>hsla(var(--CrPeH) 100% 80% / 0.94)</code></td>
                            <td class="CrBdPe80Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdPe80Lt97</td>
                            <td><code>hsla(var(--CrPeH) 100% 80% / 0.97)</code></td>
                            <td class="CrBdPe80Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdPe80Lt</td>
                            <td><code>hsla(var(--CrPeH) 100% 80% / 1)</code></td>
                            <td class="CrBdPe80Lt"></td>
                        </tr>

                    </tbody>

                </table>

                </div>

            </div>
        </div>

        <!--Background Color Gray-->
        <div class="Wh100p CrBdWe60">

            <div class="FtWt600 Wh50p MnTpBm10">Background Color Gray</div>

            <div class="DyFx OwXAo">

                <div class='DyFx FxWp FxDnCn Wh100p'>

                    <table>

                    <thead>
                        <tr>
                            <th class="Wh15p">Class</th>
                            <th class="Wh20p">Color Shades</th>
                            <th class="Wh30p">Color Code</th>
                            <th class="Wh35p">Example</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td rowspan="4">CrBdGy10Lt</td>
                            <td>CrBdGy10Lt91</td>
                            <td><code>hsla(var(--CrGyH) 0% 10% / 0.91)</code></td>
                            <td class="CrBdGy10Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdGy10Lt94</td>
                            <td><code>hsla(var(--CrGyH) 0% 10% / 0.94)</code></td>
                            <td class="CrBdGy10Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdGy10Lt97</td>
                            <td><code>hsla(var(--CrGyH) 0% 10% / 0.97)</code></td>
                            <td class="CrBdGy10Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdGy10Lt</td>
                            <td><code>hsla(var(--CrGyH) 0% 10% / 1)</code></td>
                            <td class="CrBdGy10Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdGy20Lt</td>
                            <td>CrBdGy20Lt91</td>
                            <td><code>hsla(var(--CrGyH) 0% 20% / 0.91)</code></td>
                            <td class="CrBdGy20Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdGy20Lt94</td>
                            <td><code>hsla(var(--CrGyH) 0% 20% / 0.94)</code></td>
                            <td class="CrBdGy20Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdGy20Lt97</td>
                            <td><code>hsla(var(--CrGyH) 0% 20% / 0.97)</code></td>
                            <td class="CrBdGy10Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdGy20Lt</td>
                            <td><code>hsla(var(--CrGyH) 0% 20% / 1)</code></td>
                            <td class="CrBdGy20Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdGy30Lt</td>
                            <td>CrBdGy30Lt91</td>
                            <td><code>hsla(var(--CrGyH) 0% 30% / 0.91)</code></td>
                            <td class="CrBdGy20Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdGy30Lt94</td>
                            <td><code>hsla(var(--CrGyH) 0% 30% / 0.94)</code></td>
                            <td class="CrBdGy30Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdGy30Lt97</td>
                            <td><code>hsla(var(--CrGyH) 0% 30% / 0.97)</code></td>
                            <td class="CrBdGy30Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdGy30Lt</td>
                            <td><code>hsla(var(--CrGyH) 0% 30% / 1)</code></td>
                            <td class="CrBdGy30Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdGy40Lt</td>
                            <td>CrBdGy40Lt91</td>
                            <td><code>hsla(var(--CrGyH) 0% 40% / 0.91)</code></td>
                            <td class="CrBdGy40Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdGy40Lt94</td>
                            <td><code>hsla(var(--CrGyH) 0% 40% / 0.94)</code></td>
                            <td class="CrBdGy40Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdGy40Lt97</td>
                            <td><code>hsla(var(--CrGyH) 0% 40% / 0.97)</code></td>
                            <td class="CrBdGy40Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdGy40Lt</td>
                            <td><code>hsla(var(--CrGyH) 0% 4% / 1)</code></td>
                            <td class="CrBdGy40Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdGy50Lt</td>
                            <td>CrBdGy50Lt91</td>
                            <td><code>hsla(var(--CrGyH) 0% 50% / 0.91)</code></td>
                            <td class="CrBdGy50Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdGy50Lt94</td>
                            <td><code>hsla(var(--CrGyH) 0% 50% / 0.94)</code></td>
                            <td class="CrBdGy50Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdGy50Lt97</td>
                            <td><code>hsla(var(--CrGyH) 0% 50% / 0.97)</code></td>
                            <td class="CrBdGy50Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdGy50Lt</td>
                            <td><code>hsla(var(--CrGyH) 0% 50% / 1)</code></td>
                            <td class="CrBdGy50Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdGy60Lt</td>
                            <td>CrBdGy60Lt91</td>
                            <td><code>hsla(var(--CrGyH) 0% 60% / 0.91)</code></td>
                            <td class="CrBdGy60Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdGy60Lt94</td>
                            <td><code>hsla(var(--CrGyH) 0% 60% / 0.94)</code></td>
                            <td class="CrBdGy60Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdGy60Lt97</td>
                            <td><code>hsla(var(--CrGyH) 0% 60% / 0.97)</code></td>
                            <td class="CrBdGy60Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdGy60Lt</td>
                            <td><code>hsla(var(--CrGyH) 0% 60% / 1)</code></td>
                            <td class="CrBdGy60Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdGy70Lt</td>
                            <td>CrBdGy70Lt91</td>
                            <td><code>hsla(var(--CrGyH) 0% 70% / 0.91)</code></td>
                            <td class="CrBdGy70Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdGy70Lt94</td>
                            <td><code>hsla(var(--CrGyH) 0% 70% / 0.94)</code></td>
                            <td class="CrBdGy70Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdGy70Lt97</td>
                            <td><code>hsla(var(--CrGyH) 0% 70% / 0.97)</code></td>
                            <td class="CrBdGy70Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdGy70Lt</td>
                            <td><code>hsla(var(--CrGyH) 0% 70% / 1)</code></td>
                            <td class="CrBdGy70Lt"></td>
                        </tr>

                        <tr>
                            <td rowspan="4">CrBdGy80Lt</td>
                            <td>CrBdGy80Lt91</td>
                            <td><code>hsla(var(--CrGyH) 0% 80% / 0.91)</code></td>
                            <td class="CrBdGy80Lt91"></td>
                        </tr>
                        <tr>
                            <td>CrBdGy80Lt94</td>
                            <td><code>hsla(var(--CrGyH) 0% 80% / 0.94)</code></td>
                            <td class="CrBdGy80Lt94"></td>
                        </tr>
                        <tr>
                            <td>CrBdGy80Lt97</td>
                            <td><code>hsla(var(--CrGyH) 0% 80% / 0.97)</code></td>
                            <td class="CrBdGy80Lt97"></td>
                        </tr>
                        <tr>
                            <td>CrBdGy80Lt</td>
                            <td><code>hsla(var(--CrGyH) 0% 80% / 1)</code></td>
                            <td class="CrBdGy80Lt"></td>
                        </tr>

                    </tbody>

                </table>

                </div>
            </div>

        </div>

        <!--Background Color Black-->
        <div class="Wh100p CrBdWe60">

            <div class="FtWt600 Wh50p MnTpBm10">Background Color Black</div>

            <div class="DyFx OwXAo">

                <div class='DyFx FxWp FxDnCn Wh100p'>

                    <table>
                    <thead>
                        <tr>
                            <th>Class Name</th>
                            <th>Color Shades</th>
                            <th>Example</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>CrBdBk</td>
                            <td><code>hsla(var(--CrBkH) 0% 0%)</code></td>
                            <td class="CrBdBk"></td>
                        </tr>

                    </tbody>

                </table>

                </div>

            </div>
        </div>

        <!--Background Color White-->
        <div class="Wh100p CrBdWe60">

            <div class="FtWt600 Wh50p MnTpBm10">Background Color White</div>

            <div class="DyFx OwXAo">

                <div class='DyFx FxWp FxDnCn Wh100p'>

                    <table>
                    <thead>
                        <tr>
                            <th>Class Name</th>
                            <th>Color Shades</th>
                            <th>Example</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>CrBdWe</td>
                            <td><code>hsla(var(--CrWeH) 0% 100%)</code></td>
                            <td class="CrBdWe"></td>
                        </tr>

                    </tbody>

                </table>

                </div>

            </div>
        </div>

    </div>
</section>
