@{
    ViewBag.ActiveLink = "UI_Effects";
    ViewBag.ActiveSubLink = "Animations";
    ViewBag.ActiveSubSubLink = "Multi_Box_Animations";
}

<section class="FxCrLt BrBm2 CrBrBk75 Pg20">
    <div class="FtSe30 FtWt600 CrBk75 PnRe ZIx100">Multi Box Animations</div>
</section>