@{
    ViewBag.ActiveLink = "Color_Gradient";
    ViewBag.ActiveSubLink = "Background_Gradient";
    ViewBag.ActiveSubSubLink = "Single_Color_Background_Gradient";
}
@* Hero Section *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="FxRw FxCr BxSw BrRs5 PgTpBm5 PnRe ZIx100">
        <h1 class="BrRs5"><i class="CT-Effects"></i> Single Color Background Gradient</h1>
    </div>

    <h2>Smooth and Elegant Background Transitions</h2>

    <p>
        Enhance your design with subtle and seamless single-color background gradients. These gradients shift from light to dark variations of the same hue, creating depth and visual interest while maintaining a clean, modern aesthetic.
    </p>
    <h3>Key Features:</h3>
    <ul>
        <li class="PgTpBm5"><strong>Subtle Depth:</strong> Uses variations of a single color for a sleek gradient effect.</li>
        <li class="PgTpBm5"><strong>Easy Implementation:</strong> Apply predefined classes to quickly add gradients.</li>
        <li class="PgTpBm5"><strong>Fully Customizable:</strong> Adjust direction, intensity, and shades to fit your design.</li>
        <li class="PgTpBm5"><strong>Performance Optimized:</strong> Uses lightweight CSS for smooth and efficient rendering.</li>
        <li class="PgTpBm5"><strong>Cross-Browser Support:</strong> Ensures a consistent appearance on all modern browsers.</li>
    </ul>
</section>

<!--Theme Color Gradient-->
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="DyFx FxWp Gp20">

        <div class="PlTe Wh100p CrBdWe60">
            <div class="PlTeHd">
                <div class="FtWt600 Wh50p">Theme Color Gradient</div>
            </div>
            <div class="DyFx FxJySeArd">

                <div class='DyFx FxAnIsSh FxJyCtCr FxWp FxDnRw FxDnCn Wh100p Gp25'>
                    <div class="Wh25p FxCr Pg50 CrBdGtTe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Theme</div>
                    <div class="Wh25p FxCr Pg50 CrBdGtDkTe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Dark Theme</div>
                    <div class="Wh25p FxCr Pg50 CrBdGtLtTe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Light Theme</div>

                    <div class="Wh25p FxCr Pg50 CrBdGtTeWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Theme with White</div>
                    <div class="Wh25p FxCr Pg50 CrBdGtDkTeWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Dark Theme with White</div>
                    <div class="Wh25p FxCr Pg50 CrBdGtLtTeWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Light Theme with White</div>

                    <div class="Wh25p FxCr Pg50 CrBdGtTeBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Theme with Black</div>
                    <div class="Wh25p FxCr Pg50 CrBdGtDkTeBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Dark Theme with Black</div>
                    <div class="Wh25p FxCr Pg50 CrBdGtLtTeBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Light Theme with Black</div>
                </div>

            </div>
        </div>
    </div>
</section>

@* Code  *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    @* code container  *@
    <div class="codeContainer Br1 CrBrGy90Lt BrRs10">

        @* header  *@
        <div class="DyFx BrBm1 CrBrGy90Lt FxJyCtSeBn FxAnIsCr Pg10 BrTpLtRs10 BrTpRtRs10" style="background: #F5F5F5">
            <div class="fileName">
                <span class="FtWt600">Source Code</span>
            </div>
            <div class="DyFx FxAnIsCr Gp10">
                <div class="">
                    <select class="switcherSelect TtBx Pg0 PgLtRt5 PgTpBm5">
                        <option value="HTML">HTML</option>
                    </select>
                </div>

                @* copy  *@
                <button aria-label="Copy code" class="copyButton Bn Br1 CrBrGy90Lt" type="button">
                    @* copy button  *@
                    <svg class="copy-icon" data-testid="geist-icon" height="16" width="16" stroke-linejoin="round" viewBox="0 0 16 16" aria-hidden="true">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.75 0.5C1.7835 0.5 1 1.2835 1 2.25V9.75C1 10.7165 1.7835 11.5 2.75 11.5H3.75H4.5V10H3.75H2.75C2.61193 10 2.5 9.88807 2.5 9.75V2.25C2.5 2.11193 2.61193 2 2.75 2H8.25C8.38807 2 8.5 2.11193 8.5 2.25V3H10V2.25C10 1.2835 9.2165 0.5 8.25 0.5H2.75ZM7.75 4.5C6.7835 4.5 6 5.2835 6 6.25V13.75C6 14.7165 6.7835 15.5 7.75 15.5H13.25C14.2165 15.5 15 14.7165 15 13.75V6.25C15 5.2835 14.2165 4.5 13.25 4.5H7.75ZM7.5 6.25C7.5 6.11193 7.61193 6 7.75 6H13.25C13.3881 6 13.5 6.11193 13.5 6.25V13.75C13.5 13.8881 13.3881 14 13.25 14H7.75C7.61193 14 7.5 13.8881 7.5 13.75V6.25Z" fill="currentColor">
                        </path>
                    </svg>

                    <svg class="check-icon" width="0" height="0" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 8L6 11L13 4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                </button>

            </div>
        </div>

        @* code  *@
<pre class="codeBlock highlight">
<code class="language-html" style="background: none">
&lt;div class=&quot;Wh25p FxCr Pg50 CrBdGtTe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Theme&lt;/div&gt;
&lt;div class=&quot;Wh25p FxCr Pg50 CrBdGtDkTe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Dark Theme&lt;/div&gt;
&lt;div class=&quot;Wh25p FxCr Pg50 CrBdGtLtTe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Light Theme&lt;/div&gt;
&lt;div class=&quot;Wh25p FxCr Pg50 CrBdGtTeWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Theme with White&lt;/div&gt;
&lt;div class=&quot;Wh25p FxCr Pg50 CrBdGtDkTeWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Dark Theme with White&lt;/div&gt;
&lt;div class=&quot;Wh25p FxCr Pg50 CrBdGtLtTeWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Light Theme with White&lt;/div&gt;
&lt;div class=&quot;Wh25p FxCr Pg50 CrBdGtTeBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Theme with Black&lt;/div&gt;
&lt;div class=&quot;Wh25p FxCr Pg50 CrBdGtDkTeBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Dark Theme with Black&lt;/div&gt;
&lt;div class=&quot;Wh25p FxCr Pg50 CrBdGtLtTeBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Light Theme with Black&lt;/div&gt;
</code>
</pre>

    </div>
</section>

<!--Red Color Gradient-->
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="DyFx FxWp Gp20">

        <div class="PlTe Wh100p CrBdWe60">
            <div class="PlTeHd">
                <div class="FtWt600 Wh50p">Red Color Gradient</div>
            </div>
            <div class="DyFx FxJySeArd">

                <div class='DyFx FxAnIsSh FxJyCtCr FxWp FxDnRw FxDnCn Wh100p Gp25'>
                    <div class="Wh25p FxCr Pg50 CrBdGtRd CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Red</div>
                    <div class="Wh25p FxCr Pg50 CrBdGtDkRd CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Dark Red</div>
                    <div class="Wh25p FxCr Pg50 CrBdGtLtRd CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Light Red</div>

                    <div class="Wh25p FxCr Pg50 CrBdGtRdWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Red with White</div>
                    <div class="Wh25p FxCr Pg50 CrBdGtDkRdWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Dark Red with White</div>
                    <div class="Wh25p FxCr Pg50 CrBdGtLtRdWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Light Red with White</div>

                    <div class="Wh25p FxCr Pg50 CrBdGtRdBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Red with Black</div>
                    <div class="Wh25p FxCr Pg50 CrBdGtDkRdBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Dark Red with Black</div>
                    <div class="Wh25p FxCr Pg50 CrBdGtLtRdBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Light Red with Black</div>
                </div>

            </div>
        </div>
    </div>
</section>

@* Code  *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    @* code container  *@
    <div class="codeContainer Br1 CrBrGy90Lt BrRs10">

        @* header  *@
        <div class="DyFx BrBm1 CrBrGy90Lt FxJyCtSeBn FxAnIsCr Pg10 BrTpLtRs10 BrTpRtRs10" style="background: #F5F5F5">
            <div class="fileName">
                <span class="FtWt600">Source Code</span>
            </div>
            <div class="DyFx FxAnIsCr Gp10">
                <div class="">
                    <select class="switcherSelect TtBx Pg0 PgLtRt5 PgTpBm5">
                        <option value="HTML">HTML</option>
                    </select>
                </div>

                @* copy  *@
                <button aria-label="Copy code" class="copyButton Bn Br1 CrBrGy90Lt" type="button">
                    @* copy button  *@
                    <svg class="copy-icon" data-testid="geist-icon" height="16" width="16" stroke-linejoin="round" viewBox="0 0 16 16" aria-hidden="true">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.75 0.5C1.7835 0.5 1 1.2835 1 2.25V9.75C1 10.7165 1.7835 11.5 2.75 11.5H3.75H4.5V10H3.75H2.75C2.61193 10 2.5 9.88807 2.5 9.75V2.25C2.5 2.11193 2.61193 2 2.75 2H8.25C8.38807 2 8.5 2.11193 8.5 2.25V3H10V2.25C10 1.2835 9.2165 0.5 8.25 0.5H2.75ZM7.75 4.5C6.7835 4.5 6 5.2835 6 6.25V13.75C6 14.7165 6.7835 15.5 7.75 15.5H13.25C14.2165 15.5 15 14.7165 15 13.75V6.25C15 5.2835 14.2165 4.5 13.25 4.5H7.75ZM7.5 6.25C7.5 6.11193 7.61193 6 7.75 6H13.25C13.3881 6 13.5 6.11193 13.5 6.25V13.75C13.5 13.8881 13.3881 14 13.25 14H7.75C7.61193 14 7.5 13.8881 7.5 13.75V6.25Z" fill="currentColor">
                        </path>
                    </svg>

                    <svg class="check-icon" width="0" height="0" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 8L6 11L13 4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                </button>

            </div>
        </div>

        @* code  *@
<pre class="codeBlock highlight">
<code class="language-html" style="background: none">
&lt;div class=&quot;Wh25p FxCr Pg50 CrBdGtRd CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Red&lt;/div&gt;
&lt;div class=&quot;Wh25p FxCr Pg50 CrBdGtDkRd CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Dark Red&lt;/div&gt;
&lt;div class=&quot;Wh25p FxCr Pg50 CrBdGtLtRd CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Light Red&lt;/div&gt;
&lt;div class=&quot;Wh25p FxCr Pg50 CrBdGtRdWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Red with White&lt;/div&gt;
&lt;div class=&quot;Wh25p FxCr Pg50 CrBdGtDkRdWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Dark Red with White&lt;/div&gt;
&lt;div class=&quot;Wh25p FxCr Pg50 CrBdGtLtRdWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Light Red with White&lt;/div&gt;
&lt;div class=&quot;Wh25p FxCr Pg50 CrBdGtRdBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Red with Black&lt;/div&gt;
&lt;div class=&quot;Wh25p FxCr Pg50 CrBdGtDkRdBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Dark Red with Black&lt;/div&gt;
&lt;div class=&quot;Wh25p FxCr Pg50 CrBdGtLtRdBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Light Red with Black&lt;/div&gt;
</code>
</pre>

    </div>
</section>

<!--Yellow Color Gradient-->
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="DyFx FxWp Gp20">

        <div class="PlTe Wh100p CrBdWe60">
            <div class="PlTeHd">
                <div class="FtWt600 Wh50p">Yellow Color Gradient</div>
            </div>
            <div class="DyFx FxJySeArd">

                <div class='DyFx FxAnIsSh FxJyCtCr FxWp FxDnRw FxDnCn Gp25 Wh100p'>
                    <div class="Wh25p Pg50 FxCr CrBdGtYw CrBk FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Yellow</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtDkYw CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Dark Yellow</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtLtYw CrBk FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Light Yellow</div>

                    <div class="Wh25p Pg50 FxCr CrBdGtYwWe CrBk FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Yellow with White</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtDkYwWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Dark Yellow with White</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtLtYwWe CrBk FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Light Yellow with White</div>

                    <div class="Wh25p Pg50 FxCr CrBdGtYwBk CrBk FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Yellow with Black</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtDkYwBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Dark Yellow with Black</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtLtYwBk CrBk FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Light Yellow with Black</div>
                </div>

            </div>
        </div>
    </div>
</section>

@* Code  *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    @* code container  *@
    <div class="codeContainer Br1 CrBrGy90Lt BrRs10">

        @* header  *@
        <div class="DyFx BrBm1 CrBrGy90Lt FxJyCtSeBn FxAnIsCr Pg10 BrTpLtRs10 BrTpRtRs10" style="background: #F5F5F5">
            <div class="fileName">
                <span class="FtWt600">Source Code</span>
            </div>
            <div class="DyFx FxAnIsCr Gp10">
                <div class="">
                    <select class="switcherSelect TtBx Pg0 PgLtRt5 PgTpBm5">
                        <option value="HTML">HTML</option>
                    </select>
                </div>

                @* copy  *@
                <button aria-label="Copy code" class="copyButton Bn Br1 CrBrGy90Lt" type="button">
                    @* copy button  *@
                    <svg class="copy-icon" data-testid="geist-icon" height="16" width="16" stroke-linejoin="round" viewBox="0 0 16 16" aria-hidden="true">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.75 0.5C1.7835 0.5 1 1.2835 1 2.25V9.75C1 10.7165 1.7835 11.5 2.75 11.5H3.75H4.5V10H3.75H2.75C2.61193 10 2.5 9.88807 2.5 9.75V2.25C2.5 2.11193 2.61193 2 2.75 2H8.25C8.38807 2 8.5 2.11193 8.5 2.25V3H10V2.25C10 1.2835 9.2165 0.5 8.25 0.5H2.75ZM7.75 4.5C6.7835 4.5 6 5.2835 6 6.25V13.75C6 14.7165 6.7835 15.5 7.75 15.5H13.25C14.2165 15.5 15 14.7165 15 13.75V6.25C15 5.2835 14.2165 4.5 13.25 4.5H7.75ZM7.5 6.25C7.5 6.11193 7.61193 6 7.75 6H13.25C13.3881 6 13.5 6.11193 13.5 6.25V13.75C13.5 13.8881 13.3881 14 13.25 14H7.75C7.61193 14 7.5 13.8881 7.5 13.75V6.25Z" fill="currentColor">
                        </path>
                    </svg>

                    <svg class="check-icon" width="0" height="0" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 8L6 11L13 4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                </button>

            </div>
        </div>

        @* code  *@
<pre class="codeBlock highlight">
<code class="language-html" style="background: none">
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtYw CrBk FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Yellow&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtDkYw CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Dark Yellow&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtLtYw CrBk FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Light Yellow&lt;/div&gt;

&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtYwWe CrBk FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Yellow with White&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtDkYwWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Dark Yellow with White&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtLtYwWe CrBk FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Light Yellow with White&lt;/div&gt;

&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtYwBk CrBk FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Yellow with Black&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtDkYwBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Dark Yellow with Black&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtLtYwBk CrBk FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Light Yellow with Black&lt;/div&gt;
</code>
</pre>

    </div>
</section>

<!--Orange Color Gradient-->
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="DyFx FxWp Gp20">

        <div class="PlTe Wh100p CrBdWe60">
            <div class="PlTeHd">
                <div class="FtWt600 Wh50p">Orange Color Gradient</div>
            </div>
            <div class="DyFx FxJySeArd">

                <div class='DyFx FxAnIsSh FxJyCtCr FxWp FxDnRw FxDnCn Gp25 Wh100p'>
                    <div class="Wh25p Pg50 FxCr CrBdGtOe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Orange</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtDkOe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Dark Orange</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtLtOe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Light Orange</div>

                    <div class="Wh25p Pg50 FxCr CrBdGtOeWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Orange with White</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtDkOeWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Dark Orange with White</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtLtOeWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Light Orange with White</div>

                    <div class="Wh25p Pg50 FxCr CrBdGtOeBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Orange with Black</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtDkOeBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Dark Orange with Black</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtLtOeBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Light Orange with Black</div>
                </div>

            </div>
        </div>
    </div>
</section>

@* Code  *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    @* code container  *@
    <div class="codeContainer Br1 CrBrGy90Lt BrRs10">

        @* header  *@
        <div class="DyFx BrBm1 CrBrGy90Lt FxJyCtSeBn FxAnIsCr Pg10 BrTpLtRs10 BrTpRtRs10" style="background: #F5F5F5">
            <div class="fileName">
                <span class="FtWt600">Source Code</span>
            </div>
            <div class="DyFx FxAnIsCr Gp10">
                <div class="">
                    <select class="switcherSelect TtBx Pg0 PgLtRt5 PgTpBm5">
                        <option value="HTML">HTML</option>
                    </select>
                </div>

                @* copy  *@
                <button aria-label="Copy code" class="copyButton Bn Br1 CrBrGy90Lt" type="button">
                    @* copy button  *@
                    <svg class="copy-icon" data-testid="geist-icon" height="16" width="16" stroke-linejoin="round" viewBox="0 0 16 16" aria-hidden="true">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.75 0.5C1.7835 0.5 1 1.2835 1 2.25V9.75C1 10.7165 1.7835 11.5 2.75 11.5H3.75H4.5V10H3.75H2.75C2.61193 10 2.5 9.88807 2.5 9.75V2.25C2.5 2.11193 2.61193 2 2.75 2H8.25C8.38807 2 8.5 2.11193 8.5 2.25V3H10V2.25C10 1.2835 9.2165 0.5 8.25 0.5H2.75ZM7.75 4.5C6.7835 4.5 6 5.2835 6 6.25V13.75C6 14.7165 6.7835 15.5 7.75 15.5H13.25C14.2165 15.5 15 14.7165 15 13.75V6.25C15 5.2835 14.2165 4.5 13.25 4.5H7.75ZM7.5 6.25C7.5 6.11193 7.61193 6 7.75 6H13.25C13.3881 6 13.5 6.11193 13.5 6.25V13.75C13.5 13.8881 13.3881 14 13.25 14H7.75C7.61193 14 7.5 13.8881 7.5 13.75V6.25Z" fill="currentColor">
                        </path>
                    </svg>

                    <svg class="check-icon" width="0" height="0" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 8L6 11L13 4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                </button>

            </div>
        </div>

        @* code  *@
<pre class="codeBlock highlight">
<code class="language-html" style="background: none">
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtOe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Orange&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtDkOe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Dark Orange&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtLtOe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Light Orange&lt;/div&gt;

&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtOeWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Orange with White&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtDkOeWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Dark Orange with White&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtLtOeWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Light Orange with White&lt;/div&gt;

&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtOeBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Orange with Black&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtDkOeBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Dark Orange with Black&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtLtOeBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Light Orange with Black&lt;/div&gt;
</code>
</pre>

    </div>
</section>

<!--Blue Color Gradient-->
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="DyFx FxWp Gp20">

        <div class="PlTe Wh100p CrBdWe60">
            <div class="PlTeHd">
                <div class="FtWt600 Wh50p">Blue Color Gradient</div>
            </div>
            <div class="DyFx FxJySeArd">

                <div class='DyFx FxAnIsSh FxJyCtCr FxWp FxDnRw FxDnCn Gp25 Wh100p'>
                    <div class="Wh25p Pg50 FxCr CrBdGtBe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Blue</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtDkBe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Dark Blue</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtLtBe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Light Blue</div>

                    <div class="Wh25p Pg50 FxCr CrBdGtBeWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Blue with White</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtDkBeWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Dark Blue with White</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtLtBeWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Light Blue with White</div>

                    <div class="Wh25p Pg50 FxCr CrBdGtBeBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Blue with Black</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtDkBeBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Dark Blue with Black</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtLtBeBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Light Blue with Black</div>
                </div>


            </div>
        </div>

    </div>
</section>

@* Code  *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    @* code container  *@
    <div class="codeContainer Br1 CrBrGy90Lt BrRs10">

        @* header  *@
        <div class="DyFx BrBm1 CrBrGy90Lt FxJyCtSeBn FxAnIsCr Pg10 BrTpLtRs10 BrTpRtRs10" style="background: #F5F5F5">
            <div class="fileName">
                <span class="FtWt600">Source Code</span>
            </div>
            <div class="DyFx FxAnIsCr Gp10">
                <div class="">
                    <select class="switcherSelect TtBx Pg0 PgLtRt5 PgTpBm5">
                        <option value="HTML">HTML</option>
                    </select>
                </div>

                @* copy  *@
                <button aria-label="Copy code" class="copyButton Bn Br1 CrBrGy90Lt" type="button">
                    @* copy button  *@
                    <svg class="copy-icon" data-testid="geist-icon" height="16" width="16" stroke-linejoin="round" viewBox="0 0 16 16" aria-hidden="true">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.75 0.5C1.7835 0.5 1 1.2835 1 2.25V9.75C1 10.7165 1.7835 11.5 2.75 11.5H3.75H4.5V10H3.75H2.75C2.61193 10 2.5 9.88807 2.5 9.75V2.25C2.5 2.11193 2.61193 2 2.75 2H8.25C8.38807 2 8.5 2.11193 8.5 2.25V3H10V2.25C10 1.2835 9.2165 0.5 8.25 0.5H2.75ZM7.75 4.5C6.7835 4.5 6 5.2835 6 6.25V13.75C6 14.7165 6.7835 15.5 7.75 15.5H13.25C14.2165 15.5 15 14.7165 15 13.75V6.25C15 5.2835 14.2165 4.5 13.25 4.5H7.75ZM7.5 6.25C7.5 6.11193 7.61193 6 7.75 6H13.25C13.3881 6 13.5 6.11193 13.5 6.25V13.75C13.5 13.8881 13.3881 14 13.25 14H7.75C7.61193 14 7.5 13.8881 7.5 13.75V6.25Z" fill="currentColor">
                        </path>
                    </svg>

                    <svg class="check-icon" width="0" height="0" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 8L6 11L13 4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                </button>

            </div>
        </div>

        @* code  *@
<pre class="codeBlock highlight">
<code class="language-html" style="background: none">
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtBe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Blue&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtDkBe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Dark Blue&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtLtBe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Light Blue&lt;/div&gt;

&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtBeWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Blue with White&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtDkBeWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Dark Blue with White&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtLtBeWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Light Blue with White&lt;/div&gt;

&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtBeBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Blue with Black&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtDkBeBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Dark Blue with Black&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtLtBeBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Light Blue with Black&lt;/div&gt;
</code>
</pre>

    </div>
</section>

<!--Green Color Gradient-->
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="DyFx FxWp Gp20">

        <div class="PlTe Wh100p CrBdWe60">
            <div class="PlTeHd">
                <div class="FtWt600 Wh50p">Green Color Gradient</div>
            </div>
            <div class="DyFx FxJySeArd">

                <div class='DyFx FxAnIsSh FxJyCtCr FxWp FxDnRw FxDnCn Gp25 Wh100p'>
                    <div class="Wh25p Pg50 FxCr CrBdGtGn CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Green</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtDkGn CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Dark Green</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtLtGn CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Light Green</div>

                    <div class="Wh25p Pg50 FxCr CrBdGtGnWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Green with White</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtDkGnWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Dark Green with White</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtLtGnWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Light Green with White</div>

                    <div class="Wh25p Pg50 FxCr CrBdGtGnBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Green with Black</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtDkGnBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Dark Green with Black</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtLtGnBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Light Green with Black</div>
                </div>


            </div>
        </div>

    </div>
</section>

@* Code  *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    @* code container  *@
    <div class="codeContainer Br1 CrBrGy90Lt BrRs10">

        @* header  *@
        <div class="DyFx BrBm1 CrBrGy90Lt FxJyCtSeBn FxAnIsCr Pg10 BrTpLtRs10 BrTpRtRs10" style="background: #F5F5F5">
            <div class="fileName">
                <span class="FtWt600">Source Code</span>
            </div>
            <div class="DyFx FxAnIsCr Gp10">
                <div class="">
                    <select class="switcherSelect TtBx Pg0 PgLtRt5 PgTpBm5">
                        <option value="HTML">HTML</option>
                    </select>
                </div>

                @* copy  *@
                <button aria-label="Copy code" class="copyButton Bn Br1 CrBrGy90Lt" type="button">
                    @* copy button  *@
                    <svg class="copy-icon" data-testid="geist-icon" height="16" width="16" stroke-linejoin="round" viewBox="0 0 16 16" aria-hidden="true">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.75 0.5C1.7835 0.5 1 1.2835 1 2.25V9.75C1 10.7165 1.7835 11.5 2.75 11.5H3.75H4.5V10H3.75H2.75C2.61193 10 2.5 9.88807 2.5 9.75V2.25C2.5 2.11193 2.61193 2 2.75 2H8.25C8.38807 2 8.5 2.11193 8.5 2.25V3H10V2.25C10 1.2835 9.2165 0.5 8.25 0.5H2.75ZM7.75 4.5C6.7835 4.5 6 5.2835 6 6.25V13.75C6 14.7165 6.7835 15.5 7.75 15.5H13.25C14.2165 15.5 15 14.7165 15 13.75V6.25C15 5.2835 14.2165 4.5 13.25 4.5H7.75ZM7.5 6.25C7.5 6.11193 7.61193 6 7.75 6H13.25C13.3881 6 13.5 6.11193 13.5 6.25V13.75C13.5 13.8881 13.3881 14 13.25 14H7.75C7.61193 14 7.5 13.8881 7.5 13.75V6.25Z" fill="currentColor">
                        </path>
                    </svg>

                    <svg class="check-icon" width="0" height="0" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 8L6 11L13 4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                </button>

            </div>
        </div>

        @* code  *@
<pre class="codeBlock highlight">
<code class="language-html" style="background: none">
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtGn CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Green&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtDkGn CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Dark Green&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtLtGn CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Light Green&lt;/div&gt;

&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtGnWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Green with White&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtDkGnWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Dark Green with White&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtLtGnWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Light Green with White&lt;/div&gt;

&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtGnBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Green with Black&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtDkGnBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Dark Green with Black&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtLtGnBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Light Green with Black&lt;/div&gt;
</code>
</pre>

    </div>
</section>

@* Pink Color Gradient *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="DyFx FxWp Gp20">

        <!--Pink Color Gradient-->
        <div class="PlTe Wh100p CrBdWe60">
            <div class="PlTeHd">
                <div class="FtWt600 Wh50p">Pink Color Gradient</div>
            </div>
            <div class="DyFx FxJySeArd">

                <div class='DyFx FxAnIsSh FxJyCtCr FxWp FxDnRw FxDnCn Gp25 Wh100p'>
                    <div class="Wh25p Pg50 FxCr CrBdGtPk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Pink</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtDkPk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Dark Pink</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtLtPk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Light Pink</div>

                    <div class="Wh25p Pg50 FxCr CrBdGtPkWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Pink with White</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtDkPkWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Dark Pink with White</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtLtPkWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Light Pink with White</div>

                    <div class="Wh25p Pg50 FxCr CrBdGtPkBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Pink with Black</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtDkPkBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Dark Pink with Black</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtLtPkBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Light Pink with Black</div>
                </div>

            </div>
        </div>

    </div>
</section>

@* Code  *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    @* code container  *@
    <div class="codeContainer Br1 CrBrGy90Lt BrRs10">

        @* header  *@
        <div class="DyFx BrBm1 CrBrGy90Lt FxJyCtSeBn FxAnIsCr Pg10 BrTpLtRs10 BrTpRtRs10" style="background: #F5F5F5">
            <div class="fileName">
                <span class="FtWt600">Source Code</span>
            </div>
            <div class="DyFx FxAnIsCr Gp10">
                <div class="">
                    <select class="switcherSelect TtBx Pg0 PgLtRt5 PgTpBm5">
                        <option value="HTML">HTML</option>
                    </select>
                </div>

                @* copy  *@
                <button aria-label="Copy code" class="copyButton Bn Br1 CrBrGy90Lt" type="button">
                    @* copy button  *@
                    <svg class="copy-icon" data-testid="geist-icon" height="16" width="16" stroke-linejoin="round" viewBox="0 0 16 16" aria-hidden="true">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.75 0.5C1.7835 0.5 1 1.2835 1 2.25V9.75C1 10.7165 1.7835 11.5 2.75 11.5H3.75H4.5V10H3.75H2.75C2.61193 10 2.5 9.88807 2.5 9.75V2.25C2.5 2.11193 2.61193 2 2.75 2H8.25C8.38807 2 8.5 2.11193 8.5 2.25V3H10V2.25C10 1.2835 9.2165 0.5 8.25 0.5H2.75ZM7.75 4.5C6.7835 4.5 6 5.2835 6 6.25V13.75C6 14.7165 6.7835 15.5 7.75 15.5H13.25C14.2165 15.5 15 14.7165 15 13.75V6.25C15 5.2835 14.2165 4.5 13.25 4.5H7.75ZM7.5 6.25C7.5 6.11193 7.61193 6 7.75 6H13.25C13.3881 6 13.5 6.11193 13.5 6.25V13.75C13.5 13.8881 13.3881 14 13.25 14H7.75C7.61193 14 7.5 13.8881 7.5 13.75V6.25Z" fill="currentColor">
                        </path>
                    </svg>

                    <svg class="check-icon" width="0" height="0" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 8L6 11L13 4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                </button>

            </div>
        </div>

        @* code  *@
<pre class="codeBlock highlight">
<code class="language-html" style="background: none">
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtPk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Pink&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtDkPk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Dark Pink&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtLtPk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Light Pink&lt;/div&gt;

&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtPkWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Pink with White&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtDkPkWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Dark Pink with White&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtLtPkWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Light Pink with White&lt;/div&gt;

&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtPkBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Pink with Black&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtDkPkBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Dark Pink with Black&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtLtPkBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Light Pink with Black&lt;/div&gt;
</code>
</pre>

    </div>
</section>

<!--Purple Color Gradient-->
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="DyFx FxWp Gp20">

        <div class="PlTe Wh100p CrBdWe60">
            <div class="PlTeHd">
                <div class="FtWt600 Wh50p">Purple Color Gradient</div>
            </div>
            <div class="DyFx FxJySeArd">

                <div class='DyFx FxAnIsSh FxJyCtCr FxWp FxDnRw FxDnCn Gp25 Wh100p'>
                    <div class="Wh25p Pg50 FxCr CrBdGtPe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Purple</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtDkPe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Dark Purple</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtLtPe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Light Purple</div>

                    <div class="Wh25p Pg50 FxCr CrBdGtPeWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Purple with White</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtDkPeWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Dark Purple with White</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtLtPeWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Light Purple with White</div>

                    <div class="Wh25p Pg50 FxCr CrBdGtPeBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Purple with Black</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtDkPeBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Dark Purple with Black</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtLtPeBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Light Purple with Black</div>
                </div>

            </div>
        </div>

    </div>
</section>

@* Code  *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    @* code container  *@
    <div class="codeContainer Br1 CrBrGy90Lt BrRs10">

        @* header  *@
        <div class="DyFx BrBm1 CrBrGy90Lt FxJyCtSeBn FxAnIsCr Pg10 BrTpLtRs10 BrTpRtRs10" style="background: #F5F5F5">
            <div class="fileName">
                <span class="FtWt600">Source Code</span>
            </div>
            <div class="DyFx FxAnIsCr Gp10">
                <div class="">
                    <select class="switcherSelect TtBx Pg0 PgLtRt5 PgTpBm5">
                        <option value="HTML">HTML</option>
                    </select>
                </div>

                @* copy  *@
                <button aria-label="Copy code" class="copyButton Bn Br1 CrBrGy90Lt" type="button">
                    @* copy button  *@
                    <svg class="copy-icon" data-testid="geist-icon" height="16" width="16" stroke-linejoin="round" viewBox="0 0 16 16" aria-hidden="true">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.75 0.5C1.7835 0.5 1 1.2835 1 2.25V9.75C1 10.7165 1.7835 11.5 2.75 11.5H3.75H4.5V10H3.75H2.75C2.61193 10 2.5 9.88807 2.5 9.75V2.25C2.5 2.11193 2.61193 2 2.75 2H8.25C8.38807 2 8.5 2.11193 8.5 2.25V3H10V2.25C10 1.2835 9.2165 0.5 8.25 0.5H2.75ZM7.75 4.5C6.7835 4.5 6 5.2835 6 6.25V13.75C6 14.7165 6.7835 15.5 7.75 15.5H13.25C14.2165 15.5 15 14.7165 15 13.75V6.25C15 5.2835 14.2165 4.5 13.25 4.5H7.75ZM7.5 6.25C7.5 6.11193 7.61193 6 7.75 6H13.25C13.3881 6 13.5 6.11193 13.5 6.25V13.75C13.5 13.8881 13.3881 14 13.25 14H7.75C7.61193 14 7.5 13.8881 7.5 13.75V6.25Z" fill="currentColor">
                        </path>
                    </svg>

                    <svg class="check-icon" width="0" height="0" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 8L6 11L13 4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                </button>

            </div>
        </div>

        @* code  *@
<pre class="codeBlock highlight">
<code class="language-html" style="background: none">
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtPe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Purple&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtDkPe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Dark Purple&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtLtPe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Light Purple&lt;/div&gt;

&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtPeWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Purple with White&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtDkPeWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Dark Purple with White&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtLtPeWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Light Purple with White&lt;/div&gt;

&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtPeBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Purple with Black&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtDkPeBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Dark Purple with Black&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtLtPeBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Light Purple with Black&lt;/div&gt;
</code>
</pre>

    </div>
</section>

<!--Gray Color Gradient-->
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="DyFx FxWp Gp20">

        <div class="PlTe Wh100p CrBdWe60">
            <div class="PlTeHd">
                <div class="FtWt600 Wh50p">Gray Color Gradient</div>
            </div>
            <div class="DyFx FxJySeArd">

                <div class='DyFx FxAnIsSh FxJyCtCr FxWp FxDnRw FxDnCn Gp25 Wh100p'>
                    <div class="Wh25p Pg50 FxCr CrBdGtGy CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Gray</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtDkGy CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Dark Gray</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtLtGy CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Light Gray</div>

                    <div class="Wh25p Pg50 FxCr CrBdGtGyWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Gray with White</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtDkGyWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Dark Gray with White</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtLtGyWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Light Gray with White</div>

                    <div class="Wh25p Pg50 FxCr CrBdGtGyBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Gray with Black</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtDkGyBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Dark Gray with Black</div>
                    <div class="Wh25p Pg50 FxCr CrBdGtLtGyBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy">Light Gray with Black</div>
                </div>

            </div>
        </div>

    </div>


</section>

@* Code  *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    @* code container  *@
    <div class="codeContainer Br1 CrBrGy90Lt BrRs10">

        @* header  *@
        <div class="DyFx BrBm1 CrBrGy90Lt FxJyCtSeBn FxAnIsCr Pg10 BrTpLtRs10 BrTpRtRs10" style="background: #F5F5F5">
            <div class="fileName">
                <span class="FtWt600">Source Code</span>
            </div>
            <div class="DyFx FxAnIsCr Gp10">
                <div class="">
                    <select class="switcherSelect TtBx Pg0 PgLtRt5 PgTpBm5">
                        <option value="HTML">HTML</option>
                    </select>
                </div>

                @* copy  *@
                <button aria-label="Copy code" class="copyButton Bn Br1 CrBrGy90Lt" type="button">
                    @* copy button  *@
                    <svg class="copy-icon" data-testid="geist-icon" height="16" width="16" stroke-linejoin="round" viewBox="0 0 16 16" aria-hidden="true">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.75 0.5C1.7835 0.5 1 1.2835 1 2.25V9.75C1 10.7165 1.7835 11.5 2.75 11.5H3.75H4.5V10H3.75H2.75C2.61193 10 2.5 9.88807 2.5 9.75V2.25C2.5 2.11193 2.61193 2 2.75 2H8.25C8.38807 2 8.5 2.11193 8.5 2.25V3H10V2.25C10 1.2835 9.2165 0.5 8.25 0.5H2.75ZM7.75 4.5C6.7835 4.5 6 5.2835 6 6.25V13.75C6 14.7165 6.7835 15.5 7.75 15.5H13.25C14.2165 15.5 15 14.7165 15 13.75V6.25C15 5.2835 14.2165 4.5 13.25 4.5H7.75ZM7.5 6.25C7.5 6.11193 7.61193 6 7.75 6H13.25C13.3881 6 13.5 6.11193 13.5 6.25V13.75C13.5 13.8881 13.3881 14 13.25 14H7.75C7.61193 14 7.5 13.8881 7.5 13.75V6.25Z" fill="currentColor">
                        </path>
                    </svg>

                    <svg class="check-icon" width="0" height="0" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 8L6 11L13 4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                </button>

            </div>
        </div>

        @* code  *@
<pre class="codeBlock highlight">
<code class="language-html" style="background: none">
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtGy CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Gray&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtDkGy CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Dark Gray&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtLtGy CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Light Gray&lt;/div&gt;

&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtGyWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Gray with White&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtDkGyWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Dark Gray with White&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtLtGyWe CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Light Gray with White&lt;/div&gt;

&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtGyBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Gray with Black&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtDkGyBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Dark Gray with Black&lt;/div&gt;
&lt;div class=&quot;Wh25p Pg50 FxCr CrBdGtLtGyBk CrWe FtWt900 TtAnCr BrRs20 BxSwFgCrGy&quot;&gt;Light Gray with Black&lt;/div&gt;
</code>
</pre>

    </div>
</section>
