@{
    ViewBag.ActiveLink = "UI_Effects";
    ViewBag.ActiveSubLink = "Animations";
    ViewBag.ActiveSubSubLink = "Single_Box_Animations";
}

<style>
    .Bn{
        font-size: 10px !important;
    }
</style>

@* Hero Section *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="FxRw FxCr BxSw BrRs5 PgTpBm5 PnRe ZIx100">
        <h1 class="BrRs5"><i class="CT-Animation "></i> Engaging Single Box Animations</h1>
    </div>

    <p><h2>Effortless Animations for Dynamic UI</h2></p>
    <p>
        Enhance user experience with our collection of sleek and powerful single-box animations. Designed for seamless integration, these animations bring life to buttons, cards, icons, and more—ensuring fluid and eye-catching interactions across any device.
    </p>
    <h3>Key Features:</h3>
    <ul>
        <li class="PgTpBm5"><strong>Lightweight & Fast:</strong> Built with optimized CSS and minimal overhead, ensuring smooth performance without slowing down your site.</li>
        <li class="PgTpBm5"><strong>Customizable Effects:</strong> Easily modify speed, easing, and delay to create unique animation styles that fit your brand.</li>
        <li class="PgTpBm5"><strong>Responsive & Adaptive:</strong> Whether on desktop or mobile, animations adjust to different screen sizes without breaking layouts.</li>
        <li class="PgTpBm5"><strong>Plug-and-Play Integration:</strong> Simply apply predefined classes to elements, and animations are instantly activated—no extra JavaScript required.</li>
        <li class="PgTpBm5"><strong>Cross-Browser Compatibility:</strong> Designed to work flawlessly across all major web browsers for a consistent and engaging experience.</li>
    </ul>
</section>

@* Animation Section  *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="DyFx FxWp Gp20">
        <!--Panel Toggle-->

        <!--Basic Animation-->
        <div class="PlTe Wh100p CrBdWe60">
            <div class="PlTeHd">
                <div class="Wh50p FtWt600">Basic Animation</div>
                <div class=" DyFx FxAnIsCr Gp5 FxJyCtFxEd Wh50p">
                    <div class="CT-CopyButton  CrurPr">Copy Code :</div>
                    <div class="CT-EyeOpen  DyBk CrurPr"></div>
                    <div class="CT-EyeClose  DyNe CrurPr"></div>
                </div>
            </div>
            <div class="contentBody PlTeCt1 DyFx FxJyCtSeAd">
                
                @* buttons  *@
                <div class="Pg10" style="flex: 2">
                    <div class='DyFx FxWp Gp5 Wh95p'>
                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnBk">Blink</button>

                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnBe">Bounce</button>

                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnPe">Pulse</button>

                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnSe">Shake</button>

                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnSeRe">Shake Rotation</button>

                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnWeTp">Wobble Top</button>

                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnWeBm">Wobble Bottom</button>

                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnWeLt">Wobble Left</button>

                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnWeRt">Wobble Right</button>

                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnRe">Rotate</button>
                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnReIe">Rotate Infinite</button>

                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnFeIn">Fade In</button>
                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnFeOt">Fade Out</button>

                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnSeInTp">Slide In Top</button>
                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnSeOtTp">Slide Out Top</button>

                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnSeInBm">Slide In Bottom</button>
                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnSeOtBm">Slide Out Bottom</button>

                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AmSeInLt">Slide In Left</button>
                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnSeOtLt">Slide Out Left</button>

                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnSeInRt">Slide In Right</button>
                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnSeOtRt">Slide Out Right</button>

                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnSgFdBm">Swing Forward Bottom</button>
                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnSgBdBm">Swing Backward Bottom</button>

                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnSgFdTp">Swing Forward Top</button>
                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnSgBdTp">Swing Backward Top</button>

                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnSgFdLt">Swing Forward Left</button>
                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnSgBdLt">Swing Backward Left</button>

                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnSgFdRt">Swing Forward Right</button>
                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnSgBdRt">Swing Backward Right</button>

                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnSlIn">Swirl In</button>
                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnSlOt">Swirl Out</button>

                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnZmIn">Zoom In</button>
                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnZmOt">Zoom Out</button>

                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnSeInHlCr">Slide In Horizontal Center</button>
                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnSeOtHlCr">Slide Out Horizontal Center</button>

                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnSeInHlLt">Slide In Horizontal Left</button>
                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnSeOtHlLt">Slide Out Horizontal Left</button>

                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnSeInHlRt">Slide In Horizontal Right</button>
                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnSeOtHlRt">Slide Out Horizontal Right</button>

                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnSeInVlBm">Slide In Vertical Bottom</button>
                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnSeOtVlBm">Slide Out Vertical Bottom</button>

                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnSeInVlCr">Slide In Vertical Center</button>
                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnSeOtVlCr">Slide Out Vertical Center</button>

                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnSeInVlTp">Slide In Vertical Top</button>
                        <button class='Bn CrBdTt Br2 CrBrGy CrGy30Lt' AnNe="AnSeOtVlTp">Slide Out Vertical Top</button>
                    </div>
                </div>
                
                @* image  *@
                <div class="Fx1 Pg10">
                    <div class='DyFx FxJyCtCr FxAnIsCr Ht100p Wh100p'>
                        <div class="box CrBdGtDkBe BrRs5 Pg5 BxSwCrBe Br1 Ht90p Wh90p" style="transition: transform 1s;">
                            <img class="Wh100p Ht100p OtFtCr BrRs5" src="~/images/animation.svg" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="PlTeCt2">
            </div>
        </div>

    </div>
</section>

@* code show  *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">


    @* code container  *@
    <div class="codeContainer Br1 CrBrGy90Lt BrRs10">

        @* header  *@
        <div class="DyFx BrBm1 CrBrGy90Lt FxJyCtSeBn FxAnIsCr Pg10 BrTpLtRs10 BrTpRtRs10" style="background: #F5F5F5">
            <div class="fileName">
                <span class="FtWt600">Source Code</span>
            </div>
            <div class="DyFx FxAnIsCr Gp10">
                <div class="">
                    <select class="switcherSelect TtBx Pg0 PgLtRt5 PgTpBm5">
                        <option value="HTML">HTML</option>
                    </select>
                </div>

                @* copy  *@
                <button aria-label="Copy code" class="copyButton Bn Br1 CrBrGy90Lt" type="button">
                    @* copy button  *@
                    <svg class="copy-icon" data-testid="geist-icon" height="16" width="16" stroke-linejoin="round" viewBox="0 0 16 16" aria-hidden="true">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.75 0.5C1.7835 0.5 1 1.2835 1 2.25V9.75C1 10.7165 1.7835 11.5 2.75 11.5H3.75H4.5V10H3.75H2.75C2.61193 10 2.5 9.88807 2.5 9.75V2.25C2.5 2.11193 2.61193 2 2.75 2H8.25C8.38807 2 8.5 2.11193 8.5 2.25V3H10V2.25C10 1.2835 9.2165 0.5 8.25 0.5H2.75ZM7.75 4.5C6.7835 4.5 6 5.2835 6 6.25V13.75C6 14.7165 6.7835 15.5 7.75 15.5H13.25C14.2165 15.5 15 14.7165 15 13.75V6.25C15 5.2835 14.2165 4.5 13.25 4.5H7.75ZM7.5 6.25C7.5 6.11193 7.61193 6 7.75 6H13.25C13.3881 6 13.5 6.11193 13.5 6.25V13.75C13.5 13.8881 13.3881 14 13.25 14H7.75C7.61193 14 7.5 13.8881 7.5 13.75V6.25Z" fill="currentColor">
                        </path>
                    </svg>

                    <svg class="check-icon" width="0" height="0" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 8L6 11L13 4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                </button>

            </div>
        </div>

        @* code  *@
<pre class="codeBlock highlight">
<code class="language-html" style="background: none">
// Button
&lt;button class=&#39;Bn CrBdTt Br2 CrBrGy CrGy30Lt&#39; AnNe=&quot;AnBk&quot;&gt;Blink&lt;/button&gt;

// Image
&lt;div class=&#39;DyFx FxJyCtCr FxAnIsCr Ht100p Wh100p&#39;&gt;
    &lt;div class=&quot;box CrBdGtDkBe BrRs5 Pg5 BxSwCrBe Br1 Ht90p Wh90p&quot; style=&quot;transition: transform 1s;&quot;&gt;
      &lt;img class=&quot;Wh100p Ht100p OtFtCr BrRs5&quot; src=&quot;~/images/animation.svg&quot; /&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>

    </div>

</section>
