@{

    ViewBag.ActiveLink = "UI";
    ViewBag.ActiveSubLink = "TextBoxes";
}


<div class="MnTp100"></div>

@* Multi TextBox Group *@


@* TextBox With Icon And Multi TextBox Group *@





@* Hero Section *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="FxRw FxCr BxSw BrRs5 PgTpBm5 PnRe ZIx100">
        <h1 class="BrRs5"><i class="CT-Textbox"></i> Stylish & Customizable Text Box</h1>
    </div>

    <p><h2>Enhance User Input with Style</h2></p>
    <p>
        Our customizable text box is designed to improve user interaction and form aesthetics. Whether for login forms, search bars, or contact fields, this input box adapts seamlessly to any design, ensuring a smooth and intuitive user experience.
    </p>
    <h3>Key Features:</h3>
    <ul>
        <li class="PgTpBm5"><strong>Fully Responsive:</strong> The text box adjusts dynamically to fit various screen sizes, providing a consistent look on all devices.</li>
        <li class="PgTpBm5"><strong>Easily Customizable:</strong> Modify colors, borders, placeholder text, and animations to match your brand's style effortlessly.</li>
        <li class="PgTpBm5"><strong>Enhanced User Experience:</strong> Designed with accessibility in mind, ensuring clear visibility and ease of use.</li>
        <li class="PgTpBm5"><strong>Simple Integration:</strong> Quick setup with clean, well-structured code to streamline development.</li>
        <li class="PgTpBm5"><strong>Cross-Browser Compatibility:</strong> Works smoothly across all major browsers, guaranteeing a reliable experience for all users.</li>
    </ul>
</section>

@* Text Box  *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="DyFx FxDnCn Gp20">

        <!--Basic Text Box-->
        <div class="CrBdWe60 DyFx FxDnCn Br1 CrBrTe Pg10 BrRs10">
            <div class="BrBm1 CrBrTe PgTpBm10 MnBm10">
                <div class="FtWt600 Wh75p">Text Boxes</div>
            </div>
            <div class="DyFx FxJyCtCr">

                <div class="DyFx FxDnCn Gp20 WhMn70p FxAnIsCr">
                    <input class="TtBx" type="text" placeholder="Enter Your Text" />
                    <input class="TtBx CrBdBk CrWe" type="text" placeholder="Enter Your Text" />
                    <input class="TtBx CrRd" type="text" placeholder="Enter Your Text" />
                </div>

            </div>
        </div>

    </div>
</section>

@* Code  *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    @* code container  *@
    <div class="codeContainer Br1 CrBrGy90Lt BrRs10">

        @* header  *@
        <div class="DyFx BrBm1 CrBrGy90Lt FxJyCtSeBn FxAnIsCr Pg10 BrTpLtRs10 BrTpRtRs10" style="background: #F5F5F5">
            <div class="fileName">
                <span class="FtWt600">Source Code</span>
            </div>
            <div class="DyFx FxAnIsCr Gp10">
                <div class="">
                    <select class="switcherSelect TtBx Pg0 PgLtRt5 PgTpBm5">
                        <option value="HTML">HTML</option>
                    </select>
                </div>

                @* copy  *@
                <button aria-label="Copy code" class="copyButton Bn Br1 CrBrGy90Lt" type="button">
                    @* copy button  *@
                    <svg class="copy-icon" data-testid="geist-icon" height="16" width="16" stroke-linejoin="round" viewBox="0 0 16 16" aria-hidden="true">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.75 0.5C1.7835 0.5 1 1.2835 1 2.25V9.75C1 10.7165 1.7835 11.5 2.75 11.5H3.75H4.5V10H3.75H2.75C2.61193 10 2.5 9.88807 2.5 9.75V2.25C2.5 2.11193 2.61193 2 2.75 2H8.25C8.38807 2 8.5 2.11193 8.5 2.25V3H10V2.25C10 1.2835 9.2165 0.5 8.25 0.5H2.75ZM7.75 4.5C6.7835 4.5 6 5.2835 6 6.25V13.75C6 14.7165 6.7835 15.5 7.75 15.5H13.25C14.2165 15.5 15 14.7165 15 13.75V6.25C15 5.2835 14.2165 4.5 13.25 4.5H7.75ZM7.5 6.25C7.5 6.11193 7.61193 6 7.75 6H13.25C13.3881 6 13.5 6.11193 13.5 6.25V13.75C13.5 13.8881 13.3881 14 13.25 14H7.75C7.61193 14 7.5 13.8881 7.5 13.75V6.25Z" fill="currentColor">
                        </path>
                    </svg>

                    <svg class="check-icon" width="0" height="0" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 8L6 11L13 4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                </button>

            </div>
        </div>

    @* code  *@
<pre class="codeBlock highlight">
<code class="language-html" style="background: none">
&lt;div class=&quot;DyFx FxJyCtCr&quot;&gt;

    &lt;div class=&quot;DyFx FxDnCn Gp20 Wh70p FxAnIsCr&quot;&gt;
        &lt;input class=&quot;TtBx&quot; type=&quot;text&quot; placeholder=&quot;Enter Your Text&quot; /&gt;
        &lt;input class=&quot;TtBx CrBdBk CrWe&quot; type=&quot;text&quot; placeholder=&quot;Enter Your Text&quot; /&gt;
        &lt;input class=&quot;TtBx CrRd&quot; type=&quot;text&quot; placeholder=&quot;Enter Your Text&quot; /&gt;
    &lt;/div&gt;

&lt;/div&gt;
</code>
</pre>

    </div>

</section>

@* Text Box State  *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="DyFx FxDnCn Gp20">

        <!--Text Box Sates-->
        <div class="CrBdWe60 DyFx FxDnCn Br1 CrBrTe Pg10 BrRs10">
            <div class="BrBm1 CrBrTe PgTpBm10 MnBm10">
                <div class="FtWt600 Wh75p">Text Box States</div>
            </div>
            <div class="DyFx FxJyCtCr">

                <div class="DyFx FxDnCn Gp20 WhMn70p FxAnIsCr">
                    <input class="TtBx" type="text" placeholder="Enabled Text Box" />
                    <input class="TtBx CrBdGy80Lt" type="text" placeholder="Disabled Text Box" disabled />
                </div>

            </div>
        </div>

    </div>
</section>

@* Code  *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    @* code container  *@
    <div class="codeContainer Br1 CrBrGy90Lt BrRs10">

        @* header  *@
        <div class="DyFx BrBm1 CrBrGy90Lt FxJyCtSeBn FxAnIsCr Pg10 BrTpLtRs10 BrTpRtRs10" style="background: #F5F5F5">
            <div class="fileName">
                <span class="FtWt600">Source Code</span>
            </div>
            <div class="DyFx FxAnIsCr Gp10">
                <div class="">
                    <select class="switcherSelect TtBx Pg0 PgLtRt5 PgTpBm5">
                        <option value="HTML">HTML</option>
                    </select>
                </div>

                @* copy  *@
                <button aria-label="Copy code" class="copyButton Bn Br1 CrBrGy90Lt" type="button">
                    @* copy button  *@
                    <svg class="copy-icon" data-testid="geist-icon" height="16" width="16" stroke-linejoin="round" viewBox="0 0 16 16" aria-hidden="true">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.75 0.5C1.7835 0.5 1 1.2835 1 2.25V9.75C1 10.7165 1.7835 11.5 2.75 11.5H3.75H4.5V10H3.75H2.75C2.61193 10 2.5 9.88807 2.5 9.75V2.25C2.5 2.11193 2.61193 2 2.75 2H8.25C8.38807 2 8.5 2.11193 8.5 2.25V3H10V2.25C10 1.2835 9.2165 0.5 8.25 0.5H2.75ZM7.75 4.5C6.7835 4.5 6 5.2835 6 6.25V13.75C6 14.7165 6.7835 15.5 7.75 15.5H13.25C14.2165 15.5 15 14.7165 15 13.75V6.25C15 5.2835 14.2165 4.5 13.25 4.5H7.75ZM7.5 6.25C7.5 6.11193 7.61193 6 7.75 6H13.25C13.3881 6 13.5 6.11193 13.5 6.25V13.75C13.5 13.8881 13.3881 14 13.25 14H7.75C7.61193 14 7.5 13.8881 7.5 13.75V6.25Z" fill="currentColor">
                        </path>
                    </svg>

                    <svg class="check-icon" width="0" height="0" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 8L6 11L13 4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                </button>

            </div>
        </div>

        @* code  *@
<pre class="codeBlock highlight">
<code class="language-html" style="background: none">
&lt;div class=&quot;DyFx FxJyCtCr&quot;&gt;

    &lt;div class=&quot;DyFx FxDnCn Gp20 Wh70p FxAnIsCr&quot;&gt;
        &lt;input class=&quot;TtBx&quot; type=&quot;text&quot; placeholder=&quot;Enabled Text Box&quot; /&gt;
        &lt;input class=&quot;TtBx CrBdGy80Lt&quot; type=&quot;text&quot; placeholder=&quot;Disabled Text Box&quot; disabled /&gt;
    &lt;/div&gt;

&lt;/div&gt;
</code>
</pre>

    </div>

</section>

@* Rounded Text Box  *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="DyFx FxDnCn Gp20">

        <!-- Rounded Text Box -->
        <div class="CrBdWe60 DyFx FxDnCn Br1 CrBrTe Pg10 BrRs10">
            <div class="BrBm1 CrBrTe PgTpBm10 MnBm10">
                <div class="FtWt600 Wh75p">Rounded Text Box</div>
            </div>
            <div class="DyFx FxJyCtCr">

                <div class="DyFx FxDnCn Gp20 WhMn70p FxAnIsCr">
                    <input class="TtBx BrRs50" type="text" placeholder="Enter Your Text" />
                    <input class="TtBx BrRs10" type="text" placeholder="Enter Your Text" />
                    <input class="TtBx BrRs0" type="text" placeholder="Enter Your Text" />
                </div>

            </div>
        </div>
    </div>
</section>

@* Code  *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    @* code container  *@
    <div class="codeContainer Br1 CrBrGy90Lt BrRs10">

        @* header  *@
        <div class="DyFx BrBm1 CrBrGy90Lt FxJyCtSeBn FxAnIsCr Pg10 BrTpLtRs10 BrTpRtRs10" style="background: #F5F5F5">
            <div class="fileName">
                <span class="FtWt600">Source Code</span>
            </div>
            <div class="DyFx FxAnIsCr Gp10">
                <div class="">
                    <select class="switcherSelect TtBx Pg0 PgLtRt5 PgTpBm5">
                        <option value="HTML">HTML</option>
                    </select>
                </div>

                @* copy  *@
                <button aria-label="Copy code" class="copyButton Bn Br1 CrBrGy90Lt" type="button">
                    @* copy button  *@
                    <svg class="copy-icon" data-testid="geist-icon" height="16" width="16" stroke-linejoin="round" viewBox="0 0 16 16" aria-hidden="true">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.75 0.5C1.7835 0.5 1 1.2835 1 2.25V9.75C1 10.7165 1.7835 11.5 2.75 11.5H3.75H4.5V10H3.75H2.75C2.61193 10 2.5 9.88807 2.5 9.75V2.25C2.5 2.11193 2.61193 2 2.75 2H8.25C8.38807 2 8.5 2.11193 8.5 2.25V3H10V2.25C10 1.2835 9.2165 0.5 8.25 0.5H2.75ZM7.75 4.5C6.7835 4.5 6 5.2835 6 6.25V13.75C6 14.7165 6.7835 15.5 7.75 15.5H13.25C14.2165 15.5 15 14.7165 15 13.75V6.25C15 5.2835 14.2165 4.5 13.25 4.5H7.75ZM7.5 6.25C7.5 6.11193 7.61193 6 7.75 6H13.25C13.3881 6 13.5 6.11193 13.5 6.25V13.75C13.5 13.8881 13.3881 14 13.25 14H7.75C7.61193 14 7.5 13.8881 7.5 13.75V6.25Z" fill="currentColor">
                        </path>
                    </svg>

                    <svg class="check-icon" width="0" height="0" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 8L6 11L13 4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                </button>

            </div>
        </div>

        @* code  *@
<pre class="codeBlock highlight">
<code class="language-html" style="background: none">
&lt;div class=&quot;DyFx FxJyCtCr&quot;&gt;

    &lt;div class=&quot;DyFx FxDnCn Gp20 Wh70p FxAnIsCr&quot;&gt;
        &lt;input class=&quot;TtBx BrRs50&quot; type=&quot;text&quot; placeholder=&quot;Enter Your Text&quot; /&gt;
        &lt;input class=&quot;TtBx BrRs10&quot; type=&quot;text&quot; placeholder=&quot;Enter Your Text&quot; /&gt;
        &lt;input class=&quot;TtBx BrRs0&quot; type=&quot;text&quot; placeholder=&quot;Enter Your Text&quot; /&gt;
    &lt;/div&gt;

&lt;/div&gt;
</code>
</pre>

    </div>

</section>

@* Lightshade Text Box  *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="DyFx FxDnCn Gp20">

        <!-- LightShade TextBox -->
        <div class="CrBdWe60 DyFx FxDnCn Br1 CrBrTe Pg10 BrRs10">
            <div class="BrBm1 CrBrTe PgTpBm10 MnBm10">
                <div class="FtWt600 Wh75p">LightShade TextBox</div>
            </div>
            <div class="DyFx FxJyCtCr">
                <div class="DyFx FxDnCn Gp20 WhMn70p FxAnIsCr">
                    <input class="TtBx Br1 CrBe CrBrBe CrBdBe25" type="text" placeholder="Enter Your Text" />
                    <input class="TtBx Br1 CrGy CrBrGy CrBdGy25" type="text" placeholder="Enter Your Text" />
                    <input class="TtBx Br1 CrGn CrBrGn CrBdGn25" type="text" placeholder="Enter Your Text" />
                    <input class="TtBx Br1 CrOe CrBrOe CrBdOe25" type="text" placeholder="Enter Your Text" />
                    <input class="TtBx Br1 CrRd CrBrRd CrBdRd25" type="text" placeholder="Enter Your Text" />
                    <input class="TtBx Br1 CrPe CrBrPe CrBdPe25" type="text" placeholder="Enter Your Text" />
                </div>
            </div>
        </div>
    </div>
</section>

@* Code  *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    @* code container  *@
    <div class="codeContainer Br1 CrBrGy90Lt BrRs10">

        @* header  *@
        <div class="DyFx BrBm1 CrBrGy90Lt FxJyCtSeBn FxAnIsCr Pg10 BrTpLtRs10 BrTpRtRs10" style="background: #F5F5F5">
            <div class="fileName">
                <span class="FtWt600">Source Code</span>
            </div>
            <div class="DyFx FxAnIsCr Gp10">
                <div class="">
                    <select class="switcherSelect TtBx Pg0 PgLtRt5 PgTpBm5">
                        <option value="HTML">HTML</option>
                    </select>
                </div>

                @* copy  *@
                <button aria-label="Copy code" class="copyButton Bn Br1 CrBrGy90Lt" type="button">
                    @* copy button  *@
                    <svg class="copy-icon" data-testid="geist-icon" height="16" width="16" stroke-linejoin="round" viewBox="0 0 16 16" aria-hidden="true">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.75 0.5C1.7835 0.5 1 1.2835 1 2.25V9.75C1 10.7165 1.7835 11.5 2.75 11.5H3.75H4.5V10H3.75H2.75C2.61193 10 2.5 9.88807 2.5 9.75V2.25C2.5 2.11193 2.61193 2 2.75 2H8.25C8.38807 2 8.5 2.11193 8.5 2.25V3H10V2.25C10 1.2835 9.2165 0.5 8.25 0.5H2.75ZM7.75 4.5C6.7835 4.5 6 5.2835 6 6.25V13.75C6 14.7165 6.7835 15.5 7.75 15.5H13.25C14.2165 15.5 15 14.7165 15 13.75V6.25C15 5.2835 14.2165 4.5 13.25 4.5H7.75ZM7.5 6.25C7.5 6.11193 7.61193 6 7.75 6H13.25C13.3881 6 13.5 6.11193 13.5 6.25V13.75C13.5 13.8881 13.3881 14 13.25 14H7.75C7.61193 14 7.5 13.8881 7.5 13.75V6.25Z" fill="currentColor">
                        </path>
                    </svg>

                    <svg class="check-icon" width="0" height="0" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 8L6 11L13 4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                </button>

            </div>
        </div>

        @* code  *@
<pre class="codeBlock highlight">
<code class="language-html" style="background: none">
&lt;div class=&quot;DyFx FxJyCtCr&quot;&gt;
    &lt;div class=&quot;DyFx FxDnCn Gp20 Wh70p FxAnIsCr&quot;&gt;
        &lt;input class=&quot;TtBx Br1 CrBe CrBrBe CrBdBe25&quot; type=&quot;text&quot; placeholder=&quot;Enter Your Text&quot; /&gt;
        &lt;input class=&quot;TtBx Br1 CrGy CrBrGy CrBdGy25&quot; type=&quot;text&quot; placeholder=&quot;Enter Your Text&quot; /&gt;
        &lt;input class=&quot;TtBx Br1 CrGn CrBrGn CrBdGn25&quot; type=&quot;text&quot; placeholder=&quot;Enter Your Text&quot; /&gt;
        &lt;input class=&quot;TtBx Br1 CrOe CrBrOe CrBdOe25&quot; type=&quot;text&quot; placeholder=&quot;Enter Your Text&quot; /&gt;
        &lt;input class=&quot;TtBx Br1 CrRd CrBrRd CrBdRd25&quot; type=&quot;text&quot; placeholder=&quot;Enter Your Text&quot; /&gt;
        &lt;input class=&quot;TtBx Br1 CrPe CrBrPe CrBdPe25&quot; type=&quot;text&quot; placeholder=&quot;Enter Your Text&quot; /&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>

    </div>

</section>

@* Text Box with Icon  *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="DyFx FxDnCn Gp20">

        <!-- Text Box with Icon -->
        <div class="CrBdWe60 DyFx FxDnCn Br1 CrBrTe Pg10 BrRs10">
            <div class="BrBm1 CrBrTe PgTpBm10 MnBm10">
                <div class="FtWt600 Wh75p">Text Box with Icon</div>
            </div>
            <div class="DyFx FxJyCtCr">
                <div class="DyFx FxDnCn Gp20 WhMn70p FxAnIsCr">

                    <div class="DyFx FxAnIsCr Wh100p">
                        <div class="DyFx FxJyCtCr FxAnIsCr Ht100p CrBdTe Wh10p">
                            <i class="CT-UserMSolid CrWe FtWt600 FtSe30"></i>
                        </div>
                        <input class="TtBx Wh90p BrRs0" type="text" placeholder="Enter Your Name" />
                    </div>

                    <div class="DyFx FxAnIsCr Wh100p">
                        <div class="DyFx FxJyCtCr FxAnIsCr Ht100p CrBdTe Wh10p">
                            <i class="CT-KeySmallSolid CrWe FtWt600 FtSe30"></i>
                        </div>                        
                        <input class="TtBx Wh90p BrRs0" type="text" placeholder="Enter Your Password" />
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

@* Code  *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    @* code container  *@
    <div class="codeContainer Br1 CrBrGy90Lt BrRs10">

        @* header  *@
        <div class="DyFx BrBm1 CrBrGy90Lt FxJyCtSeBn FxAnIsCr Pg10 BrTpLtRs10 BrTpRtRs10" style="background: #F5F5F5">
            <div class="fileName">
                <span class="FtWt600">Source Code</span>
            </div>
            <div class="DyFx FxAnIsCr Gp10">
                <div class="">
                    <select class="switcherSelect TtBx Pg0 PgLtRt5 PgTpBm5">
                        <option value="HTML">HTML</option>
                    </select>
                </div>

                @* copy  *@
                <button aria-label="Copy code" class="copyButton Bn Br1 CrBrGy90Lt" type="button">
                    @* copy button  *@
                    <svg class="copy-icon" data-testid="geist-icon" height="16" width="16" stroke-linejoin="round" viewBox="0 0 16 16" aria-hidden="true">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.75 0.5C1.7835 0.5 1 1.2835 1 2.25V9.75C1 10.7165 1.7835 11.5 2.75 11.5H3.75H4.5V10H3.75H2.75C2.61193 10 2.5 9.88807 2.5 9.75V2.25C2.5 2.11193 2.61193 2 2.75 2H8.25C8.38807 2 8.5 2.11193 8.5 2.25V3H10V2.25C10 1.2835 9.2165 0.5 8.25 0.5H2.75ZM7.75 4.5C6.7835 4.5 6 5.2835 6 6.25V13.75C6 14.7165 6.7835 15.5 7.75 15.5H13.25C14.2165 15.5 15 14.7165 15 13.75V6.25C15 5.2835 14.2165 4.5 13.25 4.5H7.75ZM7.5 6.25C7.5 6.11193 7.61193 6 7.75 6H13.25C13.3881 6 13.5 6.11193 13.5 6.25V13.75C13.5 13.8881 13.3881 14 13.25 14H7.75C7.61193 14 7.5 13.8881 7.5 13.75V6.25Z" fill="currentColor">
                        </path>
                    </svg>

                    <svg class="check-icon" width="0" height="0" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 8L6 11L13 4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                </button>

            </div>
        </div>

        @* code  *@
<pre class="codeBlock highlight">
<code class="language-html" style="background: none">
&lt;div class=&quot;DyFx FxJyCtCr&quot;&gt;
    &lt;div class=&quot;DyFx FxDnCn Gp20 Wh70p FxAnIsCr&quot;&gt;

        &lt;div class=&quot;DyFx FxAnIsCr Wh100p&quot;&gt;
            &lt;div class=&quot;DyFx FxJyCtCr FxAnIsCr Ht100p CrBdTe Wh10p&quot;&gt;
                &lt;i class=&quot;CT-UserMSolid CrWe FtWt600 FtSe30&quot;&gt;&lt;/i&gt;
            &lt;/div&gt;
            &lt;input class=&quot;TtBx Wh90p BrRs0&quot; type=&quot;text&quot; placeholder=&quot;Enter Your Name&quot; /&gt;
        &lt;/div&gt;

        &lt;div class=&quot;DyFx FxAnIsCr Wh100p&quot;&gt;
            &lt;div class=&quot;DyFx FxJyCtCr FxAnIsCr Ht100p CrBdTe Wh10p&quot;&gt;
                &lt;i class=&quot;CT-KeySmallSolid CrWe FtWt600 FtSe30&quot;&gt;&lt;/i&gt;
            &lt;/div&gt;                        
            &lt;input class=&quot;TtBx Wh90p BrRs0&quot; type=&quot;text&quot; placeholder=&quot;Enter Your Password&quot; /&gt;
        &lt;/div&gt;

    &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>

    </div>

</section>

@* Text box with width  *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="DyFx FxDnCn Gp20">

        <!-- Text Box with Width -->
        <div class="CrBdWe60 DyFx FxDnCn Br1 CrBrTe Pg10 BrRs10">
            <div class="BrBm1 CrBrTe PgTpBm10 MnBm10">
                <div class="FtWt600 Wh75p">Text Box with Width</div>
            </div>
            <div class="DyFx FxJyCtCr">

                <div class="DyFx FxDnCn Gp20 WhMn70p FxAnIsCr">
                    <input class="TtBx Wh25p" type="text" placeholder="Width 25%" />
                    <input class="TtBx Wh50p" type="text" placeholder="Width 50%" />
                    <input class="TtBx Wh75p" type="text" placeholder="Width 75%" />
                    <input class="TtBx Wh100p" type="text" placeholder="Width 100%" />
                    <input class="TtBx" type="text" placeholder="Default" />
                </div>

            </div>
        </div>

    </div>
</section>

@* Code  *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    @* code container  *@
    <div class="codeContainer Br1 CrBrGy90Lt BrRs10">

        @* header  *@
        <div class="DyFx BrBm1 CrBrGy90Lt FxJyCtSeBn FxAnIsCr Pg10 BrTpLtRs10 BrTpRtRs10" style="background: #F5F5F5">
            <div class="fileName">
                <span class="FtWt600">Source Code</span>
            </div>
            <div class="DyFx FxAnIsCr Gp10">
                <div class="">
                    <select class="switcherSelect TtBx Pg0 PgLtRt5 PgTpBm5">
                        <option value="HTML">HTML</option>
                    </select>
                </div>

                @* copy  *@
                <button aria-label="Copy code" class="copyButton Bn Br1 CrBrGy90Lt" type="button">
                    @* copy button  *@
                    <svg class="copy-icon" data-testid="geist-icon" height="16" width="16" stroke-linejoin="round" viewBox="0 0 16 16" aria-hidden="true">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.75 0.5C1.7835 0.5 1 1.2835 1 2.25V9.75C1 10.7165 1.7835 11.5 2.75 11.5H3.75H4.5V10H3.75H2.75C2.61193 10 2.5 9.88807 2.5 9.75V2.25C2.5 2.11193 2.61193 2 2.75 2H8.25C8.38807 2 8.5 2.11193 8.5 2.25V3H10V2.25C10 1.2835 9.2165 0.5 8.25 0.5H2.75ZM7.75 4.5C6.7835 4.5 6 5.2835 6 6.25V13.75C6 14.7165 6.7835 15.5 7.75 15.5H13.25C14.2165 15.5 15 14.7165 15 13.75V6.25C15 5.2835 14.2165 4.5 13.25 4.5H7.75ZM7.5 6.25C7.5 6.11193 7.61193 6 7.75 6H13.25C13.3881 6 13.5 6.11193 13.5 6.25V13.75C13.5 13.8881 13.3881 14 13.25 14H7.75C7.61193 14 7.5 13.8881 7.5 13.75V6.25Z" fill="currentColor">
                        </path>
                    </svg>

                    <svg class="check-icon" width="0" height="0" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 8L6 11L13 4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                </button>

            </div>
        </div>

        @* code  *@
<pre class="codeBlock highlight">
<code class="language-html" style="background: none">
&lt;div class=&quot;DyFx FxJyCtCr&quot;&gt;

    &lt;div class=&quot;DyFx FxDnCn Gp20 Wh70p FxAnIsCr&quot;&gt;
        &lt;input class=&quot;TtBx Wh25p&quot; type=&quot;text&quot; placeholder=&quot;Width 25%&quot; /&gt;
        &lt;input class=&quot;TtBx Wh50p&quot; type=&quot;text&quot; placeholder=&quot;Width 50%&quot; /&gt;
        &lt;input class=&quot;TtBx Wh75p&quot; type=&quot;text&quot; placeholder=&quot;Width 75%&quot; /&gt;
        &lt;input class=&quot;TtBx Wh100p&quot; type=&quot;text&quot; placeholder=&quot;Width 100%&quot; /&gt;
        &lt;input class=&quot;TtBx&quot; type=&quot;text&quot; placeholder=&quot;Default&quot; /&gt;
    &lt;/div&gt;

&lt;/div&gt;
</code>
</pre>

    </div>

</section>

@* Text box with label *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="DyFx FxDnCn Gp20">

        <!-- Text Box with Label -->
        <div class="CrBdWe60 DyFx FxDnCn Br1 CrBrTe Pg10 BrRs10">
            <div class="BrBm1 CrBrTe PgTpBm10 MnBm10">
                <div class="FtWt600 Wh75p">Text Box with Label</div>
            </div>

            <div class="DyFx FxJyCtCr">
                <div class="DyFx FxDnCn Gp20 WhMn70p FxAnIsCr PgTp10">

                    <div class="PnRe Wh100p">
                        <label class="PnAe PnTp0p PnLt15 TmTe0pVe50p FtSe12 CrBdPe10Lt BrRs10 CrWe FtWt600 PgTpBm2 PgLtRt10">Label</label>
                        <input type="text" class="TxBxCnAe" placeholder=" " required>
                    </div>

                    <div class="DyFx FxDnCn Wh100p">
                        <label class="PgBm5 FtWt600 FtSe12">Label</label>
                        <input class="TtBx" type="text" placeholder="Enter Your Name" />
                    </div>

                </div>

            </div>
        </div>

    </div>
</section>

@* Code  *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    @* code container  *@
    <div class="codeContainer Br1 CrBrGy90Lt BrRs10">

        @* header  *@
        <div class="DyFx BrBm1 CrBrGy90Lt FxJyCtSeBn FxAnIsCr Pg10 BrTpLtRs10 BrTpRtRs10" style="background: #F5F5F5">
            <div class="fileName">
                <span class="FtWt600">Source Code</span>
            </div>
            <div class="DyFx FxAnIsCr Gp10">
                <div class="">
                    <select class="switcherSelect TtBx Pg0 PgLtRt5 PgTpBm5">
                        <option value="HTML">HTML</option>
                    </select>
                </div>

                @* copy  *@
                <button aria-label="Copy code" class="copyButton Bn Br1 CrBrGy90Lt" type="button">
                    @* copy button  *@
                    <svg class="copy-icon" data-testid="geist-icon" height="16" width="16" stroke-linejoin="round" viewBox="0 0 16 16" aria-hidden="true">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.75 0.5C1.7835 0.5 1 1.2835 1 2.25V9.75C1 10.7165 1.7835 11.5 2.75 11.5H3.75H4.5V10H3.75H2.75C2.61193 10 2.5 9.88807 2.5 9.75V2.25C2.5 2.11193 2.61193 2 2.75 2H8.25C8.38807 2 8.5 2.11193 8.5 2.25V3H10V2.25C10 1.2835 9.2165 0.5 8.25 0.5H2.75ZM7.75 4.5C6.7835 4.5 6 5.2835 6 6.25V13.75C6 14.7165 6.7835 15.5 7.75 15.5H13.25C14.2165 15.5 15 14.7165 15 13.75V6.25C15 5.2835 14.2165 4.5 13.25 4.5H7.75ZM7.5 6.25C7.5 6.11193 7.61193 6 7.75 6H13.25C13.3881 6 13.5 6.11193 13.5 6.25V13.75C13.5 13.8881 13.3881 14 13.25 14H7.75C7.61193 14 7.5 13.8881 7.5 13.75V6.25Z" fill="currentColor">
                        </path>
                    </svg>

                    <svg class="check-icon" width="0" height="0" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 8L6 11L13 4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                </button>

            </div>
        </div>

        @* code  *@
<pre class="codeBlock highlight">
<code class="language-html" style="background: none">
&lt;div class=&quot;DyFx FxJyCtCr&quot;&gt;

    &lt;div class=&quot;DyFx FxDnCn Gp20 Wh70p FxAnIsCr&quot;&gt;
        &lt;div class=&quot;PnRe Wh100p&quot;&gt;
            &lt;input type=&quot;text&quot; class=&quot;TxBxCnAe&quot; placeholder=&quot; &quot; required&gt;
            &lt;label class=&quot;PnAe PnTp0p PnLt15 TmTe0pVe50p FtSe12 CrBdPe10Lt BrRs10 CrWe FtWt600 PgTpBm4 PgLtRt8&quot;&gt;Label&lt;/label&gt;
        &lt;/div&gt;

        &lt;div class=&quot;DyFx FxDnCn Wh100p&quot;&gt;
            &lt;label class=&quot;PgBm5 FtWt600 FtSe12&quot;&gt;Label&lt;/label&gt;
            &lt;input class=&quot;TtBx&quot; type=&quot;text&quot; placeholder=&quot;Enter Your Name&quot; /&gt;
        &lt;/div&gt;
    &lt;/div&gt;

&lt;/div&gt;
</code>
</pre>

    </div>

</section>

@* Text box with font size  *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="DyFx FxDnCn Gp20">

        <!-- Text Box with Font-Size -->
        <div class="CrBdWe60 DyFx FxDnCn Br1 CrBrTe Pg10 BrRs10">
            <div class="BrBm1 CrBrTe PgTpBm10 MnBm10">
                <div class="FtWt600 Wh75p">Text Box with Font-Size</div>
            </div>
            <div class="DyFx FxJyCtCr">
                <div class="DyFx FxDnCn Gp20 WhMn70p FxAnIsCr">
                    <input class="TtBx FtSe16" type="text" placeholder="Font-size : 16px" />
                    <input class="TtBx FtSe18" type="text" placeholder="Font-size : 18px" />
                    <input class="TtBx FtSe20" type="text" placeholder="Font-size : 20px" />
                    <input class="TtBx FtSe22" type="text" placeholder="Font-size : 22px" />
                    <input class="TtBx FtSe24 " type="text" placeholder="Font-size : 24px" />
                </div>
            </div>
        </div>

    </div>
</section>

@* Code  *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    @* code container  *@
    <div class="codeContainer Br1 CrBrGy90Lt BrRs10">

        @* header  *@
        <div class="DyFx BrBm1 CrBrGy90Lt FxJyCtSeBn FxAnIsCr Pg10 BrTpLtRs10 BrTpRtRs10" style="background: #F5F5F5">
            <div class="fileName">
                <span class="FtWt600">Source Code</span>
            </div>
            <div class="DyFx FxAnIsCr Gp10">
                <div class="">
                    <select class="switcherSelect TtBx Pg0 PgLtRt5 PgTpBm5">
                        <option value="HTML">HTML</option>
                    </select>
                </div>

                @* copy  *@
                <button aria-label="Copy code" class="copyButton Bn Br1 CrBrGy90Lt" type="button">
                    @* copy button  *@
                    <svg class="copy-icon" data-testid="geist-icon" height="16" width="16" stroke-linejoin="round" viewBox="0 0 16 16" aria-hidden="true">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.75 0.5C1.7835 0.5 1 1.2835 1 2.25V9.75C1 10.7165 1.7835 11.5 2.75 11.5H3.75H4.5V10H3.75H2.75C2.61193 10 2.5 9.88807 2.5 9.75V2.25C2.5 2.11193 2.61193 2 2.75 2H8.25C8.38807 2 8.5 2.11193 8.5 2.25V3H10V2.25C10 1.2835 9.2165 0.5 8.25 0.5H2.75ZM7.75 4.5C6.7835 4.5 6 5.2835 6 6.25V13.75C6 14.7165 6.7835 15.5 7.75 15.5H13.25C14.2165 15.5 15 14.7165 15 13.75V6.25C15 5.2835 14.2165 4.5 13.25 4.5H7.75ZM7.5 6.25C7.5 6.11193 7.61193 6 7.75 6H13.25C13.3881 6 13.5 6.11193 13.5 6.25V13.75C13.5 13.8881 13.3881 14 13.25 14H7.75C7.61193 14 7.5 13.8881 7.5 13.75V6.25Z" fill="currentColor">
                        </path>
                    </svg>

                    <svg class="check-icon" width="0" height="0" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 8L6 11L13 4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                </button>

            </div>
        </div>

        @* code  *@
<pre class="codeBlock highlight">
<code class="language-html" style="background: none">
&lt;div class=&quot;DyFx FxJyCtCr&quot;&gt;
    &lt;div class=&quot;DyFx FxDnCn Gp20 Wh70p FxAnIsCr&quot;&gt;
        &lt;input class=&quot;TtBx FtSe16&quot; type=&quot;text&quot; placeholder=&quot;Font-size : 16px&quot; /&gt;
        &lt;input class=&quot;TtBx FtSe18&quot; type=&quot;text&quot; placeholder=&quot;Font-size : 18px&quot; /&gt;
        &lt;input class=&quot;TtBx FtSe20&quot; type=&quot;text&quot; placeholder=&quot;Font-size : 20px&quot; /&gt;
        &lt;input class=&quot;TtBx FtSe22&quot; type=&quot;text&quot; placeholder=&quot;Font-size : 22px&quot; /&gt;
        &lt;input class=&quot;TtBx FtSe24 &quot; type=&quot;text&quot; placeholder=&quot;Font-size : 24px&quot; /&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>

    </div>

</section>

@* Text box with label effects  *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="DyFx FxDnCn Gp20">

        <!-- Text Box with Label Effects -->
        <div class="CrBdWe60 DyFx FxDnCn Br1 CrBrTe Pg10 BrRs10">
            <div class="BrBm1 CrBrTe PgTpBm10 MnBm10">
                <div class="FtWt600 Wh75p">Text Box with Label Effects</div>
            </div>
            <div class="DyFx FxJyCtCr">
                <div class="DyFx FxDnCn Gp20 WhMn70p FxAnIsCr">

                    <div class="TxBxCnAeCr">
                        <input type="text" class="TxBxCnAe" placeholder=" " required>
                        <label class="TxBxCnAeLl">Email</label>
                    </div>


                    <div class="TxBxCnAeCr">
                        <input type="text" class="TxBxCnAe" placeholder=" " required>
                        <label class="TxBxCnAeLl">Name</label>
                    </div>

                    <div class="TxBxCnAeCr">
                        <input type="text" class="TxBxCnAe" placeholder="" required>
                        <label class="TxBxCnAeLl">Age</label>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

@* Code  *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    @* code container  *@
    <div class="codeContainer Br1 CrBrGy90Lt BrRs10">

        @* header  *@
        <div class="DyFx BrBm1 CrBrGy90Lt FxJyCtSeBn FxAnIsCr Pg10 BrTpLtRs10 BrTpRtRs10" style="background: #F5F5F5">
            <div class="fileName">
                <span class="FtWt600">Source Code</span>
            </div>
            <div class="DyFx FxAnIsCr Gp10">
                <div class="">
                    <select class="switcherSelect TtBx Pg0 PgLtRt5 PgTpBm5">
                        <option value="HTML">HTML</option>
                    </select>
                </div>

                @* copy  *@
                <button aria-label="Copy code" class="copyButton Bn Br1 CrBrGy90Lt" type="button">
                    @* copy button  *@
                    <svg class="copy-icon" data-testid="geist-icon" height="16" width="16" stroke-linejoin="round" viewBox="0 0 16 16" aria-hidden="true">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.75 0.5C1.7835 0.5 1 1.2835 1 2.25V9.75C1 10.7165 1.7835 11.5 2.75 11.5H3.75H4.5V10H3.75H2.75C2.61193 10 2.5 9.88807 2.5 9.75V2.25C2.5 2.11193 2.61193 2 2.75 2H8.25C8.38807 2 8.5 2.11193 8.5 2.25V3H10V2.25C10 1.2835 9.2165 0.5 8.25 0.5H2.75ZM7.75 4.5C6.7835 4.5 6 5.2835 6 6.25V13.75C6 14.7165 6.7835 15.5 7.75 15.5H13.25C14.2165 15.5 15 14.7165 15 13.75V6.25C15 5.2835 14.2165 4.5 13.25 4.5H7.75ZM7.5 6.25C7.5 6.11193 7.61193 6 7.75 6H13.25C13.3881 6 13.5 6.11193 13.5 6.25V13.75C13.5 13.8881 13.3881 14 13.25 14H7.75C7.61193 14 7.5 13.8881 7.5 13.75V6.25Z" fill="currentColor">
                        </path>
                    </svg>

                    <svg class="check-icon" width="0" height="0" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 8L6 11L13 4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                </button>

            </div>
        </div>

        @* code  *@
<pre class="codeBlock highlight">
<code class="language-html" style="background: none">
&lt;div class=&quot;DyFx FxJyCtCr&quot;&gt;
    &lt;div class=&quot;DyFx FxDnCn Gp20 Wh70p FxAnIsCr&quot;&gt;

        &lt;div class=&quot;TxBxCnAeCr&quot;&gt;
            &lt;input type=&quot;text&quot; class=&quot;TxBxCnAe&quot; placeholder=&quot; &quot; required&gt;
            &lt;label class=&quot;TxBxCnAeLl&quot;&gt;Email&lt;/label&gt;
        &lt;/div&gt;


        &lt;div class=&quot;TxBxCnAeCr&quot;&gt;
            &lt;input type=&quot;text&quot; class=&quot;TxBxCnAe&quot; placeholder=&quot; &quot; required&gt;
            &lt;label class=&quot;TxBxCnAeLl&quot;&gt;Name&lt;/label&gt;
        &lt;/div&gt;

        &lt;div class=&quot;TxBxCnAeCr&quot;&gt;
            &lt;input type=&quot;text&quot; class=&quot;TxBxCnAe&quot; placeholder=&quot;&quot; required&gt;
            &lt;label class=&quot;TxBxCnAeLl&quot;&gt;Age&lt;/label&gt;
        &lt;/div&gt;

    &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>

    </div>

</section>

@* Multi Textbox Group  *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="DyFx FxDnCn Gp20">

        <div class="CrBdWe60 DyFx FxDnCn Br1 CrBrTe Pg10 BrRs10">
            <div class="BrBm1 CrBrTe PgTpBm10 MnBm20">
                <div class="FtWt600 Wh75p">Multi TextBox Group</div>
            </div>
            <div class="DyFx FxJyCtCr">
                <div class="DyFx FxDnCn Gp25 WhMn70p FxAnIsCr">

                    <div class="DyFx FxDnCn Wh100p PnRe">
                        <label class="PnAe PnTp0p PnLt15 TmTe0pVe50p FtSe12 CrBdPe10Lt BrRs10 CrWe FtWt600 PgTpBm2 PgLtRt14">Label</label>
                        <div class="DyFx FxWp Br1 BrRs4 CrBdWe ">
                            <input class="TxBxCnAe FxWhFl50 Br0 MnBm4 Mm:MnBm0" type="text" placeholder="Enter Text 1" />
                            <input class="TxBxCnAe FxWhFl50 Br0 BrLt1 BrTpLtRs0 BrBmLtRs0" type="text" placeholder="Enter Text 2" />
                        </div>
                    </div>

                    <div class="DyFx FxDnCn Wh100p TxBxCnAeCr PnRe">
                        <label class="PnAe PnTp0p PnLt15 TmTe0pVe50p FtSe12 CrBdPe10Lt BrRs10 CrWe FtWt600 PgTpBm2 PgLtRt14">Label</label>
                        <div class="DyFx FxWp Br1 BrRs4 CrBdWe">
                            <input class="TxBxCnAe FxWhFl33o33 Br0 MnBm4 Mm:MnBm0" type="text" placeholder="Enter Text 1" />
                            <input class="TxBxCnAe FxWhFl33o33 Br0 BrLt1 BrTpLtRs0 BrBmLtRs0 MnBm4 Mm:MnBm0" type="text" placeholder="Enter Text 2" />
                            <input class="TxBxCnAe FxWhFl33o33 Br0 BrLt1 BrTpLtRs0 BrBmLtRs0" type="text" placeholder="Enter Text 3" />
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

@* Code  *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    @* code container  *@
    <div class="codeContainer Br1 CrBrGy90Lt BrRs10">

        @* header  *@
        <div class="DyFx BrBm1 CrBrGy90Lt FxJyCtSeBn FxAnIsCr Pg10 BrTpLtRs10 BrTpRtRs10" style="background: #F5F5F5">
            <div class="fileName">
                <span class="FtWt600">Source Code</span>
            </div>
            <div class="DyFx FxAnIsCr Gp10">
                <div class="">
                    <select class="switcherSelect TtBx Pg0 PgLtRt5 PgTpBm5">
                        <option value="HTML">HTML</option>
                    </select>
                </div>

                @* copy  *@
                <button aria-label="Copy code" class="copyButton Bn Br1 CrBrGy90Lt" type="button">
                    @* copy button  *@
                    <svg class="copy-icon" data-testid="geist-icon" height="16" width="16" stroke-linejoin="round" viewBox="0 0 16 16" aria-hidden="true">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.75 0.5C1.7835 0.5 1 1.2835 1 2.25V9.75C1 10.7165 1.7835 11.5 2.75 11.5H3.75H4.5V10H3.75H2.75C2.61193 10 2.5 9.88807 2.5 9.75V2.25C2.5 2.11193 2.61193 2 2.75 2H8.25C8.38807 2 8.5 2.11193 8.5 2.25V3H10V2.25C10 1.2835 9.2165 0.5 8.25 0.5H2.75ZM7.75 4.5C6.7835 4.5 6 5.2835 6 6.25V13.75C6 14.7165 6.7835 15.5 7.75 15.5H13.25C14.2165 15.5 15 14.7165 15 13.75V6.25C15 5.2835 14.2165 4.5 13.25 4.5H7.75ZM7.5 6.25C7.5 6.11193 7.61193 6 7.75 6H13.25C13.3881 6 13.5 6.11193 13.5 6.25V13.75C13.5 13.8881 13.3881 14 13.25 14H7.75C7.61193 14 7.5 13.8881 7.5 13.75V6.25Z" fill="currentColor">
                        </path>
                    </svg>

                    <svg class="check-icon" width="0" height="0" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 8L6 11L13 4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                </button>

            </div>
        </div>

        @* code  *@
<pre class="codeBlock highlight">
<code class="language-html" style="background: none">
&lt;div class=&quot;DyFx FxJyCtCr&quot;&gt;
    &lt;div class=&quot;DyFx FxDnCn Gp25 WhMn70p FxAnIsCr&quot;&gt;

        &lt;div class=&quot;DyFx FxDnCn Wh100p PnRe&quot;&gt;
            &lt;label class=&quot;PnAe PnTp0p PnLt15 TmTe0pVe50p FtSe12 CrBdPe10Lt BrRs10 CrWe FtWt600 PgTpBm2 PgLtRt14&quot;&gt;Label&lt;/label&gt;
            &lt;div class=&quot;DyFx Br1 BrRs4 CrBdWe&quot;&gt;
                &lt;input class=&quot;TxBxCnAe FxWhFl50 Br0&quot; type=&quot;text&quot; placeholder=&quot;Enter Text 1&quot; /&gt;
                &lt;input class=&quot;TxBxCnAe FxWhFl50 Br0 BrLt1 BrTpLtRs0 BrBmLtRs0&quot; type=&quot;text&quot; placeholder=&quot;Enter Text 2&quot; /&gt;
            &lt;/div&gt;
        &lt;/div&gt;

        &lt;div class=&quot;DyFx FxDnCn Wh100p TxBxCnAeCr PnRe&quot;&gt;
            &lt;label class=&quot;PnAe PnTp0p PnLt15 TmTe0pVe50p FtSe12 CrBdPe10Lt BrRs10 CrWe FtWt600 PgTpBm2 PgLtRt14&quot;&gt;Label&lt;/label&gt;
            &lt;div class=&quot;DyFx Br1 BrRs4 CrBdWe&quot;&gt;
                &lt;input class=&quot;TxBxCnAe FxWhFl33o33 Br0&quot; type=&quot;text&quot; placeholder=&quot;Enter Text 1&quot; /&gt;
                &lt;input class=&quot;TxBxCnAe FxWhFl33o33 Br0 BrLt1 BrTpLtRs0 BrBmLtRs0&quot; type=&quot;text&quot; placeholder=&quot;Enter Text 2&quot; /&gt;
                &lt;input class=&quot;TxBxCnAe FxWhFl33o33 Br0 BrLt1 BrTpLtRs0 BrBmLtRs0&quot; type=&quot;text&quot; placeholder=&quot;Enter Text 3&quot; /&gt;
            &lt;/div&gt;
        &lt;/div&gt;

    &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>

    </div>

</section>

@* Multi TextBox Group And Icon  *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="DyFx FxDnCn Gp20">

        <!-- Text Box with Label Effects -->
        <div class="CrBdWe60 DyFx FxDnCn Br1 CrBrTe Pg10 BrRs10">
            <div class="BrBm1 CrBrTe PgTpBm10 MnBm20">
                <div class="FtWt600 Wh75p">Multi TextBox Group</div>
            </div>
            <div class="DyFx FxJyCtCr">
                <div class="DyFx FxDnCn Gp25 WhMn70p FxAnIsCr">

                    <div class="DyFx FxDnCn Wh100p PnRe">
                        <label class="PnAe PnTp0p PnLt15 TmTe0pVe50p FtSe12 CrBdPe10Lt BrRs10 CrWe FtWt600 PgTpBm2 PgLtRt14">Label</label>
                        <div class="DyFx Br1 BrRs4 CrBdWe">
                            <input class="TxBxCnAe Br0" type="text" placeholder="Enter Text 1" />
                            <div class="DyFx FxCr Pg5">
                                <i class="CT-PlusCircleSolid CrBk CrurPr"></i>
                            </div>
                        </div>
                    </div>

                    <div class="DyFx FxDnCn Wh100p PnRe">
                        <label class="PnAe PnTp0p PnLt15 TmTe0pVe50p FtSe12 CrBdPe10Lt BrRs10 CrWe FtWt600 PgTpBm2 PgLtRt14">Label</label>
                        <div class="DyFx Br1 BrRs4 FxWp CrBdWe">
                            <div class="DyFx FxWhFl50 BrRs4 CrBdWe MnBm4 Mm:MnBm0">
                                <input class="TxBxCnAe Br0" type="text" placeholder="Enter Text 1" />
                                <div class="DyFx FxCr Pg5">
                                    <i class="CT-PlusCircleSolid CrBk CrurPr"></i>
                                </div>
                            </div>
                            <div class="DyFx FxWhFl50 BrRs4 CrBdWe">
                                <input class="TxBxCnAe Br0" type="text" placeholder="Enter Text 2" />
                                <div class="DyFx FxCr Pg5">
                                    <i class="CT-PlusCircleSolid CrBk CrurPr"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="DyFx FxDnCn Wh100p PnRe">
                        <label class="PnAe PnTp0p PnLt15 TmTe0pVe50p FtSe12 CrBdPe10Lt BrRs10 CrWe FtWt600 PgTpBm2 PgLtRt14">Label</label>
                        <div class="DyFx Br1 BrRs4 FxWp CrBdWe">
                            <div class="DyFx FxWhFl33o33 BrRs4 CrBdWe MnBm4 Mm:MnBm0">
                                <input class="TxBxCnAe Br0" type="text" placeholder="Enter Text 1" />
                                <div class="DyFx FxCr Pg5">
                                    <i class="CT-PlusCircleSolid CrBk CrurPr"></i>
                                </div>
                            </div>
                            <div class="DyFx FxWhFl33o33 BrRs4 CrBdWe MnBm4 Mm:MnBm0">
                                <input class="TxBxCnAe Br0" type="text" placeholder="Enter Text 2" />
                                <div class="DyFx FxCr Pg5">
                                    <i class="CT-PlusCircleSolid CrBk CrurPr"></i>
                                </div>
                            </div>
                            <div class="DyFx FxWhFl33o33 BrRs4 CrBdWe">
                                <input class="TxBxCnAe Br0" type="text" placeholder="Enter Text 3" />
                                <div class="DyFx FxCr Pg5">
                                    <i class="CT-PlusCircleSolid CrBk CrurPr"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

@* Code  *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    @* code container  *@
    <div class="codeContainer Br1 CrBrGy90Lt BrRs10">

        @* header  *@
        <div class="DyFx BrBm1 CrBrGy90Lt FxJyCtSeBn FxAnIsCr Pg10 BrTpLtRs10 BrTpRtRs10" style="background: #F5F5F5">
            <div class="fileName">
                <span class="FtWt600">Source Code</span>
            </div>
            <div class="DyFx FxAnIsCr Gp10">
                <div class="">
                    <select class="switcherSelect TtBx Pg0 PgLtRt5 PgTpBm5">
                        <option value="HTML">HTML</option>
                    </select>
                </div>

                @* copy  *@
                <button aria-label="Copy code" class="copyButton Bn Br1 CrBrGy90Lt" type="button">
                    @* copy button  *@
                    <svg class="copy-icon" data-testid="geist-icon" height="16" width="16" stroke-linejoin="round" viewBox="0 0 16 16" aria-hidden="true">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.75 0.5C1.7835 0.5 1 1.2835 1 2.25V9.75C1 10.7165 1.7835 11.5 2.75 11.5H3.75H4.5V10H3.75H2.75C2.61193 10 2.5 9.88807 2.5 9.75V2.25C2.5 2.11193 2.61193 2 2.75 2H8.25C8.38807 2 8.5 2.11193 8.5 2.25V3H10V2.25C10 1.2835 9.2165 0.5 8.25 0.5H2.75ZM7.75 4.5C6.7835 4.5 6 5.2835 6 6.25V13.75C6 14.7165 6.7835 15.5 7.75 15.5H13.25C14.2165 15.5 15 14.7165 15 13.75V6.25C15 5.2835 14.2165 4.5 13.25 4.5H7.75ZM7.5 6.25C7.5 6.11193 7.61193 6 7.75 6H13.25C13.3881 6 13.5 6.11193 13.5 6.25V13.75C13.5 13.8881 13.3881 14 13.25 14H7.75C7.61193 14 7.5 13.8881 7.5 13.75V6.25Z" fill="currentColor">
                        </path>
                    </svg>

                    <svg class="check-icon" width="0" height="0" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 8L6 11L13 4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                </button>

            </div>
        </div>

        @* code  *@
<pre class="codeBlock highlight">
<code class="language-html" style="background: none">
&lt;div class=&quot;DyFx FxJyCtCr&quot;&gt;
    &lt;div class=&quot;DyFx FxDnCn Gp25 WhMn70p FxAnIsCr&quot;&gt;

        &lt;div class=&quot;DyFx FxDnCn Wh100p PnRe&quot;&gt;
            &lt;label class=&quot;PnAe PnTp0p PnLt15 TmTe0pVe50p FtSe12 CrBdPe10Lt BrRs10 CrWe FtWt600 PgTpBm2 PgLtRt14&quot;&gt;Label&lt;/label&gt;
            &lt;div class=&quot;DyFx Br1 BrRs4 CrBdWe&quot;&gt;
                &lt;input class=&quot;TxBxCnAe Br0&quot; type=&quot;text&quot; placeholder=&quot;Enter Text 1&quot; /&gt;
                &lt;div class=&quot;DyFx FxCr Pg5&quot;&gt;
                    &lt;i class=&quot;CT-PlusCircleSolid CrBk CrurPr&quot;&gt;&lt;/i&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;

        &lt;div class=&quot;DyFx FxDnCn Wh100p PnRe&quot;&gt;
            &lt;label class=&quot;PnAe PnTp0p PnLt15 TmTe0pVe50p FtSe12 CrBdPe10Lt BrRs10 CrWe FtWt600 PgTpBm2 PgLtRt14&quot;&gt;Label&lt;/label&gt;
            &lt;div class=&quot;DyFx Br1 BrRs4 FxWp CrBdWe&quot;&gt;
                &lt;div class=&quot;DyFx FxWp FxWhFl50 BrRs4 CrBdWe MnBm4 Mm:MnBm0&quot;&gt;
                    &lt;input class=&quot;TxBxCnAe Br0&quot; type=&quot;text&quot; placeholder=&quot;Enter Text 1&quot; /&gt;
                    &lt;div class=&quot;DyFx FxCr Pg5&quot;&gt;
                        &lt;i class=&quot;CT-PlusCircleSolid CrBk CrurPr&quot;&gt;&lt;/i&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;DyFx FxWhFl50 BrRs4 CrBdWe&quot;&gt;
                    &lt;input class=&quot;TxBxCnAe Br0&quot; type=&quot;text&quot; placeholder=&quot;Enter Text 2&quot; /&gt;
                    &lt;div class=&quot;DyFx FxCr Pg5&quot;&gt;
                        &lt;i class=&quot;CT-PlusCircleSolid CrBk CrurPr&quot;&gt;&lt;/i&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;

        &lt;div class=&quot;DyFx FxDnCn Wh100p PnRe&quot;&gt;
            &lt;label class=&quot;PnAe PnTp0p PnLt15 TmTe0pVe50p FtSe12 CrBdPe10Lt BrRs10 CrWe FtWt600 PgTpBm2 PgLtRt14&quot;&gt;Label&lt;/label&gt;
            &lt;div class=&quot;DyFx FxWp Br1 BrRs4 FxWp CrBdWe&quot;&gt;
                &lt;div class=&quot;DyFx FxWhFl33o33 BrRs4 CrBdWe MnBm4 Mm:MnBm0&quot;&gt;
                    &lt;input class=&quot;TxBxCnAe Br0&quot; type=&quot;text&quot; placeholder=&quot;Enter Text 1&quot; /&gt;
                    &lt;div class=&quot;DyFx FxCr Pg5&quot;&gt;
                        &lt;i class=&quot;CT-PlusCircleSolid CrBk CrurPr&quot;&gt;&lt;/i&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;DyFx FxWhFl33o33 BrRs4 CrBdWe MnBm4 Mm:MnBm0&quot;&gt;
                    &lt;input class=&quot;TxBxCnAe Br0&quot; type=&quot;text&quot; placeholder=&quot;Enter Text 2&quot; /&gt;
                    &lt;div class=&quot;DyFx FxCr Pg5&quot;&gt;
                        &lt;i class=&quot;CT-PlusCircleSolid CrBk CrurPr&quot;&gt;&lt;/i&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;DyFx FxWhFl33o33 BrRs4 CrBdWe&quot;&gt;
                    &lt;input class=&quot;TxBxCnAe Br0&quot; type=&quot;text&quot; placeholder=&quot;Enter Text 3&quot; /&gt;
                    &lt;div class=&quot;DyFx FxCr Pg5&quot;&gt;
                        &lt;i class=&quot;CT-PlusCircleSolid CrBk CrurPr&quot;&gt;&lt;/i&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;

    &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>

    </div>

</section>