@font-face {
  font-family: 'Logo';
  src:  url('fonts/Logo.eot?yp9id6');
  src:  url('fonts/Logo.eot?yp9id6#iefix') format('embedded-opentype'),
    url('fonts/Logo.ttf?yp9id6') format('truetype'),
    url('fonts/Logo.woff?yp9id6') format('woff'),
    url('fonts/Logo.svg?yp9id6#Logo') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="Lg-"], [class*=" Lg-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Logo' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Lg-CelebrateTech:before {
  content: "\e900";
}
