

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Forget Password</title>
        <link rel="stylesheet" href="~/css/celebratestyle.css" />
    </head>
    <body>
        <section class="DyFx FxJyCtCr MnTp20">
        <div class="DyFx FxDnCn FxJyCtCr FxAnIsCr Br1 CrBrGy BrRs2p Wh99p Sl:Wh40p">
            <div class="Wh100p DyFx FxJyCtCr FxAnIsCr">
                <div class="Ht100">
                    <img src="~/images/CelebrateTech.svg" class="Wh100p Ht100p" />
                </div>
            </div>

            <div class="Pg20 Wh90p">

                <div class="TtAnCr">
                    <h1>Forget Password</h1>
                    <p class="FtSe12">Enter your email address and your password will be reset and emailed to you.</p>
                </div>
                <form id="LoginFormID" action="/" method="post" novalidate="novalidate">
                    <div id="CreateOrEditLogin">

                        <div style="display:none;">responseformUT ShowValidation</div>
                        <input type="hidden" value="" id="ReturnUrl" name="ReturnUrl">

                        <div class="PgTpBm10">
                            <input class="TtBx" type="Email" placeholder="User Email" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Email" name="Email" value="">
                        </div>

                    </div>

                    <div class="PgTpBm10">
                        <button type="submit" class="Bn CrBrTe CrBdTe CrWe Wh100p">Submit</button>
                    </div>

                    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8P5m-86tl6hLsnZc6YWdK4KwPi8PGDxQyIPiWqlOXO32wL-_IPSr_7980-ZPvG-5-zWM-qxbN7sIBj0nb_2wmpv4wZk4kJqilZIH3EiK48alwqTxFxO48aNkA8rXImUYkv5YkpRnFepXNfvWudd0Oc0">

                </form>

            </div>
        </div>
    </section>
    </body>
</html>