@{
    ViewBag.ActiveLink = "Core_concepts";
    ViewBag.ActiveSubLink = "Border_Size";
}

@* Syntax *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="FxRw FxCr BxSw BrRs5 PgTpBm5 PnRe ZIx100"> <h1 class="BrRs5">Border Width</h1></div>

    <h2 class="MnTpBm20">Definition and Usage</h2>
    <p>
        The Br series provides a range of predefined border thickness values, from Br1 (thin) to Br50 (thick), allowing consistent and scalable border styling without manually specifying border sizes in CSS.
    </p>

    <h3 class="MnTpBm20">Border Width Example</h3>

    <table class="FtWt500 Wh100p BrCeCe FtSe10 Sl:FtSe16">
        <thead>
            <tr class="CrBdTe91">
                <th class="Br1 CrBrGy Pg5 TtAnLt">Property</th>
                <th class="Br1 CrBrGy Pg5 TtAnLt">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>Br1</strong></td>
                <td class="Br1 CrBrGy Pg5">border: 0.0625rem solid;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>Br16</strong></td>
                <td class="Br1 CrBrGy Pg5">border: 1rem solid;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>Br50</strong></td>
                <td class="Br1 CrBrGy Pg5">border: 3.125rem solid;</td>
            </tr>
        </tbody>
    </table>
    <h3 class="MnTpBm20">Note</h3>
    <p>
        The Range of this Br property is form 0 to 50.
    </p>

</section>
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <p>
        The Br series provides a flexible way to control border thickness for all sides or individual sides of an element. This utility ensures consistent and scalable border styling without manually defining values in CSS.
    </p>
    <table class="FtWt500 Wh100p BrCeCe FtSe10 Sl:FtSe16">
        <thead>
            <tr class="CrBdTe91">
                <th class="Br1 CrBrGy Pg5 TtAnLt">Property</th>
                <th class="Br1 CrBrGy Pg5 TtAnLt">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>BrTp1</strong></td>
                <td class="Br1 CrBrGy Pg5">border-top: 0.0625rem solid;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>BrRt1</strong></td>
                <td class="Br1 CrBrGy Pg5">border-right: 0.0625rem solid;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>BrBm1</strong></td>
                <td class="Br1 CrBrGy Pg5">border-bottom: 0.0625rem solid;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>BrLt1</strong></td>
                <td class="Br1 CrBrGy Pg5">border-left: 0.0625rem solid;</td>
            </tr>
        </tbody>
    </table>
    <h3 class="MnTpBm20">Note</h3>
    <p>
        The Range of this Br property is form 0 to 50.
    </p>
</section>
