@{
    ViewBag.ActiveLink = "Core_concepts";
    ViewBag.ActiveSubLink = "Border_Radius";
}

@* Syntax *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="FxRw FxCr BxSw BrRs5 PgTpBm5 PnRe ZIx100"> <h1 class="BrRs5">Border Radius</h1></div>

    <h2 class="MnTpBm20">Definition and Usage</h2>
    <p>
        The BrRs series provides predefined fully rounded shapes, making it easy to create circular or pill-shaped elements. This utility is particularly useful for avatars, buttons, and other UI elements requiring smooth, rounded edges.
    </p>

    <h3 class="MnTpBm20">Border Radius Example</h3>
    <p>
        The BrRs property can work with both Rem as well percentage.
    </p>

    <table class="FtWt500 Wh100p BrCeCe FtSe10 Sl:FtSe16">
        <thead>
            <tr class="CrBdTe91">
                <th class="Br1 CrBrGy Pg5 TtAnLt">Property</th>
                <th class="Br1 CrBrGy Pg5 TtAnLt">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>BrRs1</strong></td>
                <td class="Br1 CrBrGy Pg5">border-radius: 0.0625rem;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>BrRs16</strong></td>
                <td class="Br1 CrBrGy Pg5">border-radius: 1rem;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>BrRs50</strong></td>
                <td class="Br1 CrBrGy Pg5">border-radius: 3.125rem;</td>
            </tr>
        </tbody>
    </table>
     <h3 class="MnTpBm20">Note</h3>
    <p>
        The Range of this BrRs property is form 0 to 50.
    </p>

    <table class="FtWt500 Wh100p BrCeCe FtSe10 Sl:FtSe16">
        <thead>
            <tr class="CrBdTe91">
                <th class="Br1 CrBrGy Pg5 TtAnLt">Property</th>
                <th class="Br1 CrBrGy Pg5 TtAnLt">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>BrRs1p</strong></td>
                <td class="Br1 CrBrGy Pg5">border-radius: 1%;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>BrRs16p</strong></td>
                <td class="Br1 CrBrGy Pg5">border-radius: 16%;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>BrRs50p</strong></td>
                <td class="Br1 CrBrGy Pg5">border-radius: 50%;</td>
            </tr>
        </tbody>
    </table>
    <h3 class="MnTpBm20">Note</h3>
    <p>
        The Range of this BrRs property is form 0p to 50p.
    </p>
</section>
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <h3>Border Radius for individual sides</h3>
    <p>
        The BrRs series provides predefined border-radius values that can be applied to all corners or individual sides. This utility ensures consistent and scalable rounded corners across your project.
    </p>
    <table class="FtWt500 Wh100p BrCeCe FtSe10 Sl:FtSe16">
        <thead>
            <tr class="CrBdTe91">
                <th class="Br1 CrBrGy Pg5 TtAnLt">Property</th>
                <th class="Br1 CrBrGy Pg5 TtAnLt">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>BrTpRtRs1</strong></td>
                <td class="Br1 CrBrGy Pg5">border-top-right-radius: 0.0625rem;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>BrTpLtRs1</strong></td>
                <td class="Br1 CrBrGy Pg5">border-top-left-radius: 0.0625rem;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>BrBmLtRs1</strong></td>
                <td class="Br1 CrBrGy Pg5">border-bottom-left-radius: 0.0625rem;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>BrBmRtRs1</strong></td>
                <td class="Br1 CrBrGy Pg5">border-bottom-right-radius: 1%;</td>
            </tr>
        </tbody>
    </table>
    <h3 class="MnTpBm20">Note</h3>
    <p>
        The range of this property is from 0 to 50.
    </p>
    <table class="FtWt500 Wh100p BrCeCe FtSe10 Sl:FtSe16">
        <thead>
            <tr class="CrBdTe91">
                <th class="Br1 CrBrGy Pg5 TtAnLt">Property</th>
                <th class="Br1 CrBrGy Pg5 TtAnLt">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>BrBmRtRs1p</strong></td>
                <td class="Br1 CrBrGy Pg5">border-bottom-right-radius: 0.0625rem;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>BrTpRtRs1p</strong></td>
                <td class="Br1 CrBrGy Pg5">border-top-right-radius: 1%;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>BrTpLtRs1p</strong></td>
                <td class="Br1 CrBrGy Pg5">border-top-left-radius: 1%;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>BrBmLtRs1p</strong></td>
                <td class="Br1 CrBrGy Pg5">border-bottom-left-radius: 1%;</td>
            </tr>
        </tbody>
    </table>
</section>
