@{
    ViewBag.ActiveLink = "Core_concepts";
    ViewBag.ActiveSubLink = "Border_style";
}

@* Syntax *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="FxRw FxCr BxSw BrRs5 PgTpBm5 PnRe ZIx100"> <h1 class="BrRs5">Border Style</h1></div>

    <h2 class="MnTpBm20">Definition and Usage</h2>
    <p>
        The border-style property in CSS defines the appearance of an element's border. It determines how the border is displayed, such as solid, dashed, or dotted.
        The border-style property can be applied to all four sides of an element or specified individually for each side.
    </p>

    <h3 class="MnTpBm20">Border Style Examples</h3>

    <table class="FtWt500 Wh100p BrCeCe FtSe10 Sl:FtSe16">
        <thead>
            <tr class="CrBdTe91">
                <th class="Br1 CrBrGy Pg5 TtAnLt">Property</th>
                <th class="Br1 CrBrGy Pg5 TtAnLt">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>BrSeDh</strong></td>
                <td class="Br1 CrBrGy Pg5">border-style: dashed;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>BrSeDt</strong></td>
                <td class="Br1 CrBrGy Pg5">border-style: dotted;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>BrSeDe</strong></td>
                <td class="Br1 CrBrGy Pg5"> border-style: double;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>BrSeGe</strong></td>
                <td class="Br1 CrBrGy Pg5"> border-style: groove;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>BrSeHn</strong></td>
                <td class="Br1 CrBrGy Pg5"> border-style: hidden;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>BrSeNe</strong></td>
                <td class="Br1 CrBrGy Pg5">border-style: none;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>BrSeSd</strong></td>
                <td class="Br1 CrBrGy Pg5">border-style: solid;</td>
            </tr>
        </tbody>
    </table>
    <h3 class="MnTpBm20">Note</h3>
    <ul>
        <li>
            dashed – A series of dashes.
        </li>
        <li>
            dotted – A series of dots.
        </li>
        <li>
            double – Two solid lines with space in between.
        </li>
        <li>
            none – No border (default).
        </li>  
        <li>
            groove – A 3D grooved effect.
        </li>
        <li>
            Hidden - Prevents the border from being displayed,
        </li>
        <li>
            solid – A continuous solid line.
        </li>
    </ul>

</section>