@{
    ViewBag.ActiveLink = "Core_concepts";
    ViewBag.ActiveSubLink = "Cursor";
}

@* Syntax *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="FxRw FxCr BxSw BrRs5 PgTpBm5 PnRe ZIx100"> <h1 class="BrRs5">Cursor</h1>  </div>

    <h2 class="MnTpBm20">Definition and Usage</h2>
    <p>
        The Crur series provides predefined cursor styles, allowing you to control how the cursor behaves when hovering over elements. This utility improves user interaction and ensures consistency across your project.
    </p>

    <h3 class="MnTpBm20">Cursor Examples</h3>

    <table class="FtWt500 Wh100p BrCeCe FtSe10 Sl:FtSe16">
        <thead>
            <tr class="CrBdTe91">
                <th class="Br1 CrBrGy Pg5 TtAnLt">Property</th>
                <th class="Br1 CrBrGy Pg5 TtAnLt">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>CrurPr</strong></td>
                <td class="Br1 CrBrGy Pg5">cursor: pointer;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>CrurZmIn</strong></td>
                <td class="Br1 CrBrGy Pg5">cursor: zoom-in;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>CrurZmOt</strong></td>
                <td class="Br1 CrBrGy Pg5">cursor: zoom-out;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>CrurCl</strong></td>
                <td class="Br1 CrBrGy Pg5">cursor: cell;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>CrurHp</strong></td>
                <td class="Br1 CrBrGy Pg5">cursor: help;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>CrurMe</strong></td>
                <td class="Br1 CrBrGy Pg5">cursor: move;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>CrurRe</strong></td>
                <td class="Br1 CrBrGy Pg5">cursor: n-resize;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>CrurNe</strong></td>
                <td class="Br1 CrBrGy Pg5">cursor: none;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>CrurNtAd</strong></td>
                <td class="Br1 CrBrGy Pg5">cursor: not-allowed;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>CrurWt</strong></td>
                <td class="Br1 CrBrGy Pg5">cursor: wait;</td>
            </tr>
        </tbody>
    </table>
    <h3 class="MnTpBm20">Note</h3> 
    <p>
        Using these cursor utilities makes interactions more intuitive while maintaining a clean, scalable design system.
    </p>
  
</section>
