@{
    ViewBag.ActiveLink = "Core_concepts";
    ViewBag.ActiveSubLink = "Display";
}

@* Syntax *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="FxRw FxCr BxSw BrRs5 PgTpBm5 PnRe ZIx100"> <h1 class="BrRs5">Display Properties</h1>  </div>

    <h2 class="MnTpBm20">Definition and Usage</h2>
    <p>
        The Dy series provides predefined values for the CSS display property, allowing you to control how elements are rendered in the document flow.
    </p>

    <h3 class="MnTpBm20">Display Examples</h3>

    <table class="FtWt500 Wh100p BrCeCe FtSe10 Sl:FtSe16">
        <thead>
            <tr class="CrBdTe91">
                <th class="Br1 CrBrGy Pg5 TtAnLt">Property</th>
                <th class="Br1 CrBrGy Pg5 TtAnLt">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>DyBk</strong></td>
                <td class="Br1 CrBrGy Pg5">display: block;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>DyCs</strong></td>
                <td class="Br1 CrBrGy Pg5">display: contents;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>DyFx</strong></td>
                <td class="Br1 CrBrGy Pg5">display: flex;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>DyGd</strong></td>
                <td class="Br1 CrBrGy Pg5">display: grid;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>DyIe</strong></td>
                <td class="Br1 CrBrGy Pg5">display: inline;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>DyIeBk</strong></td>
                <td class="Br1 CrBrGy Pg5">display: inline-block;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>DyIeFx</strong></td>
                <td class="Br1 CrBrGy Pg5">display: inline-flex;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>DyIeGd</strong></td>
                <td class="Br1 CrBrGy Pg5">display: inline-grid;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>DyLtIm</strong></td>
                <td class="Br1 CrBrGy Pg5">display: list-item;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>DyNe</strong></td>
                <td class="Br1 CrBrGy Pg5">display: none;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>DyTe</strong></td>
                <td class="Br1 CrBrGy Pg5">display: table;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>DyTeRwGp</strong></td>
                <td class="Br1 CrBrGy Pg5">display: table-row-group;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>DyTeCl</strong></td>
                <td class="Br1 CrBrGy Pg5">display: table-cell;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>DyTeRw</strong></td>
                <td class="Br1 CrBrGy Pg5">display: table-row;</td>
            </tr>
        </tbody>
    </table>
     <h3 class="MnTpBm20">Note</h3> 
    <p>
        These utility classes provide a flexible way to manage element rendering and layout structure while maintaining a consistent design system.
    </p>

</section>
