@{
    ViewBag.ActiveLink = "Core_concepts";
    ViewBag.ActiveSubLink = "Flex";
    ViewBag.ActiveSubSubLink = "Flex_Size";
}

@* Syntax *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="FxRw FxCr BxSw BrRs5 PgTpBm5 PnRe ZIx100"> <h1 class="BrRs5">Flex</h1>  </div>

    <h2 class="MnTpBm20">Definition and Usage</h2>
    <p>
        The flex utility is a shorthand class that applies a flexible layout behavior to a flex item, allowing it to grow and shrink as needed while distributing space efficiently within a flex container.
    </p>

    <h3 class="MnTpBm20">Aspect-Ratio Examples</h3>

    <table class="FtWt500 Wh100p BrCeCe FtSe10 Sl:FtSe16">
        <thead>
            <tr class="CrBdTe91">
                <th class="Br1 CrBrGy Pg5 TtAnLt">Property</th>
                <th class="Br1 CrBrGy Pg5 TtAnLt">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>Fx1</strong></td>
                <td class="Br1 CrBrGy Pg5">flex: 1;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>Fx2</strong></td>
                <td class="Br1 CrBrGy Pg5">flex: 2;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>Fx5</strong></td>
                <td class="Br1 CrBrGy Pg5">flex: 5;</td>
            </tr> 
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>FxIl</strong></td>
                <td class="Br1 CrBrGy Pg5">flex: initial;</td>
            </tr>
        </tbody>
    </table>
    <h3 class="MnTpBm20">Note</h3>
    <p>
        The range of flex utility is from 1 to 5.
    </p>

</section>
