@{
    ViewBag.ActiveLink = "Core_concepts";
    ViewBag.ActiveSubLink = "Flex";
    ViewBag.ActiveSubSubLink = "Flex_Grow";
}

@* Syntax *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="FxRw FxCr BxSw BrRs5 PgTpBm5 PnRe ZIx100"> <h1 class="BrRs5">Flex Grow and Flex Shrink</h1>  </div>

    <h2 class="MnTpBm20">Definition and Usage</h2>
    <p>
        The Flex Grow and Flex Shrink utilities control how flex items expand or contract relative to the available space within a flex container. These utilities help in managing responsive layouts and distributing space efficiently.
    </p>

    <h3 class="MnTpBm20">Aspect-Ratio Examples</h3>

    <table class="FtWt500 Wh100p BrCeCe FtSe10 Sl:FtSe16">
        <thead>
            <tr class="CrBdTe91">
                <th class="Br1 CrBrGy Pg5 TtAnLt">Property</th>
                <th class="Br1 CrBrGy Pg5 TtAnLt">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>FxGw0</strong></td>
                <td class="Br1 CrBrGy Pg5">flex-grow: 0;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>FxGw5</strong></td>
                <td class="Br1 CrBrGy Pg5">flex-grow: 5;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>FxSk0</strong></td>
                <td class="Br1 CrBrGy Pg5">flex-shrink: 0;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>FxSk5</strong></td>
                <td class="Br1 CrBrGy Pg5">flex-shrink: 5;</td>
            </tr>
        </tbody>
    </table>
    <h3 class="MnTpBm20">Note</h3>
    <p>
       The range of flex grow and flex shrink is from 0 to 5.
    </p>
    
</section>
