@{
    ViewBag.ActiveLink = "Core_concepts";
    ViewBag.ActiveSubLink = "Flex";
    ViewBag.ActiveSubSubLink = "Flex_Position";
}

@* Syntax *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="FxRw FxCr BxSw BrRs5 PgTpBm5 PnRe ZIx100"> <h1 class="BrRs5">Flex Position</h1>  </div>

    <h2 class="MnTpBm20">Definition and Usage</h2>
    <p>
        The Flex Positioning utility classes combine both horizontal and vertical alignment using Flexbox. These classes simplify layout alignment by applying both justify-content and align-items together—allowing quick and consistent positioning of items within a flex container.
    </p>

    <h3 class="MnTpBm20">Flex Position Examples</h3>

    <table class="FtWt500 Wh100p BrCeCe FtSe10 Sl:FtSe16">
        <thead>
            <tr class="CrBdTe91">
                <th class="Br1 CrBrGy Pg5 TtAnLt">Property</th>
                <th class="Br1 CrBrGy Pg5 TtAnLt">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>FxBmLt</strong></td>
                <td class="Br1 CrBrGy Pg5">display: flex;<br/>justify-content: flex-start;<br />align-items: end;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>FxBmCr</strong></td>
                <td class="Br1 CrBrGy Pg5">display: flex;<br />justify-content: center;<br />align-items: end;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>FxBmRt</strong></td>
                <td class="Br1 CrBrGy Pg5">display: flex;<br />justify-content: flex-end;<br />align-items: end;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>FxCrLt</strong></td>
                <td class="Br1 CrBrGy Pg5">display: flex;<br />justify-content: flex-start;<br />align-items: center;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>FxCr</strong></td>
                <td class="Br1 CrBrGy Pg5">display: flex;<br />justify-content: center<br />align-items: center;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>FxCrRt</strong></td>
                <td class="Br1 CrBrGy Pg5">display: flex;<br />justify-content: flex-end;<br />align-items: center;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>FxTpLt</strong></td>
                <td class="Br1 CrBrGy Pg5">display: flex;<br />justify-content: flex-start;<br />align-items: start;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>FxTpCr</strong></td>
                <td class="Br1 CrBrGy Pg5">display: flex;<br />justify-content: center;<br />align-items: start;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>FxTpRt</strong></td>
                <td class="Br1 CrBrGy Pg5">display: flex;<br />justify-content: flex-end;<br />align-items: start;</td>
            </tr>
        </tbody>
    </table>
    <h3 class="MnTpBm20">Note</h3>
    <p>
        Apply these classes directly to any container where you want to control item positioning without writing multiple alignment classes.
    </p>
    <p>
        These flex positioning utilities are designed for readability, reusability, and layout clarity—making alignment easy to apply and maintain in your codebase.
    </p>
</section>
