@{
    ViewBag.ActiveLink = "Core_concepts";
    ViewBag.ActiveSubLink = "Padding";
}

@* Padding *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="FxRw FxCr BxSw BrRs5 PgTpBm5 PnRe ZIx100"> <h1 class="BrRs5">Padding</h1>  </div>

    <h2 class="MnTpBm20">Definition and Usage</h2>
    <p>
        The Padding utility adds inner spacing between an element's content and its border using the padding property. This ensures content is visually separated from the edges of the element, improving readability and layout structure.
    </p>

    <h2 class="MnTpBm20">Definition and Usage</h2>
    <h3 class="MnTpBm20">Examples</h3>

    <table class="FtWt500 Wh100p BrCeCe FtSe10 Sl:FtSe16">
        <thead>
            <tr class="CrBdTe91">
                <th class="Br1 CrBrGy Pg5 TtAnLt">Property</th>
                <th class="Br1 CrBrGy Pg5 TtAnLt">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>Pg1</strong></td>
                <td class="Br1 CrBrGy Pg5">padding: 1px;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>Pg50</strong></td>
                <td class="Br1 CrBrGy Pg5">padding: 50px;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>Pg100</strong></td>
                <td class="Br1 CrBrGy Pg5">padding: 100px;</td>
            </tr>
        </tbody>
    </table>
    <h3 class="MnTpBm20">Note</h3>
    <p>
        The range of padding values is from 0 to 100.
    </p>
</section>

@*individual padding*@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="FxRw FxCr BxSw BrRs5 PgTpBm5 PnRe ZIx100"> <h2 class="BrRs5">Individual Padding</h2>  </div>

    <h3 class="MnTpBm20">Definition and Usage</h3>
    <p>
        ndividual padding utilities apply spacing to a specific side of an element: top, bottom, left, or right. This allows for precise control over internal spacing without affecting all sides.
    </p>

    <div class="FxRw FxCr BxSw BrRs5 PgTpBm5 PnRe ZIx100"> <h3 class="BrRs5">Padding Top</h3>  </div>

    <h3 class="MnTpBm20">Definition and Usage</h3>
    <p>
        The Padding Top utility adds spacing between the top edge of an element and its content using the padding-top property. It helps create vertical separation from elements above without affecting other sides.
    </p>
    <h3 class="MnTpBm20">Examples</h3>

    <table class="FtWt500 Wh100p BrCeCe FtSe10 Sl:FtSe16">
        <thead>
            <tr class="CrBdTe91">
                <th class="Br1 CrBrGy Pg5 TtAnLt">Property</th>
                <th class="Br1 CrBrGy Pg5 TtAnLt">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>PgTp1</strong></td>
                <td class="Br1 CrBrGy Pg5">padding-top: 1px;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>PgTp50</strong></td>
                <td class="Br1 CrBrGy Pg5">padding-top: 50px;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>PgTp100</strong></td>
                <td class="Br1 CrBrGy Pg5">padding-top: 100px;</td>
            </tr>
        </tbody>
    </table>
    <h3 class="MnTpBm20">Note</h3>
    <p>
        The range of padding-top values is from 0 to 100px.
    </p>

</section>

@*padding bottom*@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">

    <div class="FxRw FxCr BxSw BrRs5 PgTpBm5 PnRe ZIx100"> <h2 class="BrRs5">padding bottom</h2>  </div>

    <h3 class="MnTpBm20">Definition and Usage</h3>
    <p>
        The Padding Bottom utility adds spacing between the bottom edge of an element and its content using the padding-bottom property. It helps create vertical breathing room below the content, enhancing layout clarity.
    </p>
    <h3 class="MnTpBm20">Examples</h3>

    <table class="FtWt500 Wh100p BrCeCe FtSe10 Sl:FtSe16">
        <thead>
            <tr class="CrBdTe91">
                <th class="Br1 CrBrGy Pg5 TtAnLt">Property</th>
                <th class="Br1 CrBrGy Pg5 TtAnLt">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>PgBm1</strong></td>
                <td class="Br1 CrBrGy Pg5">padding-bottom: 1px;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>PgBm50</strong></td>
                <td class="Br1 CrBrGy Pg5">padding-bottom: 50px;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>PgBm100</strong></td>
                <td class="Br1 CrBrGy Pg5">padding-bottom: 100px;</td>
            </tr>
        </tbody>
    </table>
    <h3 class="MnTpBm20">Note</h3>
    <p>
        The range of padding-bottom values is from 0 to 100px.
    </p>
</section>

@*padding left*@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">

    <div class="FxRw FxCr BxSw BrRs5 PgTpBm5 PnRe ZIx100"> <h2 class="BrRs5">Padding Left</h2>  </div>

    <h3 class="MnTpBm20">Definition and Usage</h3>
    <p>
        The Padding Left utility adds spacing between the left edge of an element and its content using the padding-left property. It’s commonly used to indent content or align items away from the left border.
    </p>
    <h3 class="MnTpBm20">Examples</h3>

    <table class="FtWt500 Wh100p BrCeCe FtSe10 Sl:FtSe16">
        <thead>
            <tr class="CrBdTe91">
                <th class="Br1 CrBrGy Pg5 TtAnLt">Property</th>
                <th class="Br1 CrBrGy Pg5 TtAnLt">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>PgLt1</strong></td>
                <td class="Br1 CrBrGy Pg5">padding-left: 1px;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>PgLt50</strong></td>
                <td class="Br1 CrBrGy Pg5">padding-left: 50px;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>PgLt100</strong></td>
                <td class="Br1 CrBrGy Pg5">padding-left: 100px;</td>
            </tr>
        </tbody>
    </table>
    <h3 class="MnTpBm20">Note</h3>
    <p>
        The range of padding-left values is from 0 to 100px.
    </p>
</section>

@*padding-right*@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">

    <div class="FxRw FxCr BxSw BrRs5 PgTpBm5 PnRe ZIx100"> <h2 class="BrRs5">Padding Right</h2>  </div>

    <h3 class="MnTpBm20">Definition and Usage</h3>
    <p>
        The Padding Right utility adds spacing between the right edge of an element and its content using the padding-right property. It helps prevent content from sticking to the right edge and maintains clean, readable layouts.
    </p>
    <h3 class="MnTpBm20">Examples</h3>

    <table class="FtWt500 Wh100p BrCeCe FtSe10 Sl:FtSe16">
        <thead>
            <tr class="CrBdTe91">
                <th class="Br1 CrBrGy Pg5 TtAnLt">Property</th>
                <th class="Br1 CrBrGy Pg5 TtAnLt">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>PgRt1</strong></td>
                <td class="Br1 CrBrGy Pg5">padding-right: 1px;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>PgRt50</strong></td>
                <td class="Br1 CrBrGy Pg5">padding-right: 50px;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>PgRt100</strong></td>
                <td class="Br1 CrBrGy Pg5">padding-right: 100px;</td>
            </tr>
        </tbody>
    </table>
    <h3 class="MnTpBm20">Note</h3>
    <p>
        The range of padding-right values is from 0 to 100px.
    </p>
</section>

@*padding-top-bottom*@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">

    <div class="FxRw FxCr BxSw BrRs5 PgTpBm5 PnRe ZIx100"> <h2 class="BrRs5">padding Top Bottom</h2>  </div>

    <h3 class="MnTpBm20">Definition and Usage</h3>
    <p>
        The Padding Top and Bottom utility adds equal vertical spacing using the padding-top and padding-bottom properties. This is useful for creating consistent space above and below content without affecting horizontal padding.
    </p>
    <h3 class="MnTpBm20">Examples</h3>

    <table class="FtWt500 Wh100p BrCeCe FtSe10 Sl:FtSe16">
        <thead>
            <tr class="CrBdTe91">
                <th class="Br1 CrBrGy Pg5 TtAnLt">Property</th>
                <th class="Br1 CrBrGy Pg5 TtAnLt">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>PGTpBm1</strong></td>
                <td class="Br1 CrBrGy Pg5">padding-top: 1px;<br />padding-bottom: 1px;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>PgTpBm50</strong></td>
                <td class="Br1 CrBrGy Pg5">padding-top: 50px;<br />padding-bottom: 50px;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>PgTpBm100</strong></td>
                <td class="Br1 CrBrGy Pg5">padding-top: 100px;<br />padding-bottom: 100px;</td>
            </tr>
        </tbody>
    </table>
    <h3 class="MnTpBm20">Note</h3>
    <p>
        The range of padding-top-bottom values is from 0 to 100px. By using this property you can add top and bottom padding at the same time.
    </p>
</section>

@*padding-left-right*@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">

    <div class="FxRw FxCr BxSw BrRs5 PgTpBm5 PnRe ZIx100"> <h2 class="BrRs5">Padding Left Right</h2>  </div>

    <h3 class="MnTpBm20">Definition and Usage</h3>
    <p>
        The Padding Left and Right utility applies equal horizontal spacing on both sides of an element using the padding-left and padding-right properties. It ensures consistent inner spacing without affecting vertical padding.
    </p>
    <h3 class="MnTpBm20">Examples</h3>

    <table class="FtWt500 Wh100p BrCeCe FtSe10 Sl:FtSe16">
        <thead>
            <tr class="CrBdTe91">
                <th class="Br1 CrBrGy Pg5 TtAnLt">Property</th>
                <th class="Br1 CrBrGy Pg5 TtAnLt">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>PgLtRt1</strong></td>
                <td class="Br1 CrBrGy Pg5">padding-left: 1px;<br />padding-right: 1px;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>PgLtRt50</strong></td>
                <td class="Br1 CrBrGy Pg5">padding-left: 50px;<br />padding-right: 50px;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>PgLtRt100</strong></td>
                <td class="Br1 CrBrGy Pg5">padding-left: 100px;<br />padding-right: 100px;</td>
            </tr>
        </tbody>
    </table>
    <h3 class="MnTpBm20">Note</h3>
    <p>
        The range of padding-left-right values is from 0 to 100px. By using this property you can add left and right padding at the same time.
    </p>
</section>