@{
    ViewBag.ActiveLink = "Core_concepts";
    ViewBag.ActiveSubLink = "Spacing";
}

@* Syntax *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="FxRw FxCr BxSw BrRs5 PgTpBm5 PnRe ZIx100"> <h1 class="BrRs5">Line Height</h1>  </div>

    <h2 class="MnTpBm20">Definition and Usage</h2>
    <p>
        The Line Height utility defines the vertical spacing between lines of text using the CSS line-height property. This improves readability and visual structure, especially in blocks of text, by controlling how tightly or loosely lines are spaced.
    </p>

    <h3 class="MnTpBm20">Line Height Examples</h3>

    <table class="FtWt500 Wh100p BrCeCe FtSe10 Sl:FtSe16">
        <thead>
            <tr class="CrBdTe91">
                <th class="Br1 CrBrGy Pg5 TtAnLt">Property</th>
                <th class="Br1 CrBrGy Pg5 TtAnLt">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>LeHt0</strong></td>
                <td class="Br1 CrBrGy Pg5">line-height: 0;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>LeHt0o5</strong></td>
                <td class="Br1 CrBrGy Pg5">line-height: 0.5;</td>
            </tr>   
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>LeHt9o5</strong></td>
                <td class="Br1 CrBrGy Pg5">line-height: 9.5;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>LeHt10</strong></td>
                <td class="Br1 CrBrGy Pg5">line-height: 10;</td>
            </tr>
        </tbody>
    </table>
    <h3 class="MnTpBm20">Note</h3>
    <p>
        The line-height has a range of 0 to 10 with interval of 0.5. The default value is 1. Use 'o' for representing decimal value.
    </p>
</section>

<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="FxRw FxCr BxSw BrRs5 PgTpBm5 PnRe ZIx100"> <h2 class="BrRs5">Letter Spacing</h2>  </div>

    <h2 class="MnTpBm20">Definition and Usage</h2>
    <p>
        The Letter Spacing utility adjusts the horizontal spacing between characters using the CSS letter-spacing property. It enhances text readability, helps refine typography, and can be used for both aesthetic and functional purposes in UI design.
    </p>

    <h3 class="MnTpBm20">Letter Spacing Examples</h3>

    <table class="FtWt500 Wh100p BrCeCe FtSe10 Sl:FtSe16">
        <thead>
            <tr class="CrBdTe91">
                <th class="Br1 CrBrGy Pg5 TtAnLt">Property</th>
                <th class="Br1 CrBrGy Pg5 TtAnLt">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>LrSg0</strong></td>
                <td class="Br1 CrBrGy Pg5">letter-spacing: 0;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>LrSg0o5</strong></td>
                <td class="Br1 CrBrGy Pg5">letter-spacing: 0.5;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>LeHt9o5</strong></td>
                <td class="Br1 CrBrGy Pg5">letter-spacing: 9.5;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>LrSg10</strong></td>
                <td class="Br1 CrBrGy Pg5">letter-spacing: 10;</td>
            </tr>
        </tbody>
    </table>
    <h3 class="MnTpBm20">Note</h3>
    <p>
        The Letter Spacing has a range of 0 to 10 with interval of 0.5. The default value is 1. Use 'o' for representing decimal value.
    </p>
</section>

<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">
    <div class="FxRw FxCr BxSw BrRs5 PgTpBm5 PnRe ZIx100"> <h2 class="BrRs5">Word Spacing</h2>  </div>

    <h2 class="MnTpBm20">Definition and Usage</h2>
    <p>
        The Word Spacing utility adjusts the horizontal space between words using the CSS word-spacing property. It enhances the overall rhythm and flow of text, especially in headlines or decorative text styles.
    </p>

    <h3 class="MnTpBm20">Word Spacing Examples</h3>

    <table class="FtWt500 Wh100p BrCeCe FtSe10 Sl:FtSe16">
        <thead>
            <tr class="CrBdTe91">
                <th class="Br1 CrBrGy Pg5 TtAnLt">Property</th>
                <th class="Br1 CrBrGy Pg5 TtAnLt">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>WdSg0</strong></td>
                <td class="Br1 CrBrGy Pg5">word-spacing: 0;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>WdSg0o5</strong></td>
                <td class="Br1 CrBrGy Pg5">word-spacing: 0.5;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>WdHt9o5</strong></td>
                <td class="Br1 CrBrGy Pg5">word-spacing: 9.5;</td>
            </tr>
            <tr>
                <td class="Br1 CrBrGy Pg5"><strong>WdSg10</strong></td>
                <td class="Br1 CrBrGy Pg5">word-spacing: 10;</td>
            </tr>
        </tbody>
    </table>
    <h3 class="MnTpBm20">Note</h3>
    <p>
        The Letter Spacing has a range of 0 to 10 with interval of 0.5. The default value is 1. Use 'o' for representing decimal value.
    </p>
</section>
