@{
    ViewBag.ActiveLink = "Pages";
    ViewBag.ActiveSubLink = "Landing";
    ViewBag.ActiveSubSubLink = "Forget_Password";
}


<style>
    .Btn:hover {
        transform: scale(1.2);
        transition: transform 0.2s ease-in-out;
    }
</style>

<section class="Pg10 DyFx FxJyCtCr FxAnIsCr">
    <div>
        <a href="../LandingPage/ForgetPassword1" target="_blank" class='Btn Bn CrBdTe CrWe Br0 BrRs25 FtWt500'>Preview Full Page</a>
    </div>
</section>

<iframe class="Wh100p Br4 CrBrTe BrRs20 HtMn100vh" src="../LandingPage/ForgetPassword1" title="W3Schools Free Online Web Tutorials">
</iframe>

@* code *@
<section class="Pg20 BrRs10 MnTpBm20 CrBdWe91">

    @* code container  *@
    <div class="codeContainer Br1 CrBrGy90Lt BrRs10">

        @* header  *@
        <div class="DyFx BrBm1 CrBrGy90Lt FxJyCtSeBn FxAnIsCr Pg10 BrTpLtRs10 BrTpRtRs10" style="background: #F5F5F5">
            <div class="fileName">
                <span class="FtWt600">Source Code</span>
            </div>
            <div class="DyFx FxAnIsCr Gp10">
                <div class="">
                    <select class="switcherSelect TtBx Pg0 PgLtRt5 PgTpBm5">
                        <option value="HTML">HTML</option>
                    </select>
                </div>

                @* copy  *@
                <button aria-label="Copy code" class="copyButton Bn Br1 CrBrGy90Lt" type="button">
                    @* copy button  *@
                    <svg class="copy-icon" data-testid="geist-icon" height="16" width="16" stroke-linejoin="round" viewBox="0 0 16 16" aria-hidden="true">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.75 0.5C1.7835 0.5 1 1.2835 1 2.25V9.75C1 10.7165 1.7835 11.5 2.75 11.5H3.75H4.5V10H3.75H2.75C2.61193 10 2.5 9.88807 2.5 9.75V2.25C2.5 2.11193 2.61193 2 2.75 2H8.25C8.38807 2 8.5 2.11193 8.5 2.25V3H10V2.25C10 1.2835 9.2165 0.5 8.25 0.5H2.75ZM7.75 4.5C6.7835 4.5 6 5.2835 6 6.25V13.75C6 14.7165 6.7835 15.5 7.75 15.5H13.25C14.2165 15.5 15 14.7165 15 13.75V6.25C15 5.2835 14.2165 4.5 13.25 4.5H7.75ZM7.5 6.25C7.5 6.11193 7.61193 6 7.75 6H13.25C13.3881 6 13.5 6.11193 13.5 6.25V13.75C13.5 13.8881 13.3881 14 13.25 14H7.75C7.61193 14 7.5 13.8881 7.5 13.75V6.25Z" fill="currentColor">
                        </path>
                    </svg>

                    <svg class="check-icon" width="0" height="0" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 8L6 11L13 4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                </button>

            </div>
        </div>

@* code  *@
<pre class="codeBlock highlight BrRs10">
<code class="language-html  BrRs10" style="background: none">
&lt;section class=&quot;DyFx FxJyCtCr&quot;&gt;
    &lt;div class=&quot;DyFx FxDnCn FxJyCtCr FxAnIsCr Br1 CrBrGy BrRs2p Wh99p Sl:Wh40p&quot;&gt;
        &lt;div class=&quot;Wh100p DyFx FxJyCtCr FxAnIsCr&quot;&gt;
            &lt;div class=&quot;Ht100&quot;&gt;
                &lt;img src=&quot;~/images/CelebrateTech.svg&quot; class=&quot;Wh100p Ht100p&quot; /&gt;
            &lt;/div&gt;
        &lt;/div&gt;

        &lt;div class=&quot;Pg20 Wh90p&quot;&gt;

            &lt;div class=&quot;TtAnCr&quot;&gt;
                &lt;h1&gt;Forget Password&lt;/h1&gt;
                &lt;p class=&quot;FtSe12&quot;&gt;Enter your email address and your password will be reset and emailed to you.&lt;/p&gt;
            &lt;/div&gt;
            &lt;form id=&quot;LoginFormID&quot; action=&quot;/&quot; method=&quot;post&quot; novalidate=&quot;novalidate&quot;&gt;
                &lt;div id=&quot;CreateOrEditLogin&quot;&gt;

                    &lt;div style=&quot;display:none;&quot;&gt;responseformUT ShowValidation&lt;/div&gt;
                    &lt;input type=&quot;hidden&quot; value=&quot;&quot; id=&quot;ReturnUrl&quot; name=&quot;ReturnUrl&quot;&gt;

                    &lt;div class=&quot;PgTpBm10&quot;&gt;
                        &lt;input class=&quot;TtBx&quot; type=&quot;Email&quot; placeholder=&quot;User Email&quot; data-val=&quot;true&quot; data-val-email=&quot;The Email field is not a valid e-mail address.&quot; data-val-required=&quot;The Email field is required.&quot; id=&quot;Email&quot; name=&quot;Email&quot; value=&quot;&quot;&gt;
                    &lt;/div&gt;

                &lt;/div&gt;

                &lt;div class=&quot;PgTpBm10&quot;&gt;
                    &lt;button type=&quot;submit&quot; class=&quot;Bn CrBrTe CrBdTe CrWe Wh100p&quot;&gt;Submit&lt;/button&gt;
                &lt;/div&gt;

                &lt;input name=&quot;__RequestVerificationToken&quot; type=&quot;hidden&quot; value=&quot;CfDJ8P5m-86tl6hLsnZc6YWdK4KwPi8PGDxQyIPiWqlOXO32wL-_IPSr_7980-ZPvG-5-zWM-qxbN7sIBj0nb_2wmpv4wZk4kJqilZIH3EiK48alwqTxFxO48aNkA8rXImUYkv5YkpRnFepXNfvWudd0Oc0&quot;&gt;

            &lt;/form&gt;

        &lt;/div&gt;
    &lt;/div&gt;
&lt;/section&gt;
</code>
</pre>
    </div>

</section>